///  main: _module.scss
///  ==========================================================================
///  Members list
///  ==========================================================================

// Placeholder role headers
.membersWrap-2h-GB4 .memberGroupsPlaceholder-3mwPub {
  background: RGB(var(--tc-color-2));
  border-radius: 0;
}
// Placeholder avatar image when user is loading
.membersWrap-2h-GB4 .placeholderAvatar-damqh6 {
  background-color: RGB(var(--tc-color-2));
  border-radius: var(--user-roundness);
}
// Placeholder user namne when user is loading
.membersWrap-2h-GB4 .placeholderUsername-2B_OA9,
.membersWrap-2h-GB4 .mulitplePlaceholderUsername-pogq9I {
    background: RGB(var(--tc-color-2));
    border-radius: 0;
}

// Twitchcord member list activity playing images
#{classes('twitchcord.activityPlaying')} {
  @include flex-center;
  border-radius: 2px;
  margin-left: 2px;
  overflow: hidden;
}

.mobileIndicator-329Gd6 {
  @include mask(var(--mobile-phone-icon), RGB(var(--tc-color-10)), 11px);
  @include size(20px);
  margin: 0 0 0 2px;
  order: 2;
  g {
    display: none;
  }
}

#{$memberswrap} {
  #{$members} {

  }
}
.members-1998pB .member-3W1lQa.popout-open .content-OzHfo4,
.members-1998pB .member-3W1lQa:hover .content-OzHfo4 {
    background: none!important;
}

.members-1998pB .member-3W1lQa:hover .image-33JSyf,
.members-1998pB .member-3W1lQa.popout-open .image-33JSyf {
    border-color: RGB(var(--tc-color-10));
}

.members-1998pB .member-3W1lQa .username-1cB_5E {
  @include ellipsis(calc(100% - 14px), inline-block);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 0;
    order: 2;
    filter: var(--soften-role-colors)!important;
}

.members-1998pB .member-3W1lQa .memberInner-2CPc3V {
    width: calc(var(--channel-members-width) - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
}

.members-1998pB .member-3W1lQa:hover .username-1cB_5E,
.members-1998pB .member-3W1lQa.popout-open .username-1cB_5E {
    color: RGB(var(--tc-color-10))!important;
}

#{$memberswrap} #{$avatarwrapper} {
  @include size(var(--members-list-avatar-size));
  background-size: calc(var(--members-list-avatar-size) - 4px) calc(var(--members-list-avatar-size) - 4px)!important;
}

#{$memberswrap} #{$avatarimage} {
  @include size(var(--members-list-avatar-size));
  border: 2px solid transparent;
  margin-right: 9px;
  background-color: transparent;
  background-size: calc(var(--members-list-avatar-size) - 4px) calc(var(--members-list-avatar-size) - 4px)!important;
  box-sizing: border-box;
}

.member-3W1lQa .status-oxiHuE.status-typing {
    width: 20px!important;
    right: -4px !important;
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm {
  @extend %members-list-header;
  @include reset;
  cursor: default;
  height: 21px;
}

.membersWrap-2h-GB4 .status-oxiHuE {
  bottom: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  border: 2px solid RGB(var(--tc-color-1))!important;
}

.members-1998pB.scroller-2FKFPG::-webkit-scrollbar,
.members-1998pB.scroller-2FKFPG::-webkit-scrollbar-track,
.members-1998pB.scroller-2FKFPG::-webkit-scrollbar-track-piece,
.members-1998pB.scroller-2FKFPG::-webkit-scrollbar-thumb {
  visibility: visible;
  min-height: 50px!important;
}

.membersWrap-2h-GB4 .scrollerWrap-2lJEkd {
    border-right: none;
    padding-right: 2px;
    padding-top: 2px;
}

.members-1998pB {
    background-color: RGB(var(--tc-color-1))!important;
    overflow-y: auto;
    max-width: var(--channel-members-width);
    // Fix for NSFW channel and very few members
    // https://i.imgur.com/4S8LZgP.png
    overflow-y: auto;
    padding: 0 10px;
}

.members-1998pB .avatarOffline-3GF27z {
  filter: grayscale(0)!important;
}

.members-1998pB .member-3W1lQa {
    padding: 5px!important;
    margin-left: 15px;
    color: RGB(var(--tc-tint-10))!important;
    height: 40px;
    line-height: 40px;
}

.members-1998pB .member-3W1lQa .activity-1IYsbk {
  line-height: 0;
  font-size: 0;
  color: RGB(var(--tc-tint-7));
  opacity: 1;
  height: 14px;
}

.members-1998pB .member-3W1lQa .activityIcon-S3CciC,
.private-channels .channel .channel-activity-icon {
  display: none;
}


.membersWrap-2h-GB4 {
    min-width: 0;
    position: relative;
    z-index: 100;
    width: var(--channel-members-width);
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm ~ .membersGroup-v9BXpm {
  margin-top: 20px;
}

.membersWrap-2h-GB4 .content-OzHfo4 {
  padding: 0;
}

.membersWrap-2h-GB4 .content-OzHfo4 .avatarWrapper-3B0ndJ {
  margin-right: 10px;
}

.membersWrap-2h-GB4 .member-3W1lQa {
    padding: 0!important;
    margin-left: 0;
    margin-right: 5px;
    color: RGB(var(--tc-tint-10))!important;
    height: 38px;
    line-height: 34px;
    border-radius: 0;
}
.membersWrap-2h-GB4 .member-3W1lQa
.membersWrap-2h-GB4 .member-3W1lQa .activityText-sLG0UL {
  font-size: 0;
  display: flex;
  align-items: center;
}

.membersWrap-2h-GB4 .avatar-small .status {
  right: -4px !important;
  bottom: -4px !important;
}

.membersWrap-2h-GB4 .member-3W1lQa .activity-1IYsbk strong {
  @include ellipsis(100%, inline-block);
  margin-top: 2px;
  font-weight: 400;
  font-size: 12px;
  height: 16px;
  line-height: 12px;
}

.members-1998pB .member-3W1lQa .ownerIcon-uZ6mE7 {
  height: 12px;
  margin-left: 4px;
  position: relative;
  top: -3px;
  width: 18px;
  overflow: visible;
  display: none;
}
