///  main: _module.scss
///  ==========================================================================
///  User profile modals
///  ==========================================================================

$module: (
  'modal': (
    'user-profile': (
      background: color('primary-1'),
      border-color: var('modal-border-color'),
      border-style: var('modal-border-style'),
      border-width: var('modal-border-width'),
      border-radius: var('modal-border-radius'),
      box-shadow: var('modal-box-shadow'),
      width: 80rem,
      max-height: 80rem,
      'activity': (
        background: color('tint-2'),
        border-color: color('white', .05),
        border-style: solid,
        border-width: 0 0 .1rem 0,
        border-radius: 0,
        box-shadow: none
      ),
      'banner': (
        width: var('modal-user-profile-width'),
        height: calc(#{var('modal-user-profile-banner-width')} * #{var('aspect-ratio-user-profile-banner')})
      ),
      'nav': (
        background: color('tint-1'),
        border-color: transparent,
        border-style: none,
        border-width: 0,
        border-radius: 0,
        box-shadow: none,
        height: 5rem
      )
    )
  )
);

// Generating CSS variables from map . . .
:root { @include generate-css-vars($module); }


// User profile container
.root-SR8cQa {
  @include get-props($module, 'modal', 'user-profile');
  height: auto;
  // Top section outer container (user profile banner,
  // user avatar, user name, tab menu bar, activity status)
  .topSectionNormal-2-vo2m,
  .topSectionPlaying-1J5E4n,
  .topSectionStreaming-1Tpf5X,
  .topSectionSpotify-1lI0-P,
  .topSectionXbox-3fWLjS {
    background: none;
  }
  // Header outer container (user profile banner,
  // user avatar, user name)
  .header-QKLPzZ {
    @include size(var('modal-user-profile-banner-width'), var('modal-user-profile-banner-height'));
    position: relative;
    align-items: flex-end;
    min-width: var('modal-user-profile-min-width');
    padding: 0;
    border-radius: var('modal-user-border-radius') var('modal-user-border-radius') 0 0;
    &::after {
      @include component('placeholder', 'user-profile-banner');
      @include size(var('modal-user-profile-banner-width'), var('modal-user-profile-banner-height'));
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    // Profile avatar wrapper
    .wrapper-2F3Zv8 {
      @include size(6rem);
      z-index: 0;
      margin: 0 1.5rem 2rem;
      // Profile avatar
      .image-33JSyf {
        @include size(6rem);
        background-color: color('primary-1');
        box-shadow: 0 0 0 2px color('tint-1');
        &::before,
        &::after {
          @include size(80rem, 25rem);
          content: '';
          position: absolute;
          margin: calc((25rem - 8rem) * -1) 0 0 -1.5rem;
        }
        &::before {
          z-index: -1;
          background: color('black', .2);
        }
        &::after {
          z-index: -2;
          background-image: url('http://pluspng.com/img-png/computer-game-png-hd-video-game-backgrounds-latest-hd-wallpapers-1920.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }
      .status-oxiHuE {
        --status-box-shadow-color: #{color('tint-1')};
        right: 0 !important;
        bottom: 0 !important;
      }
    }
    // Discord uses a generic div wrapper for users without an activity status
    // so, this targets both users with an activity status and those without
    + div {
      display: flex;
      flex-flow: column wrap;
      background: none;
    }
    // `Send Friend Request`, `Send Message` button
    .button-38aScr {
      @include component('button', 'primary');
      position: absolute;
      right: 4rem;
      bottom: -4rem;
      // `More` vertical ... menu button
      + [role='button'] {
        @include component('button', 'blank', 'base');
        position: absolute;
        right: 1rem;
        bottom: -4rem;
        z-index: 1;
        display: flex !important;
        align-items: center;
        width: auto !important;
        padding: 0 !important;
        .additionalActionsIcon-1FoUlE {
          @include mask(icon('dots-vertical'), color('white', .3), 2.4rem);
          margin: 0;
          background-image: none;
        }
      }
    }
    &:hover {
      .profileBadges-2vWUYb {
        // animation: none;
        // animation: fadeIn 0.3s forwards;
      }
    }
  }
  // Name, discrim, badges container
  .headerInfo-30uryT {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 6rem;
    margin-bottom: 1.6rem;
    padding: 0;
    overflow: hidden;
  }
  // Name, discrim inner container
  .nameTag-2IFDfL {
    position: relative;
    order: 2;
    margin: 0;
    line-height: 1.5;
  }
  // Username
  .username-3gJmXY {
    margin-right: .4rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: color('white');
  }
  // Discriminator
  .discriminator-xUhQkU {
    display: none;
  }
  // Profile badges container
  .profileBadges-2vWUYb {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin: 0;
    // transition: transform 0.3s ease;
    // animation: translateRightToLeft 0.5s forwards reverse 2s;
  }
  .profileBadge-2BqF-Z {
    @include size(2rem, 1.6rem);
    background-image: none !important;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
    // Discord Staff badge
    &.profileBadgeStaff-13GO7z {
      @include mask(icon('staff'), #fff);
    }
    // Discord Partner badge
    &.profileBadgePartner-SjK6L2 {
      @include mask(icon('partner'), #fff);
    }
    // HypeSquad Events badge
    &.profileBadgeHypesquad-1YIe7Z {
      @include mask(icon('hypesquad-events'), #fff);
    }
    // HypeSquad Bravery badge
    &.profileBadgeHypeSquadOnlineHouse1-xN6tES {
      @include mask(icon('hypesquad-bravery'), #fff);
    }
    // HypeSquad Brilliance badge
    &.profileBadgeHypeSquadOnlineHouse2-3jBpXR {
      @include mask(icon('hypesquad-brilliance'), #fff);
    }
    // HypeSquad Balance badge
    &.profileBadgeHypeSquadOnlineHouse3-1YbjMX {
      @include mask(icon('hypesquad-balance'), #fff);
    }
    // Discord Nitro badge
    &.profileBadgePremium-3kZ9Qj {
      @include mask(icon('nitro'), #fff);
    }
    // Discord Bug Hunter badge
    &.profileBadgeBugHunter-IV0vLE {
      @include mask(icon('bug'), #fff);
    }
    // Early Supporter badge
    &.profileBadgeEarlySupporter-PQB_0a {
      @include mask(icon('early-supporter'), #fff);
      width: 3rem;
    }
    // Nitro Boosting badge, level 1
    &.profileGuildSubscriberlvl1-pKd1EZ {
      @include mask(icon('booster-level-1'), #fff);
    }
    // Nitro Boosting badge, level 2
    &.profileGuildSubscriberlvl2-1aIFve {

    }
    // Nitro Boosting badge, level 3
    &.profileGuildSubscriberlvl3-33AROf {

    }
    // Nitro Boosting badge, level 4
    &.profileGuildSubscriberlvl4-2yY8EG {

    }
  }
  // Custom status text container
  .customStatus-154i-H {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // Activity outer container
  .activity-1ythUs {
    position: relative;
    order: 2;
    width: 100%;
    padding: 1.5rem 2rem;
    overflow: hidden;
    background: var('modal-user-profile-activity-background');
    border-color: var('modal-user-profile-activity-border-color');
    border-style: var('modal-user-profile-activity-border-style');
    border-width: var('modal-user-profile-activity-border-width');
    border-radius: var('modal-user-profile-activity-border-radius');
    box-shadow: var('modal-user-profile-activity-box-shadow');
    &::before,
    &::after {
      @include size(100%);
      content: '';
      position: absolute;
      top: 0;
      // MAGIC NUMBER: Dunno why -38% works here
      right: -38%;
      display: block;
    }
    &::before {
      @include mask(icon('circle-pulsing'), color('white', .05), auto 250%, no-repeat center center);
    }
    &::after {
      @include mask(icon('dpad'), color('tint-1'), auto 100%, no-repeat center center);
    }
  }
  .topSectionPlaying-1J5E4n {
    .headerText-1HLrL7 {
      &::before {
        @include mask(icon('dpad'), color('white'));
        @include size(1.4rem);
        content: '';
        margin: 0 .4rem 0 0;
      }
    }
  }
  .topSectionSpotify-1lI0-P {
    .content-3JfFJh {
      grid-row-end: -1;
    }
    .headerText-1HLrL7 {
      &::before {
        @include mask(icon('music-note'), color('white'));
        @include size(1.6rem);
        content: '';
        margin: 0 .4rem 0 0;
      }
    }
    .activity-1ythUs {
      &::after {
        @include mask(icon('music-record'), color('tint-1'), auto 80%, no-repeat center center);
      }
    }
  }
  .topSectionStreaming-1Tpf5X {
    .headerText-1HLrL7 {
      &::before {
        @include size(1rem);
        content: '';
        margin: 0 .8rem 0 0;
        background: color('red');
        border-radius: 50%;
      }
      &::after {
        @include size(1rem);
        content: '';
        position: absolute;
        background: color('red');
        border-radius: 50%;
        animation: StreamLivePulseCircle 2s infinite;
      }
    }
    .activity-1ythUs {
      &::after {
        @include mask(icon('streaming'), color('tint-1'), auto 100%, no-repeat center center);
      }
    }
  }
  .topSectionXbox-3fWLjS {
    .headerText-1HLrL7 {
      &::before {
        @include mask(icon('dpad'), color('white'));
        @include size(1.4rem);
        content: '';
        margin: 0 .4rem 0 0;
      }
    }
    .activity-1ythUs {
      &::after {
        @include mask(logo('xbox'), color('tint-1'), auto 80%, no-repeat center center);
      }
    }
  }
  .textRow-19NEd_ {
    @include ellipsis;
    margin: 0;
    // If it has any children, give it a margin
    + div,
    + span {
      margin: .4rem 0 0;
    }
  }
  .body-ZAhrcj {
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto .6fr;
    grid-template-areas: 'image info info'
                         'image buttons .';
    gap: 0 1.5rem;
  }
  .assets-VMAukC {
    grid-area: image;
    position: relative;
  }
  .gameIcon-gg34Dz {
    @include boxart('before');
    border-radius: var(--game-icon-border-radius);
    grid-area: image;
    opacity: 1 !important;
    &::before {
      content: '';
      position: absolute;
      top: -40px;
      right: 23px;
      z-index: -1;
      display: block;
      width: calc(140px * 3 / 4);
      height: 140px;
      pointer-events: none;
      cursor: default;
      background: var(--game-boxart-placeholder) no-repeat center / 140%,radial-gradient(circle at center, color('primary-8'), color('primary-7')) !important;
      background-repeat: no-repeat !important;
      background-size: 100% 100% !important;
      border-radius: var(--boxart-border-radius);
      box-shadow: 0 0 0 2px color('primary-8'), 0 0 140px 0px color('primary-13', .8);
      animation: translateBottomToTop 1s forwards;
    }
  }
  .assetsLargeImageProfile-3YXDex {
    @include size(10rem);
    -webkit-mask: none;
    mask: none;
  }
  .assetsSmallImageProfile-3JcsV1 {
    position: absolute;
    right: -4px;
    bottom: -4px;
    background: color('tint-2');
    border-radius: 50%;
    box-shadow: 0 0 0 3px color('tint-2');
  }
  .timestamp-VjAZmo {
    font-size: 1.2rem;
    font-weight: 700;
    color: color('tint-7');
  }
  .activityName-1IaRLn {
    font-size: 1.2rem;
    font-weight: 700;
    color: color('white');
  }
  .nameNormal-2lqVQK {
    .activityName-1IaRLn {
      font-size: 1.6rem !important;
    }
  }
  .details-38sfDr,
  // Not sure what this is for... Pulled from Discor CSS
  .name-29ETJS {
    color: color('tint-9') !important;
  }
  .content-3JfFJh {
    margin: 0;
    color: color('tint-9') !important;
    grid-area: info;
    &:last-child {
      grid-row-end: -1;
    }
    &:only-child {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }
    &.contentNoImagesProfile-371_Rv {
      grid-column-start: 1;
      + .actionsProfile-1QS4n- {
        margin-top: 1rem;
        grid-column-start: 1;
      }
    }
  }
  .actionsProfile-1QS4n- {
    grid-area: buttons;
    margin: 0;
  }
  .listeningActionsProfile-1fYwru {
    position: absolute;
    top: -4rem;
    right: 0;
    grid-area: none;
    margin: 0;
  }
  .headerText-1HLrL7 {
    @include component('header', 'h6');
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem;
    text-transform: capitalize;
  }
  .timeBarProfile-10b-fm {
    margin: 1.5rem 0 0 !important;
  }
  .bar-3urHkF,
  .barInner-3NDaY_ {
    border-radius: 0;
  }
  .bar-3urHkF {
    margin: 0 0 .5rem 0;
    background: color('tint-3');
  }
  .barInner-3NDaY_ {
    background: color('primary-9');
  }
  // Current / end time
  .text-AOoUen {
    color: color('tint-7');
  }
  .button-38aScr {
    width: auto;
    max-width: none;
    &:disabled {
      .listenAlongIcon-2vb1HG {
        color: var('button-disabled-color');
      }
    }
    .contents-18-Yxp {
      .flex-1xMQg5 {
        justify-content: center;
      }
    }
  }
  .iconButtonSize-3s24uQ {
    min-width: auto;
    max-width: 100%;
  }
  // Nav outer container
  .tabBarContainer-1s1u-z {
    order: 1;
    height: var('modal-user-profile-nav-height');
    padding: 0;
    background: var('modal-user-profile-nav-background');
    border-color: var('modal-user-profile-nav-border-color');
    border-style: var('modal-user-profile-nav-border-style');
    border-width: var('modal-user-profile-nav-border-width');
  }
  // Nav inner container
  .tabBar-2MuP6- {
    height: 100%;
  }
  // Nav item
  .tabBarItem-1b8RUP {
    margin: 0;
    padding: .5rem 2rem;
    overflow: visible;
    font-size: 1.4rem;
    color: var('link-color') !important;
    border: none;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: -.1rem;
      width: .1rem;
      height: 3.6rem;
      background: color('white', .05);
      transform: translateY(-50%);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: .1rem;
      display: block;
      width: 100%;
      border-bottom: 4px solid transparent;
      transition: border .25s;
    }
    &:hover {
      &::after {
        border-bottom-color: color('primary-5');
      }
    }
    &.selected-3s45Ha,
    &[style*='border-color: rgb(255, 255, 255);'] {
      &::after {
        border-bottom-color: color('primary-7');
      }
    }
    &:last-of-type {
      &::before {
        display: none;
      }
    }
  }
  // Content container
  .body-3ND3kc {
    height: 40rem;
    background: none !important;
  }
}

[src='/assets/d8e257d7526932dcf7f88e8816a49b30.png'] {
  @include size(4rem);
  content: var(--logo-xbox);
}