// .tc-titlewrapper {
//   height: 50px;
//   display: flex;
//   align-items: center;
//   z-index: 1000;
//   position: fixed;
//   padding: 0;
//   #tc-friends-btn, #tc-activity-btn, #tc-messages-btn, #tc-lfg-btn {
//     cursor: pointer;
//     height: 50px;
//     font-size: 14px;
//     line-height: 50px;
//     margin: 0 5px;
//     float: left;
//     white-space: nowrap;
//     color: var(--dark-text-tint2);
//     &.active {
//       icon {
//         opacity: 1;
//       }
//     }
//     // &:hover {
//     //   color: #fff;
//     //   icon {
//     //     opacity: 1;
//     //   }
//       // .channel-name {
//       //   opacity: 1;
//       //   visibility: visible;
//       //   max-width: 200px;
//       //   padding-right: 10px;
//       //   transition: .4s;
//       // }
//     // }
//     // .channel-name {
//     //   visibility: hidden;
//     //   opacity:0;
//     //   padding-right: 0;
//     //   max-width: 0;
//     //   display:inline-block;
//     //   transition: .4s;
//     // }
//     .channel-name {
//       display: none;
//     }
//     icon {
//       @include size(37px, 50px);
//       display: inline-block;
//       float: left;
//       opacity: 0.5;
//       transition: opacity .4s;
//     }
//   }
//   #tc-messages-btn {
//     margin-left: 20px;
//     .tc-icon-messages {
//       @include messages(#fff, transparent, 26px);
//     }
//   }
//   #tc-friends-btn {
//     .tc-icon-friends {
//       @include friends(#fff, transparent, 26px);
//     }
//   }
//   #tc-activity-btn {
//     .tc-icon-activity {
//       @include activity(#fff, transparent, 26px);
//     }
//   }
//   #tc-lfg-btn {
//     .tc-icon-lfg {
//       @include lfg(#fff, transparent, 26px);
//     }
//   }
// }

/*
.tc-titlewrapper {
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  padding: 0;
  #tc-friends-btn, #tc-activity-btn, #tc-messages-btn, #tc-lfg-btn {
    cursor: pointer;
    display: flex;
    position: relative;
    text-decoration: none;
    min-width: 18px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 0 0 auto;
    &.active {
      .channel-name {
        color: #fff;
        opacity: 1;
      }
      icon {
        opacity: 1;
      }
      .tc-icon-messages {
        @include messages(#fff, transparent, 26px);
      }
      .tc-icon-friends {
        @include friends(#fff, transparent, 26px);
      }
      .tc-icon-activity {
        @include activity(#fff, transparent, 24px);
      }
      .tc-icon-lfg {
        @include lfg(#fff, transparent, 26px);
      }
    }
  }
  .channel-name {
    line-height: 20px;
    font-size: 14px;
    margin: 0;
    padding: 0 20px 0 2px;
    white-space: nowrap;
    color: #b19dd8;
    transition: color 0.15s;
    &:hover {
      color: #fff;
    }
  }
  icon {
    @include size(37px, 50px);
    display: inline-block;
    float: left;
  }
  #tc-messages-btn {
    margin-left: 10px;
    .channel-name {
      padding-left: 0;
    }
    .tc-icon-messages {
      @include messages(#b19dd8, transparent, 20px);
    }
  }
  #tc-friends-btn {
    .tc-icon-friends {
      @include friends(#b19dd8, transparent, 20px);
    }
  }
  #tc-activity-btn {
    .tc-icon-activity {
      @include activity(#b19dd8, transparent, 18px);
    }
  }
  #tc-lfg-btn {
    .tc-icon-lfg {
      @include lfg(#b19dd8, transparent, 20px);
    }
  }
}
*/

// @media (max-width: 1200px) {
//   :root {
//     --channels-width: 0px;
//     --channel-members-width: 53px;
//   }
//   .membersWrap-2h-GB4 .memberInner-2CPc3V {
//     opacity: 0;
//     visibility: hidden;
//   }
//   .channels-Ie2l6A .scrollerWrap-2lJEkd {
//     padding-right: 0;
//     border: 0;
//   }
//   .members-1998pB {
//     overflow: hidden!important;
//     padding: 0 8px!important;
//   }
//   .membersWrap-2h-GB4:hover {
//     --channel-members-width: 260px;
//   }
//   .membersWrap-2h-GB4:hover .members-1998pB {
//     overflow-y: auto!important;
//     padding: 0 10px!important;
//   }
//   .membersWrap-2h-GB4 .membersGroup-v9BXpm {
//     @include mask(var(--user-icon), RGB(var(--tc-tint-7)), 16px);
//     @include size(30px, 16px);
//     color: transparent!important;
//   }
//   .membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
//     color: RGB(var(--tc-tint-10))!important;
//     width: auto;
//     height: auto;
//     background: none!important;
//   }
//   .membersWrap-2h-GB4:hover .memberInner-2CPc3V {
//     opacity: 1;
//     visibility: visible;
//   }
//   .guilds-wrapper:hover + .flex-1xMQg5 .channels-Ie2l6A,
//   .channels-Ie2l6A:hover {
//     --channels-width: 240px;
//   }
//   .guilds-wrapper:hover + .flex-1xMQg5 .channels-Ie2l6A .scrollerWrap-2lJEkd,
//   .channels-Ie2l6A:hover .scrollerWrap-2lJEkd {
//     padding-right: 2px;
//     border-right: 1px solid RGB(var(--tc-color-4));
//   }
// }
