@import 'utilities/module';
@import 'base/module';
@import 'layout/module';
@import 'components/module';
@import 'views/module';
@import 'plugins/module';
@import 'addons/module';

/*
///////////////////////////////////////
//
//  Created by Baked
//  First started: 8/29/2017
//  Version: #{$version}
//  http://www.twitchcord.com
//  https://discord.me/twitchcord
//
///////////////////////////////////////

///////////////////////////////////////
//
//  Dustin Perolio (Baked) retains full rights of this code.
//
//  You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
//  You are allowed to edit the theme for personal use only.
//
//  If you enjoy using the theme, help spread the word!
//
///////////////////////////////////////
*/

.tc-refreshing {
  animation: rotate360 1s infinite;
}

// Remove app shake from Ctrl+Alt+Shift up/down keybind
.app {
  transform: none!important;
}

// Early loading BG fix, connection background
.loading-Ags1CY,
.appMount-3VJmYg,
.app-19_DXt > div[style*="background-color: rgb(47, 49, 54)"] {
  background: RGB(var(--tc-color-4))!important;
  opacity: 1!important;
}

// Add red flash to replace Ctrl+Alt+Shift up/down shake animation
.app[style*="transform: translate3d(2px"]::after, .app[style*="transform: translate3d(-2px"]::after {
  content: '';
  @include size(100vw, 100vh);
  @include fixed(top 0 left 0);
  display: block;
  background: RGBA(var(--notification-color), 0.2);
  z-index: 99999999999;
  animation: fadeOut 0.5s forwards;
}

// To immitate Twitch's gray border around the app
body::after {
  content: '';
  @include absolute(top 0 left 0 bottom 0 right 0);
  border: 1px solid rgba(100, 100, 100, 0.3);
  z-index: 999999999;
  pointer-events: none;
}

// Image zoom images
#{$imagezoom} {
  border-radius: 0;
  cursor: zoom-in!important;
}

.title-3qD0b- .input-autosize-input, .titleCall-_b9o8P .input-autosize-input {
    padding: 0;
}

// Channel header AKA
#{$channelheaderaka} {
  display: none;
}

// Hide the default Discord channel name and topic
.topic-2QX7LI, .noTopic-2b04lB,
.titleText-3X-zRE .channelName-3stJzi {
  display: none;
}

// Mentions indicator container
#{$mentionsindicatorbar} {
  border-radius: 0;
  width: 100%;
  background: RGB(var(--notification-color))!important;
  box-shadow: none!important;
  &:hover {
    background: RGB(var(--notification-color-hover))!important;
  }
  // Channels unread bars
  @at-root #{$channelmentionsindicatortop} {
    transform: translateY(-150%)!important;
  }
  @at-root #{$channelmentionsindicatorbottom} {
    transform: translateY(150%)!important;
  }
  // Mentions indicator is active
  &#{$mentionsindicatorbaractive} {
    background: RGB(var(--notification-color))!important;
    transition: var(--transition-none, transform 0.3s);
  }
  // Down and up arrow icons on unread mentions indicators
  #{$mentionsindicatorarrowicon} {
    display: none;
  }
}


.ui-hover-card:before {
    background-color: RGB(var(--tc-color-4))!important;
    border: none!important;
    border-radius: 0;
    margin: 0 20px;
    bottom: 0;
}

.avatar-small .status {
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0px;
    border-radius: var(--status-roundness);
    border: 2px solid RGB(var(--tc-color-2));
}

.avatar-large,
.avatar-small,
.avatar-xlarge,
.avatar-xsmall,
.avatar-xxlarge {
  border-radius: var(--user-roundness)!important;
}

.avatar-large {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: content-box;
  backface-visibility: hidden;
}

// ????????????????????????????
.reset-2ikQ30 {
  transition: opacity 0.2s;
  &:hover {
    text-decoration: none;
    transition: opacity 0.2s;
  }
}

// ????????????????????????????
.modal-3HD5ck .mention {
    background-color: RGB(var(--tc-color-7));
    color: #fff;
    padding: 0 4px!important;
    transition: background-color 0.2s;
    &:hover {
      background-color: RGB(var(--tc-color-8));
    }
}

// ????????????????????????????
.highlight {
    background: RGB(var(--tc-color-8));
    color: #fff;
}

// ????????????????????????????
.message-15tBk4 strong {
    color: #fff!important;
    background: none!important;
}

// guildswrapper container
.container-2lgZY8 {
  background: none;
}

.image .image-gif {
    top: 4px;
    right: 5px;
    width: 36px;
    height: 7px;
    border-radius: 0;
    background: RGB(var(--tc-color-8));
    text-align: center;
    line-height: 8px;
    font-size: 10px;
}

.image-gif:after {
    content: 'GIF';
    font-weight: bold;
}

.protip {
  display: none!important;
}

.emote {
  min-height: 22px;
  min-width: 22px;
  object-fit: contain;
  vertical-align: middle;
  margin: 2px 5px!important;
}

// Place the generic user background image on the avatar wrapper to
// show while avatar is loading
#{$avatarwrapper} {
  background-image: url(https://client.forgecdn.net/Avatars/UserAvatar.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: var(--user-roundness);
}

body {
  @include scrollbars;
  ::-webkit-scrollbar-thumb {
    background-clip: content-box;
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece {
    border: none!important;
  }
  // Textarea scrollbar adjustments
  textarea {
    &::-webkit-scrollbar-thumb {
      border: 3px solid RGB(var(--tc-color-1))!important;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track-piece {
      background: none!important;
    }
  }
}

// ?????????????????????????
.closed-1D6IW8 {
  transform: rotate(-90deg);
}

.mention-1f5kbO {
  box-shadow: none!important;
}

// Down and up arrow on unread indicators
.icon-2aINcz { display: none; }


.mention-1f5kbO {
  transform: translateY(0)!important;
  transition: transform 0.2s;
}

.bar-30k2ka {
  border-radius: var(--button-roundness);
  width: 100%;
}

// ??????????????????
.avatarNormal-3luwna {
    border-color: RGB(var(--tc-color-2));
}

.form.deprecated .form-actions {
    background: RGB(var(--tc-color-2));
    border-radius: 0;
    border-top: 1px solid RGB(var(--tc-color-4));
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

// Status squares
#{$status} {
  @include size(20px);
  border-radius: var(--status-roundness);
  bottom: -4px;
  right: -4px;
  // Remove color blind icons
  background-image: none!important;
}

.theme-light .markValue-2DwdXI,
.theme-dark .markValue-2DwdXI {
    color: RGB(var(--tc-tint-8));
}

.stop-animation .spinner-pulsing-ellipsis .spinner-item {
    -webkit-animation: spinner-ellipsis 1.4s infinite ease-in-out;
    animation: spinner-ellipsis 1.4s infinite ease-in-out;
}

.spinner-pulsing-ellipsis .spinner-item:nth-of-type(2) {
    -webkit-animation-delay: .2s!important;
    animation-delay: .2s!important;
}

.spinner-pulsing-ellipsis .spinner-item:nth-of-type(3) {
    -webkit-animation-delay: .4s!important;
    animation-delay: .4s!important;
}

.spinner-pulsing-ellipsis .spinner-item {
    background: RGB(var(--tc-color-8));
    border-radius: 0;
}

.pulsingEllipsis-3YiXRF .pulsingEllipsisItem-32hhWL {
    border-radius: 0;
}

.message-text {
    position: relative;
    margin-top: -2px;
}

.VIP {
    background-color: RGB(var(--tc-yellow-color))!important;
    -webkit-mask: var(--hollow-star-icon)!important;
    mask: var(--hollow-star-icon)!important;
}
.VIP.selected {
    -webkit-mask: var(--solid-star-icon)!important;
    mask: var(--solid-star-icon)!important;
}


.status .spinner-pulsing-ellipsis {
    right: -1px;
}

.defaultColor-1_ajX0, .root-SR8cQa .userInfoSection-2acyCx .userInfoSectionHeader-CBvMDh, .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS::before,
.root-SR8cQa .header-QKLPzZ .headerText-1HLrL7, .ui-phone-verification-modal .title,
.lfg-3xoFkI .wrapper-33pNYY .title-7_vIlL, .ui-new-terms-modal .title, .titleText-2hobNv {
    color: RGB(var(--tc-tint-10))!important;
    font-weight: 400!important;
    text-transform: none!important;
    font-size: 24px!important;
    line-height: 30px!important;
    padding-bottom: 5px;
}

.cloneInfo-1OC_Ee strong, .subtitle-3csUrC.primary-jw0I4K {
    font-size: 12px!important;
    margin: 0px!important;
    line-height: 16px!important;
    height: 16px!important;
    color: RGB(var(--tc-tint-6))!important;
    cursor: default;
}

.mediumGrow-uovsMu {
    min-height: 30px;
    min-width: 1px;
}

.modal-3HD5ck .scroller-2FKFPG {
    overflow-y: auto;
}

.image-zE4JEH > div {
    border-radius: 0!important;
}

.image-zE4JEH > div > canvas {
    display: none!important;
}

.image-zE4JEH > div > img {
    display: block!important;
}

.modal-3HD5ck .message-group .comment .attachment a {
    width: 270px;
}

.modal-3HD5ck .message-group .comment .attachment a::after {
    display: none;
}

.modal-2VIBV8 {
    width: 600px;
    height: 500px;
}

.modal-3HD5ck.modal-3HD5ck .switchItem-2hKKKK {
    height: auto;
}

.modal-2VIBV8 .switchItem-2hKKKK {
    height: 20px;
}

.h5-18_1nd, .title-31JmR4 {
    font-size: 12px!important;
    letter-spacing: 0;
    color: #fff!important;
}

.divider-3573oO {
  margin-top: 6px;
  margin-bottom: -8px;
  background: RGB(var(--tc-color-4), 0.5)!important;
}

.switchItem-2hKKKK:last-of-type .divider-3573oO {
    background: none!important;
}

.title-31JmR4 {
    margin-top: -3px;
}

.min-K7DTfI {
    padding: 2px 10px;
}

.hiddenMessage-1iiFV5, .input-31cgnL {
    font-size: 12px;
}

.search-bar .search-bar-inner .search-bar-icon {
    position: absolute;
    right: 0;
}

.search-bar .search-bar-inner input {
    font-size: 12px!important;
}

.ui-selectable-item {
    border-radius: 0;
}

.from-mPWN2E, .to-2819fF {
    border-radius: 0;
}

.to-2819fF {
    background-color: RGB(var(--tc-color-7))!important;
    box-shadow: 0 0 0 4px RGB(var(--tc-color-7))!important;
}

.ui-selectable-item-label {
    font-size: 14px;
}

.ui-search-bar {
    background: none!important;
    border-radius: 0;
}

.ui-popout-list-empty {
    font-size: 14px;
    padding: 8px 10px 15px;
}

textarea.input-cIJ7To {
    padding: 5px 14px;
    height: auto;
}

.copyInputSuccess-XZc7BO {
    box-shadow: inset 0 0 0 1px RGB(var(--tc-green-color)), 0 0 0 transparent;
    transition: box-shadow .12s ease-in;
}

.input-31cgnL::selection {
    color: #fff!important;
}

.ui-quick-select-label {
    opacity: 1;
    color: RGB(var(--tc-tint-7));
}

.ui-standard-sidebar-view .custom-container .custom-header {
    padding-top: 10px;
}

.ui-standard-sidebar-view .content-column.default .flexChild-faoVW3[style="flex: 0 1 40px;"] {
    margin-left: 20px!important;
}

.ui-standard-sidebar-view .custom-scroller>div {
    max-width: 100%;
    margin-right: 57px;
}

.ui-standard-sidebar-view .custom-column+.tools {
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999;
    width: 80px;
    height: 65px;
    padding: 0;
}

.ui-key-recorder .input {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #fff!important;
}

.description-3_Ncsb.primary-jw0I4K, .labelDescriptor-1PqHgD.primary-jw0I4K {
    font-weight: 400;
    display: block;
    font-size: 14px!important;
    color: RGB(var(--tc-tint-7))!important;
    margin-bottom: 10px;
    line-height: 24px;
}

.separator-6YbWrc {
    box-shadow: none!important
}
.guildName-3WI6ml .checked-3_4uQ9,
.override-2YgiXd .checked-3_4uQ9,
.overrideHighlight-YPcBxt .checked-3_4uQ9 {
    transition: transform 125ms linear;
}

.overrideHighlight-YPcBxt, .overrideHighlight-YPcBxt:hover {
    background: #efefef!important;
}

.override-2YgiXd:hover,
.override-2YgiXd:active {
    background: none!important;
}

.override-2YgiXd {
    overflow: hidden;
}

.channelName-28iMRJ {
    color: #fff!important;
    font-weight: 400;
    font-size: 14px;
}

.channelNameByline-R73-tU {
    color: RGB(var(--tc-tint-7));
}

.override-2YgiXd:hover .removeOverride-2sdvVX, .overrideHighlight-YPcBxt:hover .removeOverride-2sdvVX {
    transform: translateX(0);
    transition: transform 125ms linear;
}

.modal-3HD5ck .scrollerWrap-2lJEkd {
    background: none;
    border-radius: 0;
    border-right: none;
}

.modal-3HD5ck .container-2zArDx .embed {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    background: none!important;
}

.primary-jw0I4K {
    color: var(--dark-text-tint)!important;
    font-size: 13px!important;
}

.primaryButton-2BsGPp {
    cursor: pointer;
    background: RGB(var(--tc-color-7));
    border-radius: 0px;
    border: none!important;
    color: #ffffff;
    font-size: 12px;
    margin: 0 auto!important;
    flex: none;
}

.secondaryButton-BIo-2g {
    -webkit-box-flex: 0;
    flex: 0;
    display: inline-block;
}

.footer-2yfCgX {
    border-radius: 0;
}

.primaryButton-2BsGPp:hover {
    background: RGB(var(--tc-color-8));
    border: none!important;
}

.minorAction-OVxOke {
    margin-bottom: 0px;
    margin-top: 18px;
}

.footer-2yfCgX {
    background-color: transparent!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.status.status-typing .spinner-item {
    border-radius: 0!important;
}

.search .search-bar {
    box-shadow: inset 0 0 0 1px RGB(var(--tc-color-5));
    background: RGB(var(--tc-color-1))!important;
    color: RGB(var(--contrasted-color));
    height: 30px;
    border-radius: 0;
    padding-top: 1px;
    cursor: text;
    transition: box-shadow 0.12s ease-in;
}

.inner-3wn6Q5 {
    padding: 0 12px;
}

.modal-3HD5ck .search-bar {
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.inviteRow-1OabNn {
    border-radius: 0;
}

.inviteRow-1OabNn:hover {
    background: RGB(var(--tc-color-2))!important;
}


.editPartyIcon-1GA5r3 {
    background-color: RGB(var(--tc-color-5));
    background-image: image('settings.png')!important;
    background-repeat: no-repeat!important;
    background-position: 50%!important;
    background-size: 18px!important;
    height: 50px!important;
    width: 30px!important;
    position: absolute;
    right: 532px;
    padding-left: 4px;
    opacity: 1;
    z-index: 2;
}

.editPartyIcon-1GA5r3:hover {
    opacity: .8;
}

.editPartyIcon-1GA5r3 path {
    display: none;
}

.button-2KyEfG {
    opacity: 1;
}

.buttonGreenFilled-6QHNrw {
    color: #fff;
    background-color: RGB(var(--tc-green));
}

.headerTag-I11IJx, .headerActivityText-gcopRr {
    font-size: 12px;
    line-height: 16px;
}

.nameProfile-Q0WTs3 {
    color: #fff;
}

.headerActivityText-gcopRr {
    margin-bottom: 15px;
}

.headerUsernameNoNickname-1iGxNP {
    font-size: 16px;
    line-height: 16px;
}

.private-channel-call-btn.disabled {
    opacity: .2;
}

.private-channel-call .action-button,
.private-channel-call .static-button,
.private-channel-call .toggle-button {
    opacity: 1;
}

.private-channel-call {
    border-bottom: 1px solid RGB(var(--tc-tint-3));
}

.ui-call-avatar.voice {
    border-radius: 0;
    border: 1px solid RGB(var(--tc-color-5));
}

.private-channel-call .button-exit.voice {
    border-radius: 0;
    font-weight: 400;
    font-size: 12px;
    border-left: 1px solid RGB(var(--tc-tint-3))!important;
    border-right: 1px solid RGB(var(--tc-tint-3))!important;
}

.private-channel-call .button-exit.voice:hover {
    background: RGB(var(--tc-color-4));
}

.new-messages-indicator.bottom,
.ui-call-avatar.voice .ui-call-avatar-status {
    border-radius: 0;
}

.modal-3HD5ck.size-JLvFeT .header-1R_AjF {
    margin-left: 0;
}

.popout-bottom[style*="z-index: 1000; visibility: visible;"] {
    // transform: none!important;
    // margin-left: -90px!important;
    // margin-top: 10px!important;
    margin-left: 100px !important;
    margin-top: 2px !important;
}

.popout-top[style*="z-index: 1000; visibility: visible;"] {
    transform: none!important;
    margin-left: -90px!important;
    margin-top: -108px!important;
}

.private-channel-call-btns-wrapper {
    margin-right: 0;
}

.pro-1IhGKk {
    color: RGB(var(--tc-color-7));
}

.search.focused .search-bar {
    box-shadow: inset 0 0 0 1px RGB(var(--tc-color-8)), 0 0 6px -2px RGB(var(--tc-color-8));
}

.search.focused .search-bar-icon .icon.visible {
    opacity: 1!important;
}

.container-2duXBh .xsmall-3afG_L {
    margin-right: 6px!important;
}

.headerText-1HLrL7 {
    margin-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 13px;
    cursor: text;
    color: #fff!important;
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
}

.container-14fypd button + button {
  margin-right: 10px!important;
}

.activityProfile-2bJRaP {
    margin-bottom: 10px;
}

.name-29ETJS {
    color: #fff;
}

// Rich presence details, appear on profile, user popouts, and Activity page
.details-38sfDr {
  margin-top: 5px;
  color: RGB(var(--tc-tint-7))!important;
}
.details-38sfDr, .nameNormal-2lqVQK, .playTime-2uWd1Z, .state-Tt0LO3, .timestamp-VjAZmo {
  color: RGB(var(--tc-tint-9));
}

.overridePlaceholder-14_rPI {
    border: 3px dashed RGB(var(--tc-color-4))!important;
    margin-top: 10px;
}

.ui-video {
    background: RGB(var(--tc-color-3))!important;
    border-bottom: 1px solid RGB(var(--tc-color-4));
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.private-channel-call.minimum .private-channel-call-actions .center {
    border: 1px solid RGB(var(--tc-color-4))!important;
    background: rgba(0, 0, 0, 0.2) !important;
    padding: 0px 10px;
}

// Move chat area 2px left so scrollbar isn't flush against edge
#{$chatcontent}.flex-horizontal>.flex-spacer {
  margin-right: 2px;
}

// Circlular loading thing seen in some places
// https://i.imgur.com/kMTdl40.gifv
.spinner .path {
    stroke: var(--button-color-hover)!important;
}

.Select-option:last-child {
    border-radius: 0;
}

.Select-menu-outer .primary-jw0I4K {
    padding-top: 4px;
}

.Select .primary-jw0I4K {
    color: #fff!important;
}

.Select .primary-jw0I4K.subtitle-2yP_Eh,
.Select .icon-JJBzjE {
    color: RGB(var(--tc-tint-7))!important;
    opacity: 0.7!important;
}

.ui-select .Select-menu .Select-option.is-selected .icon-JJBzjE path,
.Select-menu .Select-option.is-selected .icon-JJBzjE path {
    fill: #fff!important;
}

.Select-control {
    font-size: 14px;
    width: calc(100% + 0.5px);
}

.ui-select .Select-menu .icon-JJBzjE,
.Select-menu .icon-JJBzjE  {
    opacity: 1;
}

.cardPrimaryOutline-29Ujqw {
    border-color: RGB(var(--tc-color-4))!important;
    border-radius: 0;
    background-color: RGB(var(--tc-color-2))!important;
}

.cardPrimaryOutline-29Ujqw:hover {
    background-color: RGB(var(--tc-color-2))!important;
}

// Close button for notices
// https://i.imgur.com/VOIHRbt.png
.dismiss-SCAH9H {
  opacity: 0.7;
  right: 35px;
}

.checkboxContainer-2vV9zd:before {
    content: none;
}

.checkboxContainer-2vV9zd .checkbox-1ix_J3,
.checkboxMute-14hTGS .checkbox-1ix_J3 {
    border: 1px solid RGB(var(--tc-color-7))!important;
}

.checkboxMute-14hTGS::before {
    display: none;
}

.ui-select .Select-menu .icon-JJBzjE path,
.Select-menu .icon-JJBzjE path,
.cardPrimaryOutline-29Ujqw .icon-3w_81G path {
    fill: RGB(var(--tc-color-7));
    opacity: 1;
}

.separator-gCa7yv {
    background: RGB(var(--tc-color-4))!important;
    opacity: 0.5;
}

.verified-3uJH7V {
    background: image('verified6.png') no-repeat 50% !important;
}

.avatar-verified {
    background: image('verified5.png') no-repeat 50% !important;
    bottom: -6px;
    right: -6px;
}

.verified-3uJH7V g, .avatar-verified g {
    display: none;
}

.message-2qRu38 {
    background: RGB(var(--tc-color-1))!important;
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.message-2qRu38 .timestamp::before {
    content: none!important;
}

.search-bar-inner input {
    background: RGB(var(--tc-color-1));
    font: var(--font)!important;
    font-size: 14px;
    height: 30px;
    width: 100%;
}

.search-bar .search-bar-inner input::-webkit-input-placeholder {
    color: RGB(var(--tc-tint-7));
}

.search-bar .search-bar-inner {
    border-radius: 0;
    width: 100%;
    top: -2px;
    margin: 12px;
    padding: 0;
    border: 1px solid RGB(var(--tc-color-4));
    background-color: transparent;
}

.status {
    width: 8px;
    height: 8px;
}

.popout {
    filter: none!important;
    position: absolute;
    z-index: 100000!important;
}

.popout-bottom[style*="visibility: visible;"] {
    overflow: visible!important;
    box-shadow: none!important;
}

.popout-bottom[style*="overflow: hidden; visibility: visible;"] {
    z-index: 900!important;
    left: -160px!important;
    top: 56px!important;
}

.backdrop-1wrmKB {
    z-index: 1000000;
    background: rgba(0, 0, 0, 0.8)!important;
}

@keyframes linkAnimation {
    0%{ background-position: -720px 0px;}
    7%{ background-position: -1440px 0px;}
    14%{ background-position: -960px 0px;}
    21%{ background-position: -1200px 0px;}
    28%{ background-position: -720px 0px;}
    35%{ background-position: -1440px 0px;}
    42%{ background-position: -960px 0px;}
    49%{ background-position: -1200px 0px;}
    56%{ background-position: -720px 0px;}
    63%{ background-position: -1440px 0px;}
    70%{ background-position: -960px 0px;}
    77%{ background-position: -1200px 0px;}
    84%{ background-position: 0px 0px;}
    91%{ background-position: -240px 0px;}
    100%{ background-position: -480px 0px;}
}

.status-online, [class*="statusOnline"],
.status-idle, [class*="statusIdle"],
.status-dnd, [class*="statusDnd"],
.status-offline, .status-invisible,
[class*="statusOffline"], [class*="statusInvisible"] {
    box-shadow: none;
}

.status-online, [class*="statusOnline"] {
    background-color: #14b866;
}

.status-idle, [class*="statusIdle"] {
    background-color: #ffb300;
}

.status-dnd, [class*="statusDnd"] {
    background-color: #e52b2b;
}

.status-offline, .status-invisible,
[class*="statusOffline"], [class*="statusInvisible"] {
    background-color: RGB(var(--tc-tint-7));
}


.popout-left[style*="visibility: visible;"],
.popout-right[style*="visibility: visible;"],
.popout-bottom-left[style*="visibility: visible;"] {
    margin-left: -30px;
}

.popout-left[style*="visibility: visible;"] {
  right: -35px;
}

.incoming-call-inner {
    background: RGB(var(--tc-color-2))!important;
    border-color: RGB(var(--tc-color-4))!important;
}

.video-1FfuMD {
  background: none;
}

// DM voice call background thingy
// https://i.imgur.com/KM84j9n.png
.videoHeight-Qp_9vC.minimum-1pRSEN {
  margin-top: var(--main-nav-height);
  box-shadow: 0 1px 1px 0 RGB(var(--tc-tint-3));
}

.private-channel-call {
    background: RGB(var(--tc-color-3))!important;
    border-bottom: RGB(var(--tc-color-4))!important;
    z-index: 999;
    top: 0px;
    margin-bottom: -73px;
}

.ui-call-avatar-border.video.selected:not(.speaking) {
    border-radius: 0;
    box-shadow: inset 0 0 0 2px RGB(var(--tc-color-7));
}

.ui-call-avatar-border.video.selected:not(.speaking):hover {
    box-shadow: inset 0 0 0 2px RGB(var(--tc-color-8));
}

.pictureInPictureWindow-1B5qSe {
    border: 1px solid RGB(var(--tc-color-4));
    cursor: move;
    box-shadow: 0 8px 35px RGB(var(--tc-color-5), 0.35);
}

.overlay-1NmNEg {
    border: none;
    opacity: 1;
}

.ui-call-avatar.video, .ui-call-avatar {
    border-radius: var(--user-roundness);
}

.pictureInPicture-3VocJq {
    z-index: 9999999;
}

.overlayTop-3tbQ8v {
    padding-top: 4px;
    padding-bottom: 4px;
    background: RGB(var(--tc-color-3));
    color: RGB(var(--tc-tint-11));
    opacity: 1!important;
    margin-top: -32px;
    border: 1px solid RGB(var(--tc-color-4));
    width: 100%;
    margin-left: -1px;
}

.channel-2-6Ybo:hover {
    color: RGB(var(--tc-color-10));
    text-decoration: none;
}

.item-3T2z1R {
    border-color: RGB(var(--tc-color-4))!important;
    border-radius: 0!important;
    background-color: RGB(var(--tc-color-2))!important;
}

.passthroughSelected-1Eq0Kl {
    background-color: RGB(var(--tc-color-7))!important;
}

.denySelected-1mh2mZ {
    background: RGB(var(--notification-color))!important;
}

//NSFW channel
#{$chat} > #{$chatcontent} > .flex-1xMQg5 {
  overflow-y: scroll;
}

.allowSelected-25S_i5 {
    background: RGB(var(--tc-green-color))!important;
}

/* Screen Sharing Modal */

.selectorButtonSelected-1j4DmC {
    background-color: RGB(var(--tc-color-7));
    color: #fff;
    transition: background-color 0.2s;
}

.selectorButtonSelected-1j4DmC:hover {
    background-color: RGB(var(--tc-color-8));
    color: #fff;
}

.selectorNitroText-3ZFWAe + svg g path {
    fill: RGB(var(--tc-color-10))!important;
}

.tiles-2aXG_k {
    box-shadow: none!important;
}

.tile-2QWaFv > .vertical-V37hAW {
    border: 1px solid RGB(var(--tc-tint-11));
    padding-bottom: 20px;
}

.titleStack-1Vb5Cd {
    color: RGB(var(--tc-tint-7))!important;
}

.titleSelected-1UkXLp {
    color: RGB(var(--tc-color-10))!important;
}

.imageSelected-4Kl81J {
    border-color: RGB(var(--tc-color-7))!important;
}

.selected-P8xTeN {
    border-bottom: 3px solid RGB(var(--tc-color-7))!important;
    color: RGB(var(--tc-color-7))!important;
}

.item-1TLUig {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.tile-2QWaFv {
    flex: 0 1 100%!important;
    padding-right: 10px;
}

.tiles-2aXG_k {
    border-radius: 0;
    height: 430px;
}

.titleWrap-15Rh6M {
    width: 225px;
    padding: 0 10px;
    font-size: 12px;
}

.item-1TLUig:hover {
    color: RGB(var(--tc-color-7))!important;
}

.container-21hqCa {
    padding: 0;
}

.tile-2QWaFv:first-of-type {
    padding-top: 0;
}

.tile-2QWaFv:last-of-type {
    padding-bottom: 0;
}

.container-OI6I9q {
    color: RGB(var(--tc-tint-7))!important;
}

.guild-settings-roles .header-2RyJ0Y,
.container-SDBvD6 .sidebarHeader-2uiNOo {
    font-size: 14px;
    font-weight: 400;
    flex: 0 0 auto;
    color: RGB(var(--tc-tint-10));
    z-index: 10000;
    display: block;
    line-height: 36px;
    height: 36px;
    margin-bottom: 5px;
    padding: 6px 30px;
    box-sizing: border-box;
    text-transform: none;
    user-select: none;
    cursor: default;
}

.container-SDBvD6 .sidebarHeader-2uiNOo {
    padding: 6px 21px;
}

.guild-settings-roles .sidebar-header .add-role-icon, .container-SDBvD6 .sidebarHeader-2uiNOo img {
    content: image('plus.png');
    height: 10px;
    width: 10px;
}

.container-SDBvD6 .sidebarHeader-2uiNOo img {
    padding:0;
    position: relative;
    top: 14px;
    float: right;
}

.guild-settings-roles .header-2RyJ0Y {
    margin-top: 34px;
    margin-bottom: -10px;
    vertical-align: middle;
    user-select: all;
    z-index: 10;
    line-height: 16px;
    position: relative;
}

.guild-settings-roles .side-8zPYf6 > div:last-of-type {
    padding: 20px;
    padding-top: 0;
}

.guild-settings-base-section>.justifyBetween-2tTqYu {
    flex: 1 1 20%!important;
}

.guild-settings-base-section>.justifyBetween-2tTqYu>.flexChild-faoVW3 {
    flex: none!important;
}

.guild-settings-base-section>.justifyBetween-2tTqYu>.flexChild-faoVW3+.flex-1xMQg5 {
    max-width: 100%!important;
}

// Targeting all or most avatars. Placeholder avatar.
.image-33JSyf {
  border-radius: var(--user-roundness)!important;
  position: relative;
}

.mask-3OgeRz {
    border-radius: var(--user-roundness);
    -webkit-mask: none;
    mask: none;
}

.avatarMasked-3y6o4j {
    border-radius: var(--user-roundness);
    -webkit-mask: none;
    mask: none;
}

.container-1If-HZ {
    background: none!important;
    padding: 0!important;
}

.container-1If-HZ .sidebar-1-SQro {
    background: RGB(var(--tc-color-4))!important;
}

.reactionDefault-GBA58K, .reactionSelected-1pqISm {
    border-radius: 0;
    margin-right: 8px;
}

.reactionDefault-GBA58K:hover {
    background: RGB(var(--tc-color-5))!important;
}

.reactionSelected-1pqISm {
    background: RGB(var(--tc-color-2))!important;
}

.reactionSelected-1pqISm .primary-jw0I4K,
.reactionDefault-GBA58K .primary-jw0I4K {
    color: #fff!important;
}

.reactorDefault-1IUqMZ {
    box-shadow: inset 0 -1px 0 RGB(var(--tc-tint-4), 0.05)!important;
}

.sticky-header {
    display: none;
}

.ui-standard-sidebar-view .content-column .guild-settings-roles {
    padding: 0!important;
}

.ui-standard-sidebar-view .content-column .container-SDBvD6 {
    padding: 0!important;
}

.ui-standard-sidebar-view .content-column .guild-settings-roles .flexChild-faoVW3 {
    padding: 0!important;
}

.container-SDBvD6 .side-8zPYf6 .description-3_Ncsb.primary-jw0I4K {
    padding: 20px;
}

.container-SDBvD6 .lockedStatus-vwSFhx {
    margin: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.container-SDBvD6 .lockedStatus-vwSFhx+.flex-1xMQg5{
    padding: 10px 10px 0;
}

.buttonSync-2NdVfZ {
    margin: 20px 0 0;
}

.divider-3573oO {
    margin: 10px 0;
}

.connection-delete {
    border-radius: 0;
}

.layer-3QrUeG, .layers-3iHuyZ  {
    background:none !important;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
}

.content-8biNdB p {
    color: RGB(var(--tc-tint-7))!important;
    font-size: 14px!important;
    line-height: 20px!important;
}

.footer-2yfCgX, .header-1R_AjF {
    padding: 20px;
    margin-left: -20px;
}

.modal-3HD5ck.sizeSmall-Sf4iOi .footer-2yfCgX {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-3HD5ck.sizeSmall-Sf4iOi .header-1R_AjF {
    text-align: center;
    width: 100%;
}

.modal-3HD5ck.sizeSmall-Sf4iOi .body-2OD0kB {
    font-size: 14px;
}

.unreadBar-17qm9c:before {
  display: none;
}

.unreadTop-2mkLbX .unread-1xRYoj,
.unreadBottom-1px0d1 .unread-1xRYoj {
  margin: 0 5px;
  box-sizing: border-box;
  margin-right: -90px;
  width: calc(100% - 10px);
  transition: transform 0.2s;
}
.unreadTop-2mkLbX .unread-1xRYoj {
    top: 12px;
    transform: translateY(-200%)!important;
}
.unreadBottom-1px0d1 .unread-1xRYoj {
    bottom: 0;
    transform: translateY(150%)!important;
}

.sidebarScrollable-1qPI87 .scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-thumb {
    visibility: visible;
}

.sidebarScrollable-1qPI87+.content-1orzGj {
    max-width: 100%;
    background-color: RGB(var(--tc-color-3));
    border: 1px solid RGB(var(--tc-color-4));
    padding: 0!important;
    margin-top: -15px;
    margin-left: 247px;
    margin-right: 10px;
}

.sidebarScrollable-1qPI87+.content-1orzGj>div {
    margin: 40px 89px 80px 41px;
    width: 100%;
    padding-right: 78px;
}

// Problems / Conecting text
.problemsText-1Yx-Kl,
.contentBase-11jeVK {
  color: RGB(var(--tc-tint-10));
}

.quote-3aooyW {
  font-size: 16px;
  font-style: normal;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  line-height: 20px;
  color: #fff!important;
}

.formNoticeBody-M4JFHP p {
    letter-spacing: 0;
    margin: 0;
    line-height: 20px;
}

.formNoticeBody-M4JFHP p:first-child {
    margin-top: 10px;
}

.card-3Qj_Yx a {
    font-weight: 400;
}

.cardPrimaryOutline-29Ujqw.preview {
    background: RGB(var(--tc-color-1));
    border: none!important;
}

.cardPrimary-1Hv-to {
    background: RGB(var(--tc-color-1))!important;
    border-color: RGB(var(--tc-color-5))!important;
    color: RGB(var(--tc-tint-7));
    transition: all 0.2s;
    border-radius: 0;
    margin: 0 0 10px;
}

.itemDanger-3m3dwx:hover {
  color: #fff;
  background: RGB(var(--notification-color))!important;
}

// Countdown timer that appears when you join a server that requires you to
// be a member for so long before sending messages.
.countdown-1t3uBk .number-3ceIrJ {
  @include text(RGB(var(--contrasted-color))!important, 24px, 700);
  background: none!important;
  border: none!important;
  border-radius: 0;
  margin: 10px 0;
  padding: 0;
}
// The dots in the countdown timer
.countdown-1t3uBk {
  @include text(RGB(var(--contrasted-color))!important, 24px, 700);
}

.minorAction-OVxOke:hover {
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.2s;
}

.minorAction-OVxOke {
    transition: opacity 0.2s;
}

.header-2BwW8b .avatarStatusStreaming-3lGjGk {
    background-color: rgb(89, 54, 149);
}

.app .search-bar-tag {
    color: #fff!important;
}

.search-bar-icon .icon.visible {
    opacity: 1;
}

.private-channel-recipients-invite::before {
        content: '';
        background: transparent;
        border-color: transparent transparent RGB(var(--tc-color-3));
        border-style: solid;
        border-width: 8px;
        color: transparent;
        right: 12px;
        position: absolute;
        top: -15px;
        z-index: 2000;
}

.public-DraftEditorPlaceholder-inner {
    margin-left: 5px;
}

.cardWarning-2yPNAa, .cardWarningOutline-1cs56O {
    border: 2px solid RGB(var(--tc-gold-color), 0.75);
}

.cardWarning-2yPNAa {
    background-color: rRGB(var(--tc-gold-color), 0.3);
    border-radius: 2px;
}

.cardWarning-2yPNAa .primary-jw0I4K {
    color: #fff!important;
    font-size: 16px!important;
    line-height: 24px;
}
.cardWarning-2yPNAa .primary-jw0I4K a {
    color: #d4ae70!important;
}

.title-2BxgL2 {
    color: #fff!important;
    text-transform: capitalize;
    font-weight: 400;
}

.text-GwUZgS {
    color: RGB(var(--tc-tint-6))!important;
    font-size: 14px;
}

.close-18n9bP {
    border-radius: 0;
    margin-right: -20px!important;
    margin-top: -21px;
}

.close-18n9bP:hover {
    color: #fff;
    background: RGB(var(--tc-color-7), 0.2)!important;
}

.close-18n9bP:active {
    background: RGB(var(--tc-color-7), 0.1)!important;
    box-shadow: 0 0 6px 0 RGB(var(--tc-color-8)), inset 0 0 0 1px RGB(var(--tc-color-7), 0.5)!important;
}

.ui-select>.Select .Select-menu-outer,
.Select .Select-menu-outer {
    background-color: RGB(var(--tc-color-1))!important;
    border: none!important;
    -webkit-box-shadow: 0 0 0 1px RGB(var(--tc-color-4)), 0 1px 1px rgba(0, 0, 0, 0.25), 0 15px 45px rgba(0, 0, 0, 0.6)!important;
    box-shadow: inset 0 0 0 1px RGB(var(--tc-color-4)), 0 1px 1px rgba(0, 0, 0, 0.25), 0 15px 45px rgba(0, 0, 0, 0.6)!important;
    margin-top: 0px;
}

.ui-select>.Select .Select-menu-outer .Select-menu::-webkit-scrollbar-track,
.Select .Select-menu-outer .Select-menu::-webkit-scrollbar-track {
    margin-top: 1px!important;
}

.Select .Select-menu, .Select-menu-outer {
    border-radius: 0;
    margin-top: 0;
}

.ui-select>.Select .Select-option,
.Select-noresults,
.form.deprecated .Select-option,
.Select .Select-option {
    font-size: 12px;
    background: transparent;
    color: #fff;
}

.ui-select .Select.is-disabled .Select-control,
.Select.is-disabled .Select-control {
    opacity: 0.3;
    cursor: not-allowed!important;
}

.Select .Select-control div {
    padding-top: 2px;
}

.ui-select>.Select .Select-option.is-selected,
.Select .Select-option.is-selected {
    background: RGB(var(--tc-color-7))!important;
    color: #fff!important;
}

.ui-select>.Select .Select-option.is-focused, .ui-select>.Select .Select-option:hover,
.Select .Select-option.is-focused, .Select .Select-option:hover {
    background: RGB(var(--tc-color-8))!important;
    color: #fff!important;
}

.reactors-Blmlhw {
    background: RGB(var(--tc-color-3))!important;
}

.remove-3V-yj8 {
    margin-right: 10px;
    border-radius: 0;
}

.ui-standard-sidebar-view .notice-region {
    max-width: 100%;
    padding: 0;
    bottom: -100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.ui-standard-sidebar-view .notice-region .container-2VW0UT {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5), 0 15px 45px rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 16px;
}

.ui-standard-sidebar-view .notice-region .container-2VW0UT > .flex-1xMQg5 {
  flex-direction: column;
}

.ui-standard-sidebar-view .notice-region .container-2VW0UT .message-c9-HCF {
  margin-bottom: 20px;
}


.ui-standard-sidebar-view .emoji-row {
    padding: 20px;
    overflow: hidden;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.invite-settings-invite-row {
    overflow: hidden;
}

.ui-standard-sidebar-view .emoji-row .emoji-remove, .invite-settings-invite-row .revoke-invite {
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    background-color: RGB(var(--tc-color-7))!important;
    transform: translateX(100px);
    transition: transform 0.4s, background-color 0.2s;
}

.invite-settings-invite-row .revoke-invite {
    width: 83px;
    height: 83px;
}

.ui-standard-sidebar-view .emoji-row:hover .emoji-remove, .invite-settings-invite-row:hover .revoke-invite {
    background-color: RGB(var(--tc-color-7))!important;
    transform: translateX(0);
    transition: transform 0.4s, background-color 0.2s;
}

.ui-standard-sidebar-view .emoji-row .emoji-remove:hover, .invite-settings-invite-row .revoke-invite:hover {
    background-color: RGB(var(--tc-color-8))!important;
}

.ui-standard-sidebar-view .emoji-row .emoji-uploader .avatar-16XVId {
    width: 40px;
    height: 40px;
}

.ui-standard-sidebar-view .emoji-row .emoji-row-text {
    left: 48px;
    top: 13px;
    font-size: 16px!important;
    color: #fff!important;
}

.tip-2ab612 {
    opacity: 1;
    line-height: 20px;
}

.guild-settings-members-member .overflow-icon {
    background: image('dots-vertical.png') 50% no-repeat;
    width: 5px;
    height: 18px;
    vertical-align: middle;
}

.guild-settings-members-member .owner-help-icon {
    margin-top: -8px;
}

.guild-settings-members-member .overflow-icon g {
    display: none;
}

.private-channel-recipients-invite .error-state.search-results .icon {
    background: image('searchnoresults3.svg') no-repeat 50%!important;
}

.themed-popout .header .subtitle, .themed-popout .text {
    color: RGB(var(--tc-tint-6))!important;
}

.private-channel-recipients-invite .error-state .text {
    line-height: 24px;
}

.searchPopout-1vUlP3 .option-96V44q .answer-1n6g43 {
    color: RGB(var(--tc-tint-9));
    font-weight: 400;
}

.height20-mO2eIN {
    line-height: 22px;
}

.user-settings-security [style="flex: 0 1 323px;"] {
    display: none;
}

.slider-handle span {
    border-radius: 0;
    display: none;
}

.video-36_NdB {
    width: 400px;
    background-color: RGB(var(--tc-color-2));
    border-radius: 0;
}

/* customize activity feed modal */
.modal-2O4A7c .title-19r-ca {
    margin-bottom: 5px;
}

.modal-2O4A7c .blurb-2cRxZR {
    margin-bottom: 10px;
}

.modal-2O4A7c .sectionTitle-2gU0e7 {
    color: #fff;
}

.modal-2O4A7c .inner-3wn6Q5 {
    padding: 0;
    padding-right: 20px;
}

.modal-2O4A7c .discriminator-1wWT6o {
    font-size: 11px;
    position: relative;
    margin-left: 3px;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.5;
}

.modal-2O4A7c .searchHint-Qlijn3 {
    display: none;
}

.modal-2O4A7c .ui-search-bar .input {
    margin-right: -10px;
    padding-right: 30px;
}

// Typing status on avatars (DM convos and server members list)
.status-oxiHuE.typing-1KJk_j {
  width: 23px!important;
  height: 10px!important;
  right: -2px!important;
  .spinner-2enMB9 {
    margin-left: 1px;
    width: 19px;
    .pulsingEllipsis-3YiXRF {
      box-shadow: none!important;
      height: auto!important;
      width: 20px!important;
      border-radius: 0!important;
      position: relative!important;
      .pulsingEllipsisItem-32hhWL {
        opacity: 0.5;
      }
    }
  }
}

.private-channel-recipients-invite .header .title {
    color: #fff!important;
    font-size: 12px!important;
    text-align: left;
}

// @import 'addons/module';

.imagePlaceholderOverlay-ETNjpn {
  background: RGB(var(--tc-color-1));
}

// Get rid of toasts and plugin update notices if there are any
.toasts, #pluginNotice {
  display: none!important;
}
