// main: _module.scss

//** Store view > Game details page

.applicationStore-1pNvnv {
  .listingWrapper-329f74 {
    .warning-n1YvYR {
      border-radius: 2px;
      border: 2px solid transparent;
    }
    .yellow-2DRjXu {
      background: var(--warn-color-inner)!important;
      border-color: var(--warn-color)!important;
    }
    .red-2ChJaa {
      background: var(--fail-color-inner)!important;
      border-color: var(--fail-color)!important;
    }
    .description-Gcecy9 {
      @include text(RGB(var(--contrasted-color)), 15px, 400, 1.5);
      margin-top: 8px;
    }
    .content-1zhNsr {
      color: RGB(var(--tc-tint-10));
      font-size: 14px;
    }
    .headerAssets-2CL92w {
      margin-top: -20px;
    }
    .body-1HEBKj {
      margin-top: 40px;
    }
    .header-3HFF3R {
      color: RGB(var(--contrasted-color));
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .headerText-34JZSx {
      display: flex;
      flex-direction: column;
    }
    .root-1bFE0x {
      background: RGB(var(--tc-color-2))!important;
      border: 1px solid RGB(var(--tc-color-3));
      border-radius: 0;
      margin-bottom: 40px;
      padding: 20px;
    }
    .description-2Ifi6N {
      color: RGB(var(--tc-tint-10));
      font-size: 14px;
    }
    .username-2gp_Xw {
      color: RGB(var(--tc-color-10));
    }
    .section-7tu4tu {
      border-bottom-color: RGB(var(--tc-color-3));
    }
    .reviewCircle-1o-MOB,
    .iconCircle-1dlYo0 {
      border-radius: 0;
      + div {
        display: flex;
        flex-direction: column;
      }
    }
    .smallHeader-2h-9-U {
      order: 2;
      margin: 2px 0 0 0;
      color: RGB(var(--tc-tint-7))!important;
    }
    .text-1Z3P6i {
      color: RGB(var(--contrasted-color))!important;
      order: 1;
    }
    .headerText-rtdndS {
      display: flex;
      flex-direction: column;
    }
    .label-2zCFFs {
      color: RGB(var(--tc-tint-7));
      margin: 4px 0 0 0;
      order: 2;
    }
    .username-Ga9-tM {
      order: 1;
    }
    .notes-3hkVr0 {
      color: RGB(var(--tc-tint-10));
      font-size: 14px;
      line-height: 1.5;
      font-style: normal;
    }
    h1.title-3KTIjF,
    h3.title-3KTIjF {
      color: RGB(var(--tc-tint-11));
      font-size: 14px;
      font-weight: 400;
      border-bottom: 1px solid RGB(var(--tc-color-4));
      padding-bottom: 7px;
      margin: 0 0 20px 0;
      text-transform: capitalize;
    }
    h3.title-3KTIjF {
      margin-top: 40px;
      padding-bottom: 6px;
    }
    h4.title-3KTIjF {
      color: RGB(var(--contrasted-color));
      font-weight: 700;
      font-size: 12px;
    }
    .requirement-2guSgu {
      font-size: 14px;
    }
    .requirements-dEriwm {
      color: RGB(var(--tc-tint-10));
    }
    .requirementKey-14DT2D {
      color: RGB(var(--tc-tint-7));
    }
    .body-1CAT0- {
      background: RGB(var(--tc-color-2))!important;
      border: 1px solid RGB(var(--tc-color-3));
      border-radius: 0;
    }
    .actionText-3EKWER {
      font-size: 12px;
      font-weight: 700;
      color: RGB(var(--contrasted-color));
      text-transform: uppercase;
    }
    .card-NB61oR {
      background: RGB(var(--tc-color-3))!important;
      border: 1px solid RGB(var(--tc-color-4));
      border-radius: 0;
      color: RGB(var(--tc-tint-10))!important;
      &:hover {
        box-shadow: 0 0 35px RGBA(var(--tc-color-5), 0.5)!important;
      }
    }
    .content-35aVm0 {
      background-color: RGB(var(--tc-color-3))!important;
      border: 1px solid RGB(var(--tc-color-4));
      border-radius: 0;
    }
    .iconCircle-1dlYo0 {
      background-color: RGB(var(--tc-color-5))!important;
      border-radius: 0;
    }
    .premiumIcon-2_q_T1 {
      @include mask(var(--discord-nitro-badge), #fff);
      @include relative(top -1px);
      @include size(20px);
      margin-right: 8px;
    }
    .headerFancy-1AcCLF {
      background: RGB(var(--tc-color-5))!important;
      border-radius: 0;
    }
    .premiumHeaderPrice-1F1CMD {
      @include text(RGB(var(--contrasted-color))!important, 14px, 400, 1.5);
      background-color: RGB(var(--tc-color-2))!important;
      border: 1px solid RGB(var(--tc-color-6));
      border-radius: 0;
      padding: 2px 10px;
    }
    .guildIcon-3du51s {
      @include size(50px);
      border-radius: var(--guild-roundness);
    }
    .guildInvite-3fvAbr .title-3KTIjF {
      &::before {
        content: '';
        background: var(--verified-badge);
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 8px;
        vertical-align: text-bottom;
        top: 1px;
        position: relative;
      }
    }
    .name-3TBxUq {
      color: RGB(var(--contrasted-color))!important;
      font-size: 18px;
      font-weight: 400;
    }
    .dot-33s_8n {
      border-radius: 0;
    }
    .memberInfo-1TAaKC {
      color: RGB(var(--tc-tint-10))!important;
      margin-top: 6px;
    }
    .icon-3kOcCa {
      color: RGB(var(--tc-color-2));
      right: -20px;
      top: -20px;
      opacity: 1;
      -webkit-mask: none;
      mask: none;
    }
    .row-1bU71H {
      background: none!important;
      border: none!important;
      color: RGB(var(--tc-tint-10))!important;
      padding: 0;
    }
    .featureIcon-1f78KU {
      g,
      path {
        display: none;
      }
      // Hack for Cross playform, because it has no name and is the only
      // svg with version="1.1"
      &[version="1.1"] {
        @include mask(var(--update-icon), RGB(var(--tc-tint-10)), 16px);
      }
      // Single player
      &[name="Person"] {
        @include mask(var(--user-icon), RGB(var(--tc-tint-10)), 16px);
      }
      // Local multiplayer
      // Online multiplayer
      // Local cooperative
      &[name="People"] {
        @include mask(var(--friends-icon), RGB(var(--tc-tint-10)));
      }
      // Controller support
      &[name="Gamepad"] {
        @include mask(var(--game-controller-icon), RGB(var(--tc-tint-10)));
      }
      // Cloud saves
      &[name="Cloud"] {
        @include mask(var(--cloud-up-icon), RGB(var(--tc-tint-10)), 20px);
      }
      // PvP
      &[name="Moderation"] {
        @include mask(var(--cross-swords-icon), RGB(var(--tc-tint-10)));
      }
      // Rich presence
      &[name="RichActivity"] {
        @include mask(var(--rich-presence-icon), RGB(var(--tc-tint-10)));
      }
      // Spectator mode
      &[name="VideoCamera"] {
        @include mask(var(--eye-icon), RGB(var(--tc-tint-10)), 20px);
      }
      // Discord game invites
      &[name="PlusCirclePlay"] {
        @include mask(var(--forward-arrow-icon), RGB(var(--tc-tint-10)), 19px);
      }
    }
    .details-31ROOk {
      font-size: 14px;
    }
    .label-13UUcd {
      color: RGB(var(--tc-tint-7))!important;
    }
    .info-1Emy1X {
      color: RGB(var(--tc-tint-10))!important;
    }
    .description-3z5Lb3 {
      margin-bottom: 50px;
    }
    .divider-21LyPb {
      display: none;
    }
    .blurb-1iBKJy {
      color: RGB(var(--tc-tint-10));
      line-height: 1.5;
    }
    .markdown-11q6EU {
      color: RGB(var(--tc-tint-10));
      font-size: 14px;
      line-height: 1.5;
    }
    .listing-2nUQ4d {
      margin-top: 20px;
    }
    .item-3V15ea {
      background: transparent;
      border-radius: 0;
      &.currentItem-UAeoVQ {
        opacity: 1!important;
      }
    }
    .itemImage-2Y74no {
      object-fit: cover;
    }
    .overlappingBorder-1-XPGl {
      border: none;
      height: 5px;
      top: unset!important;
      bottom: -10px!important;
      background: RGB(var(--tc-color-7));
      border-radius: 0;
      animation: bounceIn 0.3s;
    }
    .noHeaderSpacer-321X3p {
      display: none;
    }
    .pagination-1iCa-F {
      max-width: 100%;
      min-width: 130px;
      padding: 0 40px;
      .wrapper-129saQ .iconPlay-2kgvwV {
        background-size: 50px 50px!important;
      }
      #{$scroller} {
        padding-bottom: 12px;
        width: 100%;
        overflow: hidden;
      }
    }
    .bodySection-jqkkIP {
      background: none!important;
      border: none;
      padding: 0;
    }
    .purchaseUnit-2lxci3 {
      > .bodySection-jqkkIP:first-of-type,
      >  .headerFancy-1AcCLF + .bodySection-jqkkIP {
        background: RGB(var(--tc-color-2))!important;
        padding: 20px;
      }
      #{classes('components.buttons.button')} {
        width: auto;
      }
    }
    .section-foaVwT:last-child {
      border-radius: 0;
    }
    .title-CZQTru {
      @include text(RGB(var(--contrasted-color)), 20px, 400, 1.5);
      display: flex;
    }
    .assetWrapper-2Qw_5D {
      border-radius: 0;
    }
    .asset-3V-FUM {
      margin: 0;
    }
    .listingLarge-3Rix7u {
      max-width: 100%;
      padding: 0 40px;
    }
    .paginationItem-3-iI7C {
      min-width: 128px;
      opacity: 0.3;
      width: 100%;
      &:hover {
        opacity: 1;
      }
    }
    .content-3FEARf {
      color: RGB(var(--tc-tint-10))!important;
    }
    .selectedStorePaginationItem-2t23h9 {
      opacity: 1;
    }
    .storePaginationImg-2P8SMo {
      border-radius: 0;
      width: 100%;
    }
    .infoText-2DvX0j {
      margin-left: 13px;
    }
    .headerPurchase-2z_nch {
      position: absolute;
      right: 50px;
      padding: 0;
      border: none;
      font-weight: 700;
      font-size: 16px;
      #{$button} {
        margin-left: 15px!important;
      }
    }
    #{$button} {
      &#{$buttonlookfilled} {
        &.toggleCollapseButton-2wffKu {
          margin-top: 20px!important;
        }
      }
      &#{$buttonlookblank} {
        &.prevButtonContainer-Rc83MJ,
        &.nextButtonContainer-30eXDb {
          background: RGB(var(--tc-color-1))!important;
          min-width: 60px;
        }
        &.prevButtonContainer-Rc83MJ {
          left: 0;
          top: 50%;
        }
        &.nextButtonContainer-30eXDb {
          right: 0;
          top: 50%;
        }
        &.back-2Z4ATs {
          @include button-undo-active;
          background: none!important;
          border: none!important;
          height: auto;
          margin: 0 5px 0 12px !important;
          min-width: 0;
          padding: 0;
          .left-3d-3Co {
            @include mask(var(--arrow-caret-left-icon), RGB(var(--tc-tint-7)));
            @include size(21px);
            transform: none;
            &:hover {
              background-color: RGB(var(--tc-tint-10));
            }
            polygon {
              display: none;
            }
          }
        }
      }
    }
  }
}
