// main: _module.scss

//** Store view > NSFW Game page

// Fix header bar for NSFW game page
.applicationStore-1pNvnv {
  > .headerBar-UHpsPw {
    pointer-events: all;
    #{$button}#{$buttonlookblank} {
      &.back-2Z4ATs {
        @include button-undo-active;
        background: none!important;
        border: none!important;
        height: auto;
        margin-left: 12px!important;
        min-width: 0;
        padding: 0;
        .left-3d-3Co {
          @include mask(var(--arrow-caret-left-icon), RGB(var(--tc-tint-7)));
          @include size(20px);
          margin: 2px 5px 0 0;
          transform: none;
          &:hover {
            background-color: RGB(var(--tc-tint-10));
          }
          polygon {
            display: none;
          }
        }
      }
    }
    .title-CZQTru {
      @include text(RGB(var(--contrasted-color)), 20px, 400, 1.5);
      display: flex;
    }
  }
}

.matureListing-3tyHbV {
  > #{$flex} {
    overflow-y: auto;
    #{$nsfwimage} {
      background: url(https://i.imgur.com/FHboNgU.png) no-repeat center !important;
      width: 391px;
      height: 306px;
      margin: 0 0 0 110px;
    }
    #{$nsfwtitle} {
      font-size: 22px;
      margin: 30px 0 10px;
      color: RGB(var(--contrasted-color))!important;
    }
    #{$nsfwdescription} {
      color: RGB(var(--tc-tint-8))!important;
      font-size: 12px !important;
      line-height: 20px !important;
    }
    // Continue button
    #{$button}#{$buttonlookfilled} {
      margin-left: 10px!important;
    }
    #{$nsfwseparator} {
      position: relative;
      width: 50%;
      height: 1px;
      background: none;
      &::after {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(to right, RGBA(var(--tc-color-10), 0) 0%, RGB(var(--tc-color-10)) 40%, RGB(var(--tc-color-10)) 60%, RGBA(var(--tc-color-10), 0) 100%);
        animation: chatLoadingMessages 1s infinite;
      }
    }
  }
}
