.container-3Mxszk {
  .body-3s3lDR {
    max-width: 100%;
    padding: 30px;
  }
  .wrapper-1u09nF {
    @include size(100px);
  }
  .background-yZEZik {
    stroke: color('tint-2');
  }
  .foreground-2aE44H {
    stroke: color('primary-7');
  }
  .usageInfo-2WQAwr {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 25px;
    line-height: 100px;
    color: color('tint-10');
  }
}