///  main: _module.scss
///  ==========================================================================
///  Extends
///  ==========================================================================


///  Round spinner
///  https://i.imgur.com/wSJItwI.gifv
///  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

%spinner {
  @include size(var('spinner-size'));
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var('spinner-z-index');
  display: inline-flex;
  // Center it by using negative half margin of its size
  margin: calc(#{var('spinner-size')} / -2);
  background: none;
  border: var('spinner-width') solid var('spinner-color');
  border-left-color: var('spinner-fill-color');
  border-radius: var('spinner-border-radius');
  box-shadow: none;
  opacity: 1;
  transition-delay: 0.2s;
  animation: var('spinner-animation');
  size: var('spinner-size');
}