// main: _module.scss

//** Image variables

$twitchcord-bot-avatar: image('twitchcord-bot.png');
$default-user-profile-banner: image('default-banner.jpeg');

// No search results found image: https://i.imgur.com/GlbNTmt.gifv
$megaman: pixelart('megaman-pixelart.gif');
