///  main: _module.scss
///  ==========================================================================
///  Selectors
///  ==========================================================================
///  See 'utilities/_functions.scss' for example use-case

$classes: (
  
  html: (
    routes: (
      activity: 'activity', 
      friends: 'friends', 
      gameDetails: 'gameDetails', 
      library: 'library', 
      private: 'private', 
      guilds: 'guilds', 
      store: 'store', 
      storeBrowse: 'storeBrowse', 
    ),
    styles: (
      friends: (
        backgroundTile: 'friendsBackgroundTile', 
        grid: 'friendsGrid', 
        tile: 'friendsTile' 
      ),
      library: (
        bigTile: 'libraryBigTile', 
        grid: 'libraryGrid', 
        tile: 'libraryTile' 
      ),
      store: (
        bigTile: 'storeBigTile', 
        fullTile: 'storeFullTile', 
        tile: 'storeTile' 
      )
    )
  ),
  
  twitchcord: (
    activityPlaying: 'tc-activityPlaying', 
    appLoading: 'tc-appLoading', 
    addFriend: 'tc-addFriend',
    channelInfo: 'tc-channelInfo', 
    clearAllMentions: 'tc-clearAllMentions', 
    contextItem: 'tc-contextItem', 
    createJoinButton: 'tc-createJoinButton',
    fixLeftUserPopout: 'tc-fixLeftUserPopout', 
    fixRecentMentionsFilterPopout: 'tc-fixRecentMentionsFilterPopout', 
    fixedVideo: 'tc-fixedVideo', 
    friendPlaceholder: 'tc-friendPlaceholder',
    friendsListOptions: 'tc-friendsListOptions',
    gamePopout: 'tc-gamePopout', 
    guildSeparatorContainer: 'tc-guildSeparatorContainer',
    guildHomeContainer: 'tc-guildHomeContainer',
    imageTopbar: 'tc-imageTopbar', 
    libraryGamePlaceholder: 'tc-libraryGamePlaceholder',
    libraryOptions: 'tc-libraryOptions',
    serverDiscoveryButton: 'tc-serverDiscoveryButton',
    settingsItem: 'tc-settingsItem',
    titleWrapper: 'tc-titleWrapper', 
    updateBar: 'tc-updateBar', 
    userBadge: 'tc-userBadge', 
    videoTooltip: 'tc-videoTooltip', 
    videoTimebarTooltip: 'tc-videoTimebarTooltip', 
    voiceConnected: 'tc-voiceConnected' 
  ),
  addons: (
    statusBorders: 'statusBorders'
  ),
  base: (
    anchor: 'anchor-3Z-8Bb',
    appMount: 'appMount-3lHmkl',
    app: 'app-1q1i1E',
    app2: 'app-2rEoOp',
    base: 'base-3dtUhz',
    bg: 'bg-h5JY_x',
    layers: 'layers-3iHuyZ',
    layer: 'layer-3QrUeG',
    container: 'container-2lgZY8',

    directionRowReverse: 'directionRowReverse-m8IjIq',
    flex: (
      flex: 'flex-1O1GKY',
      flex2: 'flex-1xMQg5',
      flexCenter: 'flexCenter-3_1bcw',
      flexChild: 'flexChild-faoVW3'
    ),
    unreadBar: (
      active: 'active-1SSsBb',
      bar: 'bar-30k2ka',
      mention: 'mention-1f5kbO',
      icon: 'icon-2aINcz'
    ),
    stopAnimation: 'stopAnimation-1XE1FK'
  ),
  components: (
    attachments: (
      attachment: 'attachment-33OFj0',
      attachmentInner: 'attachmentInner-3vEpKt',
      downloadButton: 'downloadButton-23tKQp',
      cancelButton: 'cancelButton-3hVEV6',
      fileName: 'filename-3eBB_v',
      fileNameLink: 'fileNameLink-9GuxCo',
      icon: 'icon-1kp3fr',
      metaData: 'metadata-3WGS0M',
      progress: 'progress-2XXRYo',
      progressBar: 'progressBar-3u8FBM',
      progressContainer: 'progressContainer-3ao-eu',
      progressFileSize: 'size-1Arx_I'
    ),
    avatars: (
      avatar: 'avatar-17mtNa',
      image: 'image-33JSyf',
      icon: 'icon-3o6xvg',
      wrapper: 'wrapper-2F3Zv8',
      inner: 'inner-1W0Bkn',

      iconActiveLarge: 'iconActiveLarge-2nzn9z',
      iconActiveMedium: 'iconActiveMedium-1UaEIR',
      iconActiveMini: 'iconActiveMini-3PzjMn',
      iconActiveSmall: 'iconActiveSmall-3IUUtn',
      iconActiveXLarge: 'iconActiveXLarge-_qKvKn',
      iconInactive: 'iconInactive-98JN5i',

      iconSizeLarge: 'iconSizeLarge-161qtT',
      iconSizeMedium: 'iconSizeMedium-2OqPjI',
      iconSizeMini: 'iconSizeMini-3dKErj',
      iconSizeSmall: 'iconSizeSmall-3aWgx9',
      iconSizeXLarge: 'iconSizeXLarge-1AvWOw',

      large: 'large-3ChYtB',
      largeOld: 'avatar-large',
      small: 'small-5Os1Bb',
      smallOld: 'avatar-small',
      xlarge: 'xlarge-2z2DtB',
      xlargeOld: 'avatar-xlarge',
      xxlarge: 'xxlarge-1R_NA5',
      xxlargeOld: 'avatar-xxlarge',
      xsmall: 'xsmall-3afG_L',
      xsmallOld: 'avatar-xsmall'
    ),
    buttons: (
      button: 'button-38aScr',
      buttonShine: 'buttonShine-1CSUM8',
      primary: 'primaryButton-2BsGPp',
      secondary: 'secondaryButton-BIo-2g',

      colorBlack: 'colorBlack-1jwPVL',
      colorBrand: 'colorBrand-3pXr91',
      colorGreen: 'colorGreen-29iAKY',
      colorGrey: 'colorGrey-2DXtkV',
      colorLink: 'colorLink-35jkBc',
      colorPrimary: 'colorPrimary-3b3xI6',
      colorRed: 'colorRed-1TFJan',
      colorTransparent: 'colorTransparent-1ewNp9',
      colorWhite: 'colorWhite-rEQuAQ',
      colorYellow: 'colorYellow-2JqYwt',

      contents: 'contents-18-Yxp',
      fullWidth: 'fullWidth-1orjjo',
      grow: 'grow-q77ONN',
      hasHover: 'hasHover-3X1-zV',

      hoverBlack: 'hoverBlack-3jULb8',
      hoverBrand: 'hoverBrand-1_Fxlk',
      hoverGreen: 'hoverGreen-1gjdJc',
      hoverGrey: 'hoverGrey-2CBXu0',
      hoverLink: 'hoverLink-i1fEKS',
      hoverPrimary: 'hoverPrimary-2D1j2r',
      hoverRed: 'hoverRed-2NoOXI',
      hoverTransparent: 'hoverTransparent-2Lz5CN',
      hoverWhite: 'hoverWhite-2uUmXw',
      hoverYellow: 'hoverYellow-171chs',

      lookBlank: 'lookBlank-3eh9lL',
      lookFilled: 'lookFilled-1Gx00P',
      lookGhost: 'lookGhost-2Fn_0-',
      lookInverted: 'lookInverted-2D7oAl',
      lookLink: 'lookLink-9FtZy-',
      lookOutlined: 'lookOutlined-3sRXeN',

      sizeIcon: 'sizeIcon-1-kvKI',
      sizeLarge: 'sizeLarge-1vSeWK',
      sizeMax: 'sizeMax-1Mj0eU',
      sizeMedium: 'sizeMedium-1AC_Sl',
      sizeMin: 'sizeMin-1mJd1x',
      sizeSmall: 'sizeSmall-2cSMqn',
      sizeXlarge: 'sizeXlarge-2yFAlZ',

      shine: 'shine-2f1uEU',
      shineContainer: 'shineContainer-1HHuZ1',
      shineContainerDefault: 'shineContainerDefault-2bbFgu',
      shineContainerSmall: 'shineContainerSmall-1MIVgq',
      shineInner: 'shineInner-fWUhvE',
      shinyButton: 'shinyButton-3uFlM-',

      spinner: 'spinner-3a9zLT',
      spinnerItem: 'spinnerItem-3GlVyU',
      submitting: 'submitting-3qlO9O'
    ),
    calendars: (

    ),
    codeblocks: (

    ),
    colorPickers: (

    ),
    contextMenus: (

    ),
    embeds: (

    ),
    inputs: (

    ),
    modals: (

    ),
    notices: (

    ),
    notificationBadges: (

    ),
    popouts: (
      user: (
        userPopout: 'userPopout-3XzG_A'
      ),
      autocomplete: (
        gif: (
          container: 'container-3ISnnM',
          header: 'header-1TOWci',
          searchBar: 'searchBar--fTZYa',
          input: 'input-3Xdcic',
          searchBarIcon: 'searchBarIcon-18QaPq',
          controls: 'controls-3xBdO0',
          icon: 'icon-1S6UIr',
          eyeGlass: 'eyeGlass-2cMHx7',
          visible: 'visible-3bFCH-',
          clear: 'clear--Eywng',
          content: 'content-ySCtCx',
          scrollerWrap: 'scrollerWrap-2lJEkd',
          scroller: 'scroller-2FKFPG',
          result: 'result-3w1ZcL',
          focused: 'focused-1En8bG',
          categoryText: 'categoryText-2-8pri',
          categoryIcon: 'categoryIcon-21RREB',
          categoryName: 'categoryName-UvMsNp',
          categoryFade: 'categoryFade-2ybR1J',
          categoryFadeBlurple: 'categoryFadeBlurple-1j72_A',
          gif: 'gif-1TcNIB',
          placeHolder: 'placeholder-1kJjXI'
        )
      ),
      emojiPicker: (
        searchBarIcon: 'searchBarIcon-1J6sKG'
      )
    ),
    roles: (

    ),
    spinners: (
      typing: (
        typing: 'typing-1KJk_j',
        spinner: 'spinner-2enMB9',
        pulsingEllipsis: 'pulsingEllipsis-3YiXRF',
        pulsingEllipsisItem: 'pulsingEllipsisItem-32hhWL'
      )
    ),
    statuses: (
      status: 'status-oxiHuE',
      online: 'online-2S838R',
      idle: 'idle-3DEnRT',
      dnd: 'dnd-1_xrcq',
      streaming: 'streaming-2_dnHe',
      offline: 'cc',
      invisible: 'xx'
    ),
    tooltips: (

    ),
    userLabels: (

    )
  ),
  layout: (
    channelMembers: (

    ),
    channels: (
      categoryContainerDefault: 'containerDefault-3GGEv_',
      categoryWrapper: 'wrapper-CU3qI5',
      categoryCollapsed: 'collapsed-4WdoJ7',
      categoryChildren: 'children-13TY0l',
      categoryAddButton: 'addButton-1BORro',
      categoryAddButtonIcon: 'addButtonIcon-3u-3Hu',
      categoryArrowIcon: 'icon-WnO6o2',
      categoryName: 'name-IbjUBS',

      channelContainer: 'containerDefault-1ZnADq',
      channelContainerSelected: 'selected-37j_iU',
      channelContainerDragAfter: 'containerDragAfter-1F4fgZ',
      channelContainerDragBefore: 'containerDragBefore-31UGCO',

      channelChildren: 'children-Bmpf2Q',
      channelName: 'name-3_Dsmg',
      channelIconItem: 'iconItem-1-bXkn',
      channelIcon: 'icon-1_QxNX',
      channelActionIcon: 'actionIcon-2Hi9ZG',
      channelContent: 'content-3at_AU',
      channelWrapper: 'wrapper-1ucjTd',
      channelMuted: 'modeMuted-3osy7j',
      channelSelected: 'modeSelected-1zApJ_',
      channelConnected: 'modeConnected-2IEL4z',
      channelLocked: 'modeLocked-SZJhTy',
      channelUnread: 'modeUnread-1zpFdA',
      channelUnreadIndicator: 'unread-3zKkbm',
      
      badge: 'wrapper-232cHJ',
      channels: 'sidebar-2K8pFh',
      channelsInnerContainer: 'container-PNkimc',
      container0: 'container-0',

      scroller: 'scroller-2FKFPG',
      scrollerWrap: 'scrollerWrap-2lJEkd',
      scrolling: 'scrolling-CehiO2',

      serverHeaderContainer: 'container-2Rl01u',
      wrapper: 'wrapper-KpKNwI',

      unreadBarContainer: 'container-35XQWE',
      unreadBar: 'unreadBar-3YD_k9',
      unreadBarTop: 'unreadTop-73gZ2_',
      unreadBarBottom: 'unreadBottom-3hWQ7c',

      voiceCollapsed: 'collapsed-3x0tkj',
      voiceAvatarContainer: 'avatarContainer-2inGBK',
      voiceAvatar: 'avatar-3elDyV',
      voiceAvatarSpeaking: 'avatarSpeaking-3MqCHL',

      voiceMutedDeafenedIcon: 'icon-3BcwQu',
      voiceIconSpacing: 'iconSpacing-3LzVxF',

      voiceLimitWrapper: 'wrapper-pZmgj4',
      voiceLimitUsers: 'users-i_3-kL',
      voiceLimitTotal: 'total-3tKGEB',

      voiceList: 'list-2bwCXU',

      voiceUserContainer: 'draggable-1KoBzC',
      voiceUsername: 'username-lm8y6T',
      voiceUsernameSpeaking: 'usernameSpeaking-2xbKKh',

      accountPanel: (
        nameTag: 'nameTag-3uD-yy',
        button: 'button-2JbWXs',
        container: 'container-3baos1',
        discriminator: 'discriminator-3-Lf_x',
        username: 'username-2BIRiC'
      ),

      listeningAlong: (
        actionIcon: 'actionIcon-h73Pge',
        icons: 'icons-2iqSHd',
        listeningAlong: 'listeningAlong-2UPsxf',
        subtitle: 'subtitle-Qv5s8c'
      ),

      notices: (
        btn: 'btn-11C5_u',
        channelNotice: 'channelNotice-1-XFjC',
        channelNotices: 'channelNotices-41mJbj',
        close: 'close-relY5R',
        invite: 'invite-OjTXrW',
        message: 'message-3SOT5P',
        quickSwitcher: 'quickswitcher-35bYg4'
      ),

      voiceConnected: (
        channel: 'channel-1TmDQ6',
        container: 'container-1giJp5',
        inner: 'inner-tyMogq',
        ping: 'ping-2NgC8E',
        voiceConnectedButton: 'rtcConnectionStatusConnected-VRZDjy',
        rtcConnectionQualityAverage: 'rtcConnectionQualityAverage-3KV0u-',
        rtcConnectionQualityBad: 'rtcConnectionQualityBad-1J7mUU',
        rtcConnectionQualityFine: 'rtcConnectionQualityFine-2J6i8z',
        rtcConnectionStatus: 'rtcConnectionStatus-2-jIsi'
      )
    ),
    guilds: (
      guildsWrapper: 'guilds-1SWlCJ',

      mentionsIndicatorTop: 'unreadMentionsIndicatorTop-gA6RCh',
      mentionsIndicatorBottom: 'unreadMentionsIndicatorBottom-BXS58x',
      bar: 'bar-30k2ka',
      barActive: 'active-1SSsBb',
      mentionActive: 'mention-1f5kbO',

      scrollerWrap: 'scrollerWrap-2lJEkd',
      scroller: 'scroller-2FKFPG',

      badgeWrapper: 'badgeWrapper-3e8pMZ',
      lowerBadge: 'lowerBadge-29hYVK',
      upperBadge: 'upperBadge-2XnnGB',
      numberBadge: 'numberBadge-2s8kKX',

      pill: 'pill-31IEus',
      pillInner: 'item-2hkk8m',
      extrasPill: 'pill-3YxEhL',
      dmPill: 'pill-1m5BUr',

      guild: 'listItem-2P_4kh',
      guildWrapper: 'wrapper-25eVIn',
      listItemWrapper: 'listItemWrapper-3X98Pc',
      blobContainer: 'blobContainer-239gwq',
      svg: 'svg-1X37T1',
      svgWrapper: 'wrapper-1BJsBx',
      guildIcon: 'icon-27yU2q',

      guildSeparator: 'guildSeparator-3s64Iy',

      acronym: 'acronym-2mOFsV',

      dragPlaceholder: 'dragInner-_SHftW',
      placeholderMask: 'placeholderMask-3K9THS',
      
      unread: 'unread-2OHH1w',
      selected: 'selected-nT-gM3',

      guildsError: 'guildsError-b7zR5H',
      
      circleIconButton: 'circleIconButton-jET_ig',
      circleIcon: 'circleIcon-LvPL6c',

      audioVideoBadge: 'iconBadge-2wi9r4',
      audioVideoIcon: 'icon-3s6X1M',

      folderWrapper: 'wrapper-21YSNc',

      expandedGuilds: 'expandedGuilds-1JMD4M',
      
      expandedFolderBackground: 'expandedFolderBackground-2sPsd-',
      collapsed: 'collapsed-1GMuSb',
      folderIconWrapper: 'folderIconWrapper-226oVY',
      folder: 'folder-21wGz3',
      closedFolderIconWrapper: 'closedFolderIconWrapper-15K9MK',
      closedFolderGuildIcon: 'guildIcon-GuAC7C',
      expandedFolderIconWrapper: 'expandedFolderIconWrapper-1xLaU-'
    ),
    nav: (

    ),
    titlebar: (

    )
  ),
  views: (
    activity: (

    ),
    crash: (

    ),
    dm: (

    ),
    discover: (

    ),
    guild: (
      messages: (
        group: 'container-1YxwTf',

      )
    ),
    friends: (

    ),
    lfg: (

    ),
    library: (

    ),
    login: (

    ),
    noChannels: (

    ),
    nitro: (

    ),
    startup: (

    )
  )
);