// main: _module.scss

//** Inline SVG Variables

// folder
// user
// notifications
// nitro
// turbo
// add-friend
// group-add
// exclamation-point
// down-arrow
// speaker
// lock
// phone
// video
// x
// fat-checkmark
// fat-plus
// codeblock
// sync
// update
// updating


/* This is the old inline SVG style pattern used. It works great, but doesn't allow for the customizability of icon color like masking does */
@mixin volume($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#{$fill-color}" d="M9.33333333,2 L9.33333333,3.37333333 C11.26,3.94666667 12.6666667,5.73333333 12.6666667,7.84666667 C12.6666667,9.96 11.26,11.74 9.33333333,12.3133333 L9.33333333,13.6933333 C12,13.0866667 14,10.7 14,7.84666667 C14,4.99333333 12,2.60666667 9.33333333,2 L9.33333333,2 Z M11,7.84666667 C11,6.66666667 10.3333333,5.65333333 9.33333333,5.16 L9.33333333,10.5133333 C10.3333333,10.04 11,9.02 11,7.84666667 L11,7.84666667 Z M2,5.84666667 L2,9.84666667 L4.66666667,9.84666667 L8,13.18 L8,2.51333333 L4.66666667,5.84666667 L2,5.84666667 L2,5.84666667 Z"></path></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}
/*********************************************************************/

@mixin appClose($background-color: #fff) {
$svg-url: svg-url('<svg width="10px" height="11px" viewBox="0 0 10 11"><path fill="#{$background-color}" d="M5,4.82101759 L0.678982409,0.5 L0,1.17898241 L4.32101759,5.5 L0,9.82101759 L0.678982409,10.5 L5,6.17898241 L9.32101759,10.5 L10,9.82101759 L5.67898241,5.5 L10,1.17898241 L9.32101759,0.5 L5,4.82101759 Z"></path></svg>') no-repeat 50% 50%;
  background-color: $background-color;
  -webkit-mask: $svg-url;
  mask: $svg-url;
}

@mixin appMaximize($background-color: #fff) {
$svg-url: svg-url('<svg width="10px" height="11px" viewBox="0 0 10 11"><polygon style="fill: #{$background-color}" points="8 8 10 8 10 7 8 7"></polygon><polygon style="fill: #{$background-color}" points="2 0 2 3 3 3 3 0"></polygon><polygon style="fill: #{$background-color}" points="9 0 9 8 10 8 10 0"></polygon><polygon style="fill: #{$background-color}" points="2 1 10 1 10 0 2 0"></polygon><path fill="#{$background-color}" d="M1,3 L1,9 L7,9 L7,3 L1,3 Z M0,2 L8,2 L8,10 L0,10 L0,2 Z" fill-rule="nonzero"></path></svg>') no-repeat 50% 50%;
  background-color: $background-color;
  -webkit-mask: $svg-url;
  mask: $svg-url;
}

@mixin appRestore($background-color: #fff) {
$svg-url: svg-url('<svg width="10px" height="11px" viewBox="0 0 10 11"><path fill="#{$background-color}" d="M1,9 L9,9 L9,1 L1,1 L1,9 Z M0,0 L10,0 L10,10 L0,10 L0,0 Z"></path></svg>') no-repeat 50% 50%;
  background-color: $background-color;
  -webkit-mask: $svg-url;
  mask: $svg-url;
}

@mixin appMinimize($background-color: #fff) {
$svg-url: svg-url('<svg width="10px" height="11px" viewBox="0 0 10 11"><rect x="0" y="5" width="10" height="1" stroke="#{$background-color}"></rect></svg>') no-repeat 50% 50%;
  background-color: $background-color;
  -webkit-mask: $svg-url;
  mask: $svg-url;
}

@mixin user($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M725 939H85v-71l214-214h142L299 512V85h426v427L583 654h142l214 214v71H725z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin notifications($background-color: #fff) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#fff" stroke-width="30" d="M884 567q6 6 9 14t3 16v86q0 36-24.5 60.5T811 768H213q-36 0-60.5-24.5T128 683v-86q0-8 3-16t9-14l73-73V341q0-60 24-114t64.5-95 95-65T512 43t115.5 24 95 65 64.5 95 24 114v153l73 73zm-73 48l-73-73q-6-6-9.5-14t-3.5-16V341q0-42-17-80.5t-46-68-68-47-82-17.5-82 17.5-68 47-46 68-17 80.5v171q0 8-3.5 16t-9.5 14l-73 73v68h598v-68zM640 853q0 53-37.5 90.5T512 981t-90.5-37.5T384 853h256z"/></svg>') no-repeat 50% 50%;
  background-color: $background-color;
  -webkit-mask: $svg-url;
  mask: $svg-url;
}

@mixin nitro($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 13"><polygon style="fill:#{$fill-color};" points="15.7,5.8 10,0.1 4.3,5.8 0,1.5 0,12.9 20,12.9 20,1.5"></polygon></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin add-friend($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" x="0px" y="0px"><path fill="#{$fill-color}" d="M3,6 L1,6 L1,7 L3,7 L3,9 L4,9 L4,7 L6,7 L6,6 L4,6 L4,4 L3,4 L3,6 Z M9.57142857,3 L12.4285714,3 L13.8571429,4.42857143 L13.8571429,8 L11.7142857,9.42857143 L11.7142857,10.1428571 L14.5714286,10.1428571 L16,11.5714286 L16,13 L6,13 L6,11.5714286 L7.42857143,10.1428571 L10.2857143,10.1428571 L10.2857143,9.42857143 L8.14285714,8 L8.14285714,4.42857143 L9.57142857,3 Z"></path></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin exclamation-point($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M384 0h256v704H384V0zm0 832h256v192H384V832z"/></svg>') no-repeat center;
  @if ($background-color == '') {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin exclamation-square($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M0 0h1024v1024H0V0zm394 118v552h236V118H394zm0 630v158h236V748H394z"/></svg>') no-repeat center;
  @if ($background-color == '') {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin down-arrow($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M128 320l384 384 384-384H128z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin turbo($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 939 1024"><path fill="#{$fill-color}" d="M171 597h273l-86 299 410-469H495l86-299z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin speaker($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M597 640h43V384h-43v256zm150 64h42V320h-42v384zM512 277L344 411H235v202h109l168 134V277z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin lock($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M512 0q-61 0-114 23t-93 62.5-63 93T219 292v156H64v576h895V448H804V292q0-60-23-113.5t-62.5-93-93-62.5T512 0zm0 146q65 0 105.5 40.5T658 292v156H365V292q0-65 40.5-105.5T512 146z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin phone($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M871 741q-44-44-82.5-76L750 633l-91 91-363-363 91-91-32-38.5-75-81.5q-44-44-82.5-75.5L159 43l-17 16.5-38 43-39.5 58L43 222q-3 40 15 94.5t55 117T203 564t119 134q67 66 134.5 119.5t130 90 117 55T798 977q30-3 62-21.5t58-39.5 43-38l17-17-32-38.5-75-81.5z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin video($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1109 1024"><path fill="#{$fill-color}" d="M971 171L683 442V171H0v682h683V581l288 272h138V171H971z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin add-reaction($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#{$fill-color}" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm0 2C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12zm4-12c0-.776-.223-1-1-1h-2V9c0-.776-.223-1-1-1-.776 0-1 .224-1 1v2H9c-.776 0-1 .224-1 1 0 .777.224 1 1 1h2v2c0 .777.224 1 1 1 .777 0 1-.223 1-1v-2h2c.777 0 1-.223 1-1z"></path></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin circle-x($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill="#{$fill-color}" d="M9,2 C12.871,2 16,5.129 16,9 C16,12.871 12.871,16 9,16 C5.129,16 2,12.871 2,9 C2,5.129 5.129,2 9,2 L9,2 Z M11.6925,5.25 L9,7.9425 L6.3075,5.25 L5.25,6.3075 L7.9425,9 L5.25,11.6925 L6.3075,12.75 L9,10.0575 L11.6925,12.75 L12.75,11.6925 L10.0575,9 L12.75,6.3075 L11.6925,5.25 Z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin fat-plus($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M256 576h512V448H256v128zm192 192h128V256H448v512z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin codeblock($fill-color: #fff, $background-color: '', $background-size: '' !important) {
    $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M574 260L369 728l81 36 205-468zm-296 14L6 512l38 33 234 205 58-66-196-172 196-172zm468 0l-58 66 196 172-196 172 58 66 234-205 38-33-38-33z"/></svg>') no-repeat center;
    @if $background-color == '' {
      background: $svg-url;
    } @else if $background-size == '' {
      background: $background-color $svg-url;
    } @else {
      background: $background-color $svg-url/$background-size;
    }
  }

@mixin group-add($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M159 328v207l88 89h-88l-88 88v110h221v-45l12-12 116-115-26-26h-88l88-89V328H159zm303-90v299l128 129H462L333 794v43h600v-43L805 666H676l129-129V420H682V238H462zm261 141h205V174H723v205zm31-117h58v-58h28v58h58v29h-58v57h-28v-57h-58v-29z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin sync($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" ><path fill="#{$fill-color}" d="M2.25,9 C2.25,10.6575 2.9325,12.15 4.02,13.23 L2.25,15 L6.75,15 L6.75,10.5 L5.07,12.18 C4.26,11.3625 3.75,10.245 3.75,9 C3.75,7.0425 5.0025,5.3775 6.75,4.7625 L6.75,3.195 C4.1625,3.8625 2.25,6.2025 2.25,9 Z M15.75,3 L11.25,3 L11.25,7.5 L12.93,5.82 C13.74,6.6375 14.25,7.755 14.25,9 C14.25,10.9575 12.9975,12.6225 11.25,13.2375 L11.25,14.805 C13.8375,14.1375 15.75,11.7975 15.75,9 C15.75,7.3425 15.0675,5.85 13.98,4.77 L15.75,3 Z"></path><path fill="#{$fill-color}" d="M8.25,12.75 L8.25,11.25 L9.75,11.25 L9.75,12.75 L8.25,12.75 Z M8.25,9.75 L8.25,5.25 L9.75,5.25 L9.75,9.75 L8.25,9.75 Z"></path></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin emoji($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M279 47L47 279v466l232 232h466l232-232V279L745 47H279zM140 687V337l197-197h350l197 197v350L687 884H337L140 687zm465-269h92v-92h-92v92zm-279 0h93v-92h-93v92zm-47 141v69l117 117h232l117-117v-69H279z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin time($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1138 1024"><path fill="#{$fill-color}" d="M569 853q-71 0-133-26.5t-108.5-73-73-108.5T228 512t26.5-133 73-108.5 108.5-73T569 171t133 26.5 108.5 73 73 108.5T910 512t-26.5 133-73 108.5-108.5 73T569 853zm0-585q-51 0-95 19.5T396.5 340 344 417t-19 95 19 95 52.5 77 77.5 52.5 95 19.5q50 0 94.5-19.5T741 684t52.5-77 19.5-95-19.5-95-52.5-77-77.5-52.5T569 268zm-35 278l-14-34 49-195 44 176 102 165-181-112z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin play($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 533.333 533.333"><path fill="#{$fill-color}" d="M266.667,0C119.391,0,0,119.391,0,266.667c0,147.275,119.391,266.666,266.667,266.666 c147.275,0,266.667-119.391,266.667-266.666C533.333,119.391,413.942,0,266.667,0z M266.667,483.333 C147.005,483.333,50,386.328,50,266.667C50,147.005,147.005,50,266.667,50c119.661,0,216.667,97.005,216.667,216.667 C483.333,386.328,386.328,483.333,266.667,483.333z M200,150l200,116.667L200,383.333V150z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin play-invert($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M512 1024q-106 0-199.5-40t-163-109.5T40 711.5 0 512t40-199.5 109.5-163T312.5 40 512 0t199.5 40 163 109.5 109.5 163 40 199.5-40 199.5-109.5 163-163 109.5-199.5 40zM392 271v482l361-241-361-241z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin question-mark($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 939 1024"><path fill="#{$fill-color}" d="M384 896h170V726H384v170zM171 128v170h426v86H384v298h170V555h214V128H171z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin channel-members($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M800 748l-186-95q-7-4-11-10t-5-14 1.5-15.5T608 601q22-18 31.5-43.5T656 511q7-23 7.5-47t.5-45V303q0-22-10.5-45.5T617 213q-25-20-51-31t-54-11q-28 0-54 11t-51 31q-26 21-36.5 44.5T360 303v116q0 21 .5 45t7.5 47q7 21 16.5 46.5T416 601q6 5 8.5 12.5T426 629t-5 14-11 10l-186 95q-13 5-20 16.5t-7 27.5v61h630v-61q0-16-7-27.5T800 748zm205-10l-128-65q-4-3-7-7t-4-10q0-5 2-10t6-9q14-12 18-29.5t9-32.5q4-15 4.5-32t.5-31v-80q0-15-7.5-31T874 371t-32-22-35-8q-19 0-34 8t-32 22q-18 14-25 30t-7 31v111l5 32 8.5 32.5L741 637q4 4 6 9t1 10q0 5-2.5 8.5T740 670l75 39q24 9 37.5 29.5T866 788v19h158v-39q0-11-5-18.5t-14-11.5zm-847 50q0-29 13.5-49.5T209 709l75-39q-3-2-5.5-5.5T276 656q-1-5 1-10t6-9q15-12 18.5-29.5T310 575t5-32V432q0-15-7-31t-25-30q-17-14-32-22t-34-8q-20 0-35 8t-32 22-24.5 30-7.5 31v80q0 14 .5 31t4.5 32q5 15 9 32.5t18 29.5q4 4 6 9t2 10q-1 6-4 10t-7 7h-1L19 738q-9 4-14 11.5T0 768v39h158v-19z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin muted-notifications($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M427 43v85H256v495l495-495H597V43H427zm341 316L273 853h623v-49l-128-79V359zM427 981h170v-85H427v85zm385-853L85 853h127l727-725H812z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin unmuted-notifications($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M427 43v85H256v597l-128 79v49h767v-49l-127-79V128H597V43H427zm0 938h170v-85H427v85z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin ying-yang($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path fill="#fff" d="M25,25c-6.3,6.3-9.5,14.7-9.5,23c0,8.3,3.2,16.7,9.5,23C37.8,83.7,58.3,83.7,71,71 C83.6,58.3,83.7,37.7,71,25C58.3,12.3,37.7,12.3,25,25L25,25z M47,27.9c4.6-4.6,11.7-5.2,17-1.7c1.1,0.8,2.2,1.7,3.1,2.7 c10.6,10.6,10.5,27.7,0,38.3c-10.6,10.6-27.7,10.6-38.3,0.1c-0.2-0.2-0.4-0.5-0.7-0.7c5.3,5,13.6,4.9,18.8-0.3 c5.3-5.3,5.3-13.9,0-19.2C41.7,41.7,41.7,33.2,47,27.9L47,27.9z M34.6,53.7c1.6-1.6,4.2-1.6,5.7,0c1.6,1.6,1.6,4.2,0,5.7 c-1.6,1.6-4.2,1.6-5.7,0C33,57.9,33,55.3,34.6,53.7z M53.7,34.6c-1.6,1.6-1.6,4.2,0,5.7c1.6,1.6,4.2,1.6,5.7,0 c1.6-1.6,1.6-4.2,0-5.7C57.9,33,55.3,33,53.7,34.6z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin pinned-messages($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M670 532q-21 0-35-14.5T621 483t14-34.5 35-14.5q20 0 34 14.5t14 34.5-14 34.5-34 14.5zm-143 0q-20 0-34.5-14.5T478 483t14.5-34.5T527 434t34.5 14.5T576 483t-14.5 34.5T527 532zm-143 0q-20 0-34-14.5T336 483t14-34.5 34-14.5q21 0 35 14.5t14 34.5-14 34.5-35 14.5zm400-272q-54-43-124-66t-147-23-147 23-124 66q-55 43-84.5 99.5T128 478q0 37 11 73.5t33 69.5q20 30 48 56t62 47q-2 11-15.5 41T208 834q-3 2-4 5t0 6 3.5 5 5.5 2l6.5.5 18.5.5q34 0 99.5-12T487 785h26q77 0 147-23t124-66q55-43 84.5-99.5T898 478t-29.5-118.5T784 260z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin video-hearts {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240 108"><g fill="none" fill-rule="evenodd"><path fill="#D7CCEB" d="M123 56v8h-20V44h20v8l8-8h4v20h-4"/><path fill="#4B367C" d="M158 30v-2l1-1h2l1 1 1-1h2l1 1v2l-4 4-4-4zm-86 0v-2l1-1h2l1 1 1-1h2l1 1v2l-4 4-4-4zm0 46v-2l1-1h2l1 1 1-1h2l1 1v2l-4 4-4-4zm86 0v-2l1-1h2l1 1 1-1h2l1 1v2l-4 4-4-4zm17-23v-2l1-1h2l1 1 1-1h2l1 1v2l-4 4-4-4zM57 53v-2l1-1h2l1 1 1-1h2l1 1v2l-4 4-4-4zm37 27l2-2h4l2 2 2-2h4l2 2v4l-8 8-8-8v-4zm0-57v-4l2-2h4l2 2 2-2h4l2 2v4l-8 8-8-8zm34 0v-4l2-2h4l2 2 2-2h4l2 2v4l-8 8-8-8zm0 61v-4l2-2h4l2 2 2-2h4l2 2v4l-8 8-8-8zm19-31v-4l2-2h4l2 2 2-2h4l2 2v4l-8 8-8-8zm-72 0v-4l2-2h4l2 2 2-2h4l2 2v4l-8 8-8-8z"/></g></svg>') no-repeat center;
  background: $svg-url;
}

@mixin triforce($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 220 220"><polygon points="110,23.4 160,110 60,110" fill="#{$fill-color}" /><polygon points="60,110 110,196.6, 10,196.6" fill="#{$fill-color}" /><polygon points="160,110 210,196.6, 110,196.6" fill="#{$fill-color}" /></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin add-channel($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#{$fill-color}" d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z"></path></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin search($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path clip-rule="evenodd" fill="#{$fill-color}" d="M16.707,15.293l-1.414,1.414l-4.825-4.825C9.487,12.58,8.295,13,7,13c-3.313,0-6-2.687-6-6s2.687-6,6-6s6,2.687,6,6c0,1.295-0.42,2.487-1.118,3.468L16.707,15.293z M7,3C4.791,3,3,4.791,3,7s1.791,4,4,4s4-1.791,4-4S9.209,3,7,3z" fill-rule="evenodd"></path></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin squared-search($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 48"><path clip-rule="evenodd" fill="#{$fill-color}" d="M44.7314176,41.7572363 L37.4713285,48 L26.8572017,35.3514358 L19.8203892,37.5166089 L8.56540656,33.764948 L2,24.3857958 L2,13.1308131 L8.56540656,3.75166089 L19.8203892,0 L32.0132871,3.75166089 L38.2660553,12.8181747 L38.2660553,24.6984342 L34.7250756,29.8328548 L44.7314176,41.7572363 Z M25.8441673,26.223711 L20.1169645,28.1374567 L20.0888962,28.1374567 L14.3616933,26.223711 L11.0126384,21.4393468 L11.0126384,15.6981098 L14.3616933,10.9137457 L20.0888962,9 L20.1176024,9 L25.8448053,10.9137457 L29.5121799,15.6981098 L29.5121799,21.4393468 L25.8441673,26.223711 L25.8441673,26.223711 Z" fill-rule="evenodd"></path></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin messages($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1138 1024"><path fill="#{$fill-color}" d="M114 853V171h910v682H114zm816-548l-40-41-321 322-321-322-41 41 208 207-208 207 41 41 207-208 94 94h40l94-94 207 208 40-41-207-207 207-207z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin friends($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1138 1024"><path fill="#{$fill-color}" d="M632 610l41-42h105L673 463V219h279v244L848 568h104l105 104v35H735l-97-97h-6zM81 853v-48l147-147h146L228 512V171h390v341L471 658h147l146 147v48H81z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin activity($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><g transform="translate(0.000000,192.000000) scale(0.100000,-0.100000)"><path fill="#{$fill-color}" d="M2418.7-1325.6l-975.6-2458.8H769.4H100v-700v-700h1001.9h1001.9l113.8,297.5c61.2,161.8,354.4,940.6,651.9,1732.5c301.9,787.5,555.6,1417.5,568.8,1400c8.8-21.9,555.6-1181.2,1211.9-2576.9C5306.2-5726.9,5888.1-6965,5949.4-7083.1l105-210l923.2,1697.5c507.5,936.2,936.2,1719.4,953.7,1736.9c17.5,17.5,214.4-271.3,437.5-647.5l402.5-678.1h564.3H9900v700v700h-323.8h-319.4l-660.6,1098.2L7940-1588.1l-332.5-560c-179.4-310.6-581.9-993.1-892.5-1522.5c-310.7-525-581.9-953.7-603.7-953.7s-595,1198.8-1273.2,2660C4160-498.8,3556.2,796.2,3499.4,914.4l-105,218.8L2418.7-1325.6z"/></g></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin lfg($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M20 573l185-368h123l184 61 184-61h123l185 368v123L881 819H758L635 696H389L266 819H143L20 696V573zm246-122h-61v61h61v61h62v-61h61v-61h-61v-62h-62v62zm430-62v62h62v-62h-62zm62 62v61h61v-61h-61zm-62 61v61h62v-61h-62zm-61-61v61h61v-61h-61z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}

@mixin cloud($fill-color: #fff, $background-color: '', $background-size: '' !important) {
  $svg-url: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#{$fill-color}" d="M710 476q-24 0-41.5-17T651 419q0-24 17.5-40.5T710 362q25 0 42 16.5t17 40.5q0 23-17 40t-42 17zm-197 0q-25 0-42-17t-17-40q0-24 17-40.5t42-16.5q24 0 41.5 16.5T572 419q0 23-17.5 40T513 476zm-198 0q-25 0-42-17t-17-40q0-24 17-40.5t42-16.5q24 0 41.5 16.5T374 419q0 23-17.5 40T315 476zM751 96q-38 0-73 9.5T611 133q-28-18-61.5-27.5T482 96q-61 0-114.5 28.5T280 202q-9-1-19-2t-20-1q-50 0-94 18.5T70.5 268 19 342.5 0 434q0 48 19 90.5T70.5 599t76.5 50.5 94 18.5q15 0 30-2t29-5q34 38 81.5 59T482 741q37 0 72.5-10.5T620 699q22-15 40-34t31-41q14 3 29 4.5t31 1.5q56 0 106-21t87.5-57 59-84.5T1025 363q0-55-21.5-103.5t-59-85T857 117 751 96zM292 790q0 29-20.5 49T223 859q-29 0-49-20t-20-49q0-28 20-48.5t49-20.5q28 0 48.5 20.5T292 790zm154 93q0 18-13 31.5T401 928q-18 0-31-13.5T357 883q0-19 13-32t31-13q19 0 32 13t13 32z"/></svg>') no-repeat center;
  @if $background-color == '' {
    background: $svg-url;
  } @else if $background-size == '' {
    background: $background-color $svg-url;
  } @else {
    background: $background-color $svg-url/$background-size;
  }
}
