// main: _module.scss

//** Private channels list section

// DM channel container
#{$dmchannels} {
  // Empty div directly inside scroller
  // https://i.imgur.com/wjaaY2t.png
  #{$scroller} {

  }
  // 'Direct Messages' header
  header {
    @include ellipsis;
    display: flex;
    align-items: center;
    opacity: 1;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: RGB(var(--tc-tint-9));
    border-bottom: 1px solid var(--border-color);
    height: 30px;
    margin: 10px 0 3px 15px;
    padding: 9px 4px 20px 0;
    &:first-of-type {
      margin-top: 0;
    }
  }
  // DM convo container
  #{$dmchannel} {
    max-height: 40px!important;
    line-height: 40px;
    margin: 0 0 0 10px;
    a {
      border-radius: 0;
      height: 40px;
      margin: 0;
      padding: 0 4px;
      // Activity, LFG, Friends buttons
      &:not([href*="/channels/@me/"]) {
        display: none;
      }
    }
    &:hover {
      // DM close button
      #{$dmchannelclose} {
        transform: translate3d(-2px, 0, 0);
      }
      a {
        color: RGB(var(--tc-tint-11))!important;
        background-color: RGB(var(--tc-tint-3));
      }
      #{$status} {
        box-shadow: 0 0 0 2px RGB(var(--tc-tint-3));
      }
    }
    // DM convo avatar
    .wrapper-2F3Zv8,
    .inner-1W0Bkn {
      @include size(26px);
      margin: 0 10px 0 0;
      background-color: transparent;
      background-size: 26px 26px!important;
      background-repeat: no-repeat;
      border-radius: var(--user-roundness);
    }
    // Status
    #{$status} {
      @include absolute(right -2px bottom -2px);
      @include size(6px);
      box-shadow: 0 0 0 2px var(--channels-color);
      &#{$statustyping} {
        width: 24px!important;
        right: -3px !important;
      }
    }
    // DM close button
    #{$dmchannelclose} {
      @include button-base;
      @include button('primary');
      padding: 11px;
      height: auto;
      display: block;
      opacity: 1!important;
      transform: translate3d(30px, 0, 0);
      transition: var(--disable-transitions, transform 0.15s ease-in)!important;
      will-change: transform;
    }
    // User activity text outer container
    // This first bit is specifically targetting/fixing 'activity' for group
    // DMs. The next flex part is for all other activities
    #{$dmchannelactivity} {
      @include text(RGB(var(--tc-tint-7)), 12px, 400, 19px);
      margin-top: -4px;
      width: 100%;
      // For activities
      &#{$flex} {
        @include relative(top 1px);
        margin-top: -1px;
        line-height: 12px;
        opacity: 1;
      }
      // Actual activity text
      strong {
        @include text(inherit, 12px, 400);
        @include ellipsis(140px, inline-block);
      }
    }
    // User activity text inner container
    #{$dmchannelactivitytext} {
      font-size: 0;
      height: 16px;
    }
    // DM convo inner container
    #{$dmchannelname} {
      @include ellipsis;
      @include text(RGB(var(--tc-tint-9)), 14px, 400, 20px);
      align-items: center;
      flex-wrap: wrap;
      margin: 0 10px 0 0;
      opacity: 1;
      padding: 0;
    }
    // DM selected / hovered
    &#{$dmchannelselected},
    &:hover {
      // User activity text outer container
      #{$dmchannelactivity} {
        color: RGB(var(--tc-tint-9));
      }
      // DM convo inner container
      #{$dmchannelname} {
        color: RGB(var(--tc-tint-11));
      }
    }
    // DM selected
    &#{$dmchannelselected},
    &#{$dmchannelselected}:hover {
      a {
        color: RGB(var(--tc-tint-11));
        background-color: RGB(var(--tc-tint-2));
        border-radius: 0;
      }
      #{$status} {
        box-shadow: 0 0 0 2px RGB(var(--tc-tint-2))!important;
      }
    }
  }
  // Default Discord quickswitcher search bar container and search bar
  #{$dmchannelsearchbarcontainer},
  #{$dmchannelsearchbar},
  // Rich presence icon
  #{$dmchannelactivityicon} {
    display: none;
  }
}

.channels-Ie2l6A .private-channels .scrollerThemed-2oenus::-webkit-scrollbar-thumb {
  border: 3px solid RGB(var(--tc-color-2))!important;
  width: 20px!important;
}

.channels-Ie2l6A .private-channels .scrollerThemed-2oenus::-webkit-scrollbar {
  width: 14px!important;
}

.channels-Ie2l6A .private-channels .scrollerThemed-2oenus::-webkit-scrollbar,
.channels-Ie2l6A .private-channels .scrollerThemed-2oenus::-webkit-scrollbar-thumb,
.channels-Ie2l6A .private-channels .scrollerThemed-2oenus::-webkit-scrollbar-track {
  margin-bottom: 104px;
}
