///  main: _module.scss
///  ==========================================================================
///  Main navigation
///  ==========================================================================

@keyframes twitchcordSettingsLogoHover {
  0% {
    transform: scale(-1, 1);
    animation-timing-function: cubic-bezier(.34, 0, .2, 1);
  }
  50% {
    transform: scale(-1.09, 1.09);
    animation-timing-function: cubic-bezier(.67, 0, .71, 1);
  }
  100% {
    transform: scale(-1.08, 1.08);
  }
}

@keyframes twitchcordSettingsLogoActive {
  0% {
    transform: scale(1.08, 1.08);
    animation-timing-function: cubic-bezier(.17, .11, .6, .83);
  }

  33% {
    transform: scale(.87, .87);
    animation-timing-function: cubic-bezier(.04, .25, .61, 1.01);
  }
  100% {
    transform: scale(.85, .85);
  }
}

.tc-appbackground {
  &-image-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url('https://imgur.com/RG03PyX.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.05;
    mix-blend-mode: luminosity;
  }
}

// Twitchcord update bar
#{classes('twitchcord.updateBar')} {
  position: relative;
  z-index: 99;
  display: flex;
  flex: 1 0 30px;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-height: 0;
  overflow: hidden;
  background: color('success');
  transition: max-height 250ms;
  &.update-available {
    max-height: 30px;
  }
  &-p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: color('white');
  }
  &-btn {
    margin: 0 0 0 10px;
    padding: 0 8px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: color('white');
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #fff !important;
    border-radius: 0;
    &:hover {
      color: color('success');
      background: #fff;
    }
  }
  &-btn-dismiss {
    position: absolute;
    right: 1.6rem;
    font-size: 1.2rem;
    color: color('white') !important;
    background: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Twitchcord top nav bar
#{classes('twitchcord.titleWrapper')} {
  position: relative;
  z-index: 100;
  display: flex;
  flex: 0 0 5rem;
  flex-wrap: nowrap;
  align-items: stretch;
  width: calc(100% - calc(var(--layout-gutter-size, 0) * 2));
  margin: var(--layout-gutter-size, 0);
  background: var(--main-nav-color);
  border: var(--main-nav-border);
  border-radius: var(--main-nav-roundness, var(--layout-roundness, 0));
  &-nav {
    $grandparent: &;
    display: flex;
    flex: 1 1;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    &-logo-settings {
      @include size(var(--guilds-width), var(--main-nav-height));
      position: relative;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: var(--main-nav-height);
      max-width: 7rem;
      cursor: pointer;
      &:hover {
        #{$grandparent}-logo-svg {
          animation-name: twitchcordSettingsLogoHover;
          animation-duration: .2s;
        }
      }
      &:active {
        animation-name: twitchcordSettingsLogoActive;
        animation-duration: .1s;
        animation-fill-mode: forwards;
      }
    }
    &-logo-svg {
      @include size(3rem);
      margin: 3px 0 0 3px;
      color: #fff;
      transform: scale(-1, 1);
      transform-origin: center;
      animation-fill-mode: both;
      fill: currentColor;
    }
    &-view-name {
      margin: 0;
      padding: 0 15px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: var(--main-nav-links-color);
      white-space: nowrap;
    }
    &-icon-friends,
    &-icon-discover,
    &-icon-library {
      @include size(37px, 50px);
      display: none;
      opacity: 0.5;
    }
    &-friends-btn,
    &-discover-btn,
    &-library-btn {
      position: relative;
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 18px;
      height: 100%;
      text-decoration: none;
      cursor: pointer;
      &.disabled {
        pointer-events: none !important;
      }
      &::after {
        content: attr(data-tc-tooltip);
        display: block;
        height: 0;
        padding: 0 15px;
        font-size: 16px;
        font-weight: 700;
        visibility: hidden;
      }
      &.disabled #{$grandparent} {
        &-view-name {
          pointer-events: all;
          cursor: not-allowed;
          &:hover {
            color: color('primary-12');
          }
        }
      }
      &.active #{$grandparent} {
        &-view-name {
          font-weight: 700;
          color: #fff;
        }
        &-icon-friends,
        &-icon-discover,
        &-icon-library {
          background-color: #fff;
        }
      }
      &:hover #{$grandparent} {
        &-view-name {
          color: #fff;
        }
        &-icon-friends,
        &-icon-discover,
        &-icon-library {
          background-color: #fff;
        }
      }
    }
    &-discover-btn {
      #{$grandparent}-icon-discover {
        @include mask(icon('mail'), color('primary-12'), 26px);
      }
    }
    &-friends-btn {
      #{$grandparent}-icon-friends {
        @include mask(icon('users'), color('primary-12'), 26px);
      }
    }
    &-library-btn {
      #{$grandparent}-icon-library {
        @include mask(icon('game-controller'), color('primary-12'), 26px);
      }
    }
  }
  &-global-search {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    &-outer {
      position: relative;
      display: flex;
      flex-basis: 40rem;
      margin: 0 2rem;
    }
    &-inner {
      display: flex;
      flex-basis: 100%;
    }
    &-input {
      position: relative;
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 30px;
      padding: 5px 30px 5px 30px;
      font-size: 12px;
      line-height: 1.5;
      color: #faf9fa;
      color: #fff;
      background-color: color('black', .2);
      background-clip: padding-box;
      border: 1px solid color('white', .05);
      border-radius: var(--button-border-radius);
      outline: 0;
      transition: box-shadow .12s ease-in, border .12s ease-in;
      -webkit-appearance: none;
      &::-webkit-input-placeholder {
        color: var(--main-nav-links-color);
      }
      &:focus {
        border-color: color('primary-8') !important;
        box-shadow: 0 0 6px -2px color('primary-8') !important;
        &+.tc-search-bar-icon {
          opacity: 1;
        }
      }
    }
    &-icon {
      @include size(30px);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search {
      @include size(20px);
      @include mask(icon('search'), color('white', .5));
      display: block;
    }
    &-close-icon {
      @include size(20px);
      position: absolute;
      top: 3px;
      right: 0;
      margin: 2px;
      margin-right: 6px;
    }
  }
  &-account {
    // So we can refer to this later below
    $grandparent: &;
    display: flex;
    flex: 1 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    &-update-outer,
    &-messages-outer,
    &-mentions-outer {
      position: relative;
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30px;
      min-width: 30px;
      height: 100%;
      margin-right: 5px;
      cursor: pointer;
    }
    &-update-outer {
      display: none;
      &.listener-added {
        display: flex;
      }
    }
    &-update-inner,
    &-messages-inner,
    &-mentions-inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
    }
    &-update {
      @include size(20px);
      @include mask(icon('update'), color('success'));
      display: block;
      &.updating {
        animation: rotate360 1s infinite forwards;
      }
    }
    &-messages {
      @include size(20px);
      @include mask(icon('mail'), color('white'), 1.7rem);
      display: block;
      &-new-indicator {
        @include size(10px);
        position: absolute;
        top: -.3rem;
        right: -.1rem;
        display: none;
        background: color('danger');
        border: 2px solid var(--main-nav-color);
      }
    }
    &-mentions {
      @include size(20px);
      @include mask(icon('notification'), #fff);
      display: block;
      &-new-indicator {
        @include size(10px);
        position: absolute;
        top: -.3rem;
        right: -.1rem;
        display: none;
        background: color('danger');
        border: 2px solid var(--main-nav-color);
        border-radius: 50%;
        @at-root .newMentions & {
          display: block;
        }
      }
    }
    &-panel-outer {
      position: relative;
      display: flex;
      flex: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 240px;
      padding: 0 0 0 10px;
      cursor: pointer;
    }
    &-panel-inner {
      position: relative;
      display: flex;
      flex: 1 1 0%;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
    &-avatar-container {
      position: relative;
      margin-right: 8px;
    }
    &-avatar {
      @include size(30px);
      margin: 0;
      overflow: hidden;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-clip: content-box;
      background-size: 100% 100%;
      border: none;
      border-radius: var('avatar-border-radius');
      backface-visibility: hidden;
    }
    &-details-outer {
      position: relative;
      display: flex;
      flex: 1 1 0%;
      justify-content: space-between;
      margin-right: 10px;
      overflow: hidden;
    }
    &-details-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: calc(100% - 18px);
      padding: 0;
      white-space: nowrap;
    }
    &-username-container {
      @include ellipsis;
      flex: 1 1 0%;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.6rem;
      color: color('white');
    }
    &-status-container {
      display: flex;
      align-items: baseline;
      max-width: 100%;
      margin: 2px 0 0;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.4rem;
      color: color('primary-12');
      text-align: left;
    }
    &-status-indicator {
      @include size(0.8rem);
      box-sizing: initial;
      flex: 0 0 auto;
      margin: 0 0.4rem 0 0;
      overflow: hidden;
      border: none;
      border-radius: var(--status-border-radius);
      &.online {
        background-color: var(--status-online-color);
        // Cheeky way of referencing .tc-titlewrapper-account
        + #{$grandparent}-activity-container {
          #{$grandparent}-activity {
            &:empty {
              &::after {
                @include localize('Online');
              }
            }
          }
        }
      }
      &.idle {
        background-color: var(--status-idle-color);
        // Cheeky way of referencing .tc-titlewrapper-account
        + #{$grandparent}-activity-container {
          #{$grandparent}-activity {
            &:empty {
              &::after {
                @include localize('Idle');
              }
            }
          }
        }
      }
      &.dnd {
        background-color: var(--status-dnd-color);
        // Cheeky way of referencing .tc-titlewrapper-account
        + #{$grandparent}-activity-container {
          #{$grandparent}-activity {
            &:empty {
              &::after {
                @include localize('Do not disturb');
              }
            }
          }
        }
      }
      &.offline,
      &.invisible,
      &.unknown {
        background-color: var(--status-offline-color);
        // Cheeky way of referencing .tc-titlewrapper-account
        + #{$grandparent}-activity-container {
          #{$grandparent}-activity {
            &:empty {
              &::after {
                @include localize('Invisible');
              }
            }
          }
        }
      }
    }
    &-activity-container {
      @include ellipsis;
      flex: 1 1 0%;
      line-height: 13px;
    }
    &-arrow {
      @include mask(icon('caret-down'), #fff);
      @include size(20px);
      position: relative;
      left: -.2rem;
      align-self: center;
      transition: var(--disable-transitions, transform 0.25s);
      #{$grandparent}-panel-outer.opened & {
        transform: rotate(180deg);
      }
    }
  }
}


.input-2VB9rf:focus + #{classes('twitchcord.titleWrapper')}-nav-global-search-input {
  border: var(--input-primary-border-focus);
  box-shadow: var(--input-primary-shadow-focus) !important;
  &::placeholder {
    color: color('tint-7');
  }
  &~.tc-search-bar-icon {
      opacity: 1;
  }
}
