// main: _module.scss

//** Looking for Group view

/* LFG */
.lfg-3xoFkI .gameIcon-2RDCJE {
    border-radius: var(--image-roundness);
}

.lfg-3xoFkI .wrapper-3_GGbm.wrapperFull-2_7g2- {
    color: #72767d!important;
    background-color: hsla(var(--chat-color), 1)!important;
    opacity: 0.5;
}

.lfg-3xoFkI .bodyText-3-EAqW {
    color: var(--dark-text-tint);
    line-height: 22px;
    font-size: 14px;
}

.lfg-3xoFkI .bodyText-3-EAqW + .gameSelector-24sFfz {
    background: hsla(var(--modal-color), 1);
    border: 1px solid hsla(var(--titlebar-color), 1);
    border-radius: 0;
    margin-top: 40px;
    padding: 10px;
}

.lfg-3xoFkI .bodyText-3-EAqW + .gameSelector-24sFfz .gameDefault-2SBp6B {
    padding: 10px;
    border: none;
}

.lfg-3xoFkI .bodyText-3-EAqW + .gameSelector-24sFfz .gameDefault-2SBp6B:focus,
.lfg-3xoFkI .bodyText-3-EAqW + .gameSelector-24sFfz .gameDefault-2SBp6B:hover {
    border: none;
    background: hsla(var(--channels-color), 1);
}

.lfg-3xoFkI::before {
    content: 'Looking For Group';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: hsla(var(--top-nav-color), 1);
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    padding-left: 10px;
}

.lfg-3xoFkI {
    background-color: hsla(var(--chat-color), 1)!important;
}

.lfg-3xoFkI .header-3lpf0u .tabBar-PTjkZh {
    justify-content: space-around;
    position: relative;
    border: none;
    background-color: hsla(var(--chat-color), 1);
}

.lfg-3xoFkI .header-3lpf0u .headerText-1r7YO4 {
    margin: 0;
    padding: 0 8px 0 12px;
    height: 50px;
    line-height: 50px;
    color: #dcddde!important;
}

.lfg-3xoFkI .header-3lpf0u .headerText-1r7YO4 strong {
    color: #fff!important;
}

.lfg-3xoFkI .tabBarItem-2YOhcM {
    display: inline-block;
    width: auto;
    margin: 0;
}

.lfg-3xoFkI .tabBarItem-2YOhcM .game-3qQlfY {
    border: none;
    padding: 20px;
}

.lfg-3xoFkI .tabBarItem-2YOhcM.itemSelected-3XxAMf {
    border: none;
}

.lfg-3xoFkI .tabBarItem-2YOhcM.itemSelected-3XxAMf::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--button-color);
    -webkit-animation: topBorderGrow 0.2s ease-in-out;
    animation: tabBorderGrow 0.2s ease-in-out;
}

@keyframes tabBorderGrow {
    0% {
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.lfg-3xoFkI .tabBarItem-2YOhcM.itemSelected-3XxAMf::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.lfg-3xoFkI .tabBarItem-2YOhcM .game-3qQlfY:focus,
.lfg-3xoFkI .tabBarItem-2YOhcM .game-3qQlfY:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.lfg-3xoFkI .listHeader-1GwSBl {
    background: hsla(var(--modal-color), 1);
    border-bottom: 1px solid hsla(var(--titlebar-color), 1)!important;
    border-top: 1px solid hsla(var(--titlebar-color), 1)!important;
    padding: 17px 30px 16px;
    box-shadow: none!important;
}

.lfg-3xoFkI .listHeader-1GwSBl .gameCount-3gA7A4 {
    font-size: 16px!important;
    font-weight: 700!important;
    margin: 5px 0;
    color: #fff!important;
    padding: 0!important;
    line-height: 16px;
}

.lfg-3xoFkI .wrapper-3_GGbm .count-25CzCS {
    line-height: 32px;
}

.lfg-3xoFkI .wrapper-3_GGbm .max-mvI_jT {
    background-color: hsla(var(--chat-color), 1);
    line-height: 32px;
    border-radius: 0;
}

.lfg-3xoFkI .wrapper-3_GGbm .max-mvI_jT:before {
    border-bottom-color: hsla(var(--chat-color), 1);
}

.lfg-3xoFkI .newGroupsContainer-1Clfwl .pill-1nbD-Z {
    border-radius: 0;
    box-sizing: border-box;
    background-color: hsla(var(--titlebar-color), 1);
    border: 1px solid #444;
    border-color: #9866ff;
    margin: 7px;
    box-shadow: 0 0 6px hsla(var(--top-nav-color), 1), inset 0 0 10px rgba(57, 46, 92, 0.7);
    animation: lfgRefreshBarGlow 1s ease-out infinite alternate;
}

.lfg-3xoFkI .ui-search-bar .input {
    margin-left: -100px;
    margin-right: -20px;
    padding-right: 30px;
}

.lfg-3xoFkI .ui-search-bar .ui-search-bar-icon {
    right: 9px;
}

.lfg-3xoFkI .newGroupsContainer-1Clfwl .pill-1nbD-Z .pillIcon-20SWkM {
    margin-right: 10px;
}

.lfg-3xoFkI .wrapper-3_GGbm {
    border-radius: 0;
    color: #fff;
    background-color: var(--button-color)!important;
    border: 1px solid hsla(var(--titlebar-color), 1);
    cursor: default;
}

.lfg-3xoFkI .wrapper-33pNYY::before {
    display: none;
}

.lfg-3xoFkI .reportButton-3Yuq49 {
    position: relative;
    top: -3px;
    color: #fff!important;
}

.lfg-3xoFkI .emptyUser-34aCrC {
    border-radius: 0;
    background-color: hsla(var(--channels-color), 1);
}

.lfg-3xoFkI .avatar-1pYW6h {
    margin-right: 4px;
}

.lfg-3xoFkI .wrapper-33pNYY .description-1YngYv {
    font-size: 14px;
    color: var(--dark-text-tint);
}

.lfg-3xoFkI .wrapper-33pNYY {
    box-shadow: none!important;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid hsla(var(--titlebar-color), 1)!important;
    background-color: hsla(var(--modal-color), 1);
}

.lfg-3xoFkI .scroller-1nBnGs {
    padding: 0px 20px 20px 10px;
    margin: 10px;
}

.lfg-3xoFkI .header-3lpf0u {
    background-color: hsla(var(--top-nav-color), 1);
    box-shadow: none;
}

.gameSelector-1Kxi2X .game-3qQlfY {
    border: none;
    padding: 10px;
}

.lfg-3xoFkI .buttonPrimaryOutlinedDefault--H0hhk:hover {
    background: none!important;
}

.gameSelector-1Kxi2X .gameSelected-31teRt,
.gameSelector-1Kxi2X .gameDefault-2SBp6B:focus,
.gameSelector-1Kxi2X .gameDefault-2SBp6B:hover {
    background-color: hsla(var(--channels-color), 1);
}
/***************************************************/
