// main: _module.scss

//** Activity attachment popout
// https://i.imgur.com/zSvgkGG.png

.attachPopout-1n-ZKM {
  z-index: 99999999;
  box-sizing: border-box;
  width: 300px;
  margin-bottom: -2px;
  margin-left: -211px;
  padding: 10px 0;
  background: color('primary-2') !important;
  border: 1px solid color('tint-4') !important;
  border-radius: 2px;
  box-shadow: color('black', .12) 3px 3px 8px !important;
  .attachPopoutRow-KrE-f6 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 3px 10px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    list-style-type: none;
    cursor: pointer;
    border-radius: 2px;
    opacity: 1 !important;
    transition: none;
    > #{$flex} {
      overflow: hidden;
    }
    .attachPopoutIcon-26Np2W {
      flex: 0 0 auto;
      opacity: 1;
      .attachPopoutIconForeground-OohRrL {
        fill: color('tint-10');
      }
    }
    .attachPopoutRowText-1tIocA {
      @include ellipsis;
      color: color('tint-10') !important;
    }
    &:hover {
      background: color('primary-4') !important;
      .attachPopoutIcon-26Np2W {
        .attachPopoutIconForeground-OohRrL {
          fill: color('contrasted');
        }
      }
      .attachPopoutRowText-1tIocA {
        color: color('contrasted') !important;
      }
    }
  }
}
