// main: _module.scss

//** Add roles popout

#autocomplete-popout header {
    z-index: 1;
    height: 34px;
    background-color: color('primary-1');
    border-radius: 0;
}

#autocomplete-popout .autocomplete-header-background {
  background: none !important;
  border-radius: 0 !important;
}

.popoutTop-3uu9vG #autocomplete-popout header {
  border-top: 1px solid color('primary-3');
}

.popoutBottom-1YbShG #autocomplete-popout header {
  border-bottom: 1px solid color('primary-3');
}

#autocomplete-popout .row.selected a span, #autocomplete-popout .row:hover a span {
    color: color('contrasted') !important;
}
#autocomplete-popout .scroller-2FKFPG {
  height: auto;
  max-height: 240px;
  margin: 0;
  margin-bottom: -100%;
  padding-bottom: 100%;
  overflow-y: auto;
      pointer-events: none;
}

.popout-3sVMXz section:after, .popout-3sVMXz section:before {
  display: none;
}

#autocomplete-popout section {
  background: none !important;
  border-radius: 0;
}
#autocomplete-popout {
  background: color('primary-3');
  border: 1px solid color('tint-4');
  border-radius: 2px;
}

#autocomplete-popout .autocomplete-shadow {
  border-radius: 2px;
  box-shadow: none !important;
}

#autocomplete-popout .scrollerWrap-2lJEkd {
  padding: 0;
  padding: 10px 3px 10px 10px;
  background: none;
  border: none !important;
  border-radius: 0;
  box-shadow: none !important;
  > div[style='width: 100%; height: 0px;'] {
    height: 5px !important;
  }
}

#autocomplete-popout .empty p {
  margin: -15px 0 20px;
  font-size: 12px;
  color: color('tint-8') !important;
}

#autocomplete-popout .scroller-2FKFPG::-webkit-scrollbar {
    width: 6px !important;
}

#autocomplete-popout .scroller-2FKFPG div:last-of-type {
  display: none;
}

#autocomplete-popout .scroller-2FKFPG::-webkit-scrollbar-track,
#autocomplete-popout .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  margin-bottom: 25%;
  border: none;
}

#autocomplete-popout .scroller-2FKFPG::-webkit-scrollbar-thumb,
#autocomplete-popout .scroller-2FKFPG::-webkit-scrollbar-track,
#autocomplete-popout .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    visibility: visible !important;
}

#autocomplete-popout .row.selected, #autocomplete-popout .row:hover {
    background: none !important;
}

.theme-dark #autocomplete-popout .empty h4 {
  font-size: 16px;
  font-weight: 400;
  color: color('tint-11');
}

#autocomplete-popout .row,
#autocomplete-popout .row span {
  position: relative;
  display: inline-block;
  float: left;
  padding: 2px;
}

// The actual role names container
#autocomplete-popout .row > span > span {
  box-sizing: border-box;
  width: calc(100% - 1px);
  height: auto;
  margin: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid currentColor;
  border-radius: 3px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

#autocomplete-popout .row {
  padding: 0 !important;
  pointer-events: all;
}

#autocomplete-popout h3 {
  font-size: 12px;
  color: color('tint-10') !important;
}

#autocomplete-popout input[type=text]::-webkit-input-placeholder {
  color: color('tint-7') !important;
}

#autocomplete-popout input[type=text] {
  margin-bottom: 0;
  font-size: 12px;
  color: color('contrasted');
}

#autocomplete-popout .autocomplete-arrow-wrapper {
  display: none;
}
