/// main: _module.scss
/// ==========================================================================
///  Autocompletes
/// ==========================================================================

// #{classes('components.popouts.autocompletes')} { }


.channelTextArea-2VhZ6z {
  .horizontalAutocomplete-1DAQoM {
    margin: 0;
    .selectorSelected-1_M1WV {
      background: color('primary-6', .2) !important;
    }
    .selector-2IcQBU {
      margin: 0 0 5px 0;
      padding: 5px;
      > img {
        border-radius: var(--image-roundness);
      }
    }
  }
  .autocomplete-1vrmpx {
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 6px 0;
    padding: 0 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background: color('tint-1');
    border: 1px solid var(--border-color);
    border-radius: var('popout-border-radius');
    box-shadow: var(--elevation-1);
  }
  .autocompleteInner-zh20B_ {
    padding-bottom: 0;
    &>div:first-of-type {
      margin-bottom: 10px;
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      color: color('tint-11');
      text-transform: capitalize;
      background: color('tint-2');
      border-bottom: 1px solid color('white', .05);
    }
  }
  .horizontal-1ae9ci {
    &>.flex-1xMQg5:first-child {
      margin-left: 0;
      font-size: 12px;
      font-weight: 700;
    }
  }
  .contentTitle-2tG_sM {
    font-size: 14px;
    font-weight: 400;
    color: color('tint-11') !important;
    text-transform: capitalize;
  }
  .divider-23swzi {
    width: calc(100% + 40px);
    margin: 5px -20px;
    background-color: var(--border-color) !important;
  }
  .selector-2IcQBU {
    margin: 0;
    padding: 5px 15px;
    border-radius: 0;
  }
  .description-11DmNu {
    display: inline-block;
    font-size: 12px;
    color: color('tint-7') !important;
  }
  .iconForeground-1w5n7R {
    fill: color('tint-7');
  }
  .descriptionUsername-J_75O8 {
    display: inline-block;
    font-size: 12px;
    color: color('tint-7') !important;
    &::before {
      @include size(15px);
      @include mask(icon('user'), color('tint-7'));
      content: '';
      position: relative;
      display: block;
      float: left;
      margin-right: 5px;
      opacity: 0.7;
    }
  }
  .autocompleteRowVertical-q1K4ky {
    padding: 0;
  }
  .xsmall-3afG_L {
    @include size(24px);
  }
  #{$status} {
    --status-box-shadow-color: #{color('tint-1')};
  }
  .content-Qb0rXO {
    color: color('tint-10') !important;
  }
  .descriptionDiscriminator-3vUOCc {
    display: inline-block;
    margin-left: 4px;
    color: color('tint-7');
    opacity: 1;
  }
  .selectorSelected-1_M1WV {
    background: color('primary-6') !important;
    .marginLeft8-1YseBe,
    .description-11DmNu,
    .descriptionUsername-J_75O8,
    .iconForeground-1w5n7R {
      color: #fff !important;
    }
    // Role name
    .flexChild-faoVW3,
    // Channel name
    .content-Qb0rXO, {
      color: #fff !important;
    }
    // # symbol for channel name
    .iconForeground-1w5n7R {
      fill: #fff;
    }
    #{$status} {
      --status-box-shadow-color: #{color('primary-6')};
    }
    .descriptionDiscriminator-3vUOCc {
      color: color('tint-9');
    }
    .descriptionUsername-J_75O8 {
      &::before {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}


// Horizontal autocompletes
.horizontalAutocompletes-x8hlrn {
  margin: 0 8px -4px;
  padding: 0;
}

/// ==========================================================================
///  Tenor GIFs
/// ==========================================================================

// Main container
#{classes('components.popouts.autocomplete.gif.container')} {
  // This is a shadow Discord adds to the end of the container
  &::after {
    display: none;
  }
  // Outer search bar container
  #{classes('components.popouts.autocomplete.gif.header')} {
    position: sticky;
    top: 0;
    background: var(--popout-color);
    box-shadow: none;
  }
  // Direct search bar container
  #{classes('components.popouts.autocomplete.gif.searchBar')} {

  }
  // Search input
  #{classes('components.popouts.autocomplete.gif.input')} {
    @include component('input', 'text', 'base');
    padding: 0 30px;
  }
  // Search bar icon
  #{classes('components.popouts.autocomplete.gif.searchBarIcon')} {
    @include size(var(--input-primary-size));
    position: absolute;
    margin: 0;
    .controls-3xBdO0 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon-1S6UIr {
      @include size(20px);
      left: 6px;
      // 'Search' icon
      &.eyeGlass-2cMHx7 {
        @include mask(icon('search'), color('tint-7'), 20px);
        cursor: default;
        background-image: none;
        transform: none;
      }
      // 'Clear' icon
      &.clear--Eywng {
        @include mask(icon('close'), color('tint-7'), 12px);
        cursor: pointer;
        background-image: none;
        &:hover {
          background-color: color('contrasted');
        }
      }
      &.visible-3bFCH- {
        opacity: 1 !important;
      }
    }
  }
  // GIF images content area container
  #{classes('components.popouts.autocomplete.gif.content')},
  .noSearchResultsContainer-1dVofo {
    // Enough to show 2 rows of GIFs only
    height: 244px;
  }
  
  #{classes('components.popouts.autocomplete.gif.scrollerWrap')} {
    margin-top: -12px;
    padding: 0 1px 0 0;
  }
  #{classes('components.popouts.autocomplete.gif.scroller')} {
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      margin-top: 1.2rem;
    }
    > div {
      overflow: hidden;
      &[style*='width: 1242px;'] {
        display: none;
      }
    }
  }
  // GIF image direct container
  #{classes('components.popouts.autocomplete.gif.result')},
  #{classes('components.popouts.autocomplete.gif.focused')},
  #{classes('components.popouts.autocomplete.gif.placeHolder')} {
    background-color: var(--placeholder-background) !important;
    border-radius: var(--image-roundness);
    transition: none;
    &:hover {
      box-shadow: var(--elevation-1);
    }
    &::after {
      display: none;
    }
  }
  #{classes('components.popouts.autocomplete.gif.gif')} {
    background: var(--placeholder-background);
    border-radius: var(--image-roundness);
    opacity: 1;
  }
  #{classes('components.popouts.autocomplete.gif.categoryText')} {
    position: absolute;
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
    height: auto;
    margin: 5px;
    padding: 0 5px;
    text-shadow: none;
    background: color('black', .7);
    border-radius: 2px;
  }
  #{classes('components.popouts.autocomplete.gif.categoryName')} {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  #{classes('components.popouts.autocomplete.gif.categoryFadeBlurple')},
  #{classes('components.popouts.autocomplete.gif.categoryFade')} {
    display: none;
  }
}