// main: _module.scss

//** Group DM conversation invite


#{$modalsub}.popout-103y-5 {
  z-index: 1100;
  max-height: 50rem !important;
  background-color: var('popout-background') !important;
  border-color: var('popout-border-color') !important;
  border-style: var('popout-border-style') !important;
  border-width: var('popout-border-width') !important;
  border-radius: var('popout-border-radius');
  box-shadow: var('popout-box-shadow') !important;
  .header-2tA9Os {
    padding: 0;
  }
  #{$scroller} {
    max-height: none;
  }
  .h4-AQvcAz {
    padding: 0 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 4rem;
    color: color('tint-10');
    text-align: center;
    text-transform: capitalize;
    background: color('tint-2');
    border-bottom: 1px solid color('white', .05);
    &::before {
      @include mask(icon('users'), color('tint-10'));
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin: 0 .6rem -.5rem;
    }
  }
  .subtitle-2P4u9v {
    padding: 2rem 2rem 0;
    font-size: 1.4rem;
    color: color('tint-10') !important;
  }
  .searchBar-1Vaz-O {
    padding: .5rem 2rem 2rem;
  }
  .inner-3ErfOT {
    align-items: center;
    padding: .4rem;
  }
  .searchBarComponent-yxeVIL {
    @include component('input', 'text', 'base');
    height: auto !important;
    min-height: calc(#{var('input-text-height')} + .4rem) !important;
    padding: 0 !important;
  }
  .tag-2gHSR7 {
    height: 20px;
    margin: 2px;
    font-size: 12px;
    line-height: 20px;
    color: color('black');
    background: color('complement-8');
    opacity: 1 !important;
    &:hover {
      filter: brightness(1.2);
    }
  }
  .input-1Rv96N {
    height: auto;
    margin-left: .8rem;
    padding: 0;
    font-size: var('input-text-font-size');
    line-height: var('input-text-line-height');
    color: var('input-text-color');
    &::placeholder {
      font-size: var('input-text-font-size');
      font-weight: var('input-text-font-weight');
      line-height: var('input-text-line-height');
      color: color('tint-7');
    }
  }
  .errorState-KkUH_2 {
    padding: 4rem !important;
  }
  .noResults-ZTbl5V {
    font-size: 1.6rem;
    color: color('tint-10');
    .errorStateIcon-3fNXE5 {
      @include mask(icon('search-thick'), color('tint-10'));
      margin-bottom: 4rem;
      background-image: none;
    }
  }
  .footerSeparator-M9dQY1 {
    display: none;
  }
  .footer-1eyGBa {
    flex: 0 0 auto !important;
    background: var('modal-footer-background');
    border-color: var('modal-footer-border-color') !important;
    border-style: var('modal-footer-border-style') !important;
    border-width: var('modal-footer-border-width') !important;
  }
}