// main: _module.scss

//** Everyone/Here mention popout
// https://i.imgur.com/QIs7iOl.png

.everyonePopout-nEbJY3 {
  width: 490px;
  background: color('tint-1') !important;
  border: 1px solid var(--border-color);
  border-radius: var(--autocomplete-roundness);
  box-shadow: var(--elevation-1) !important;
  opacity: 0;
  animation: fadeIn 0.3s forwards, translateBottomToTop 0.3s forwards;
  .body-2iXqIL {
    align-items: center;
    .content-L5mYq4 {
      margin-top: 10px;
    }
    .header-3_S6dz {
      margin: 0 0 10px;
      font-size: 22px;
      font-weight: 400;
      color: color('tint-11') !important;
      text-transform: none;
      letter-spacing: 0;
      &+div {
        font-size: 12px !important;
        line-height: 18px !important;
        color: color('tint-8') !important;
      }
    }
    strong {
      color: color('tint-10');
    }
    .icon-2qOzDL {
      path {
        fill: color('contrasted');
      }
    }
    .buttonHint-2OxJB8 {
      font-size: 11px;
      color: color('tint-7');
      strong {
        color: color('tint-10');
      }
    }
    .animation-3GofIz {
      @include size(171px, 150px);
      svg {
        @include size(171px!important, 150px!important);
        background: url('https://i.imgur.com/Gv1JVp0.png') no-repeat center;
        background-size: 171px 150px;
        & > g {
          transform: translate(-20px, 0);
          & > g {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(8),
            &:nth-of-type(9),
            &:nth-of-type(12),
            &:nth-of-type(13),
            &:nth-of-type(14),
            &:nth-of-type(15),
            &:nth-of-type(16) {
              display: none !important;
            }
            &:nth-of-type(10),
            &:nth-of-type(11) {
              > g:first-of-type {
                path {
                  fill: color('contrasted');
                }
              }
            }
          }
        }
      }
    }
  }
  .footer-2aTx0s {
    color: color('tint-7');
    background: color('tint-2') !important;
    border-top: 1px solid color('white', .05);
    .icon-2qOzDL {
      path {
        fill: color('tint-7');
      }
    }
  }
}
