// main: _module.scss

//** Game info popout

.popout-2xBvMR {
  padding: 0 15px 20px !important;
  background: color('primary-2') !important;
  border-radius: 0;
  box-shadow: 0 2px 4px -1px color('black', .34), 0 2px 2px -2px color('black', .26), 0 1px 4px 0 color('black', .28) !important;
  &::before {
    // TODO: Add to $localize
    content: 'Game Info';
    display: flex;
    align-items: center;
    width: calc(100% + 30px);
    height: 30px;
    margin-bottom: 5px;
    margin-left: -15px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-indent: 32px;
    text-transform: uppercase;
    background: color('primary-6') icon('info') no-repeat left 10px top 7px / 50px;
  }
  &::after {
    @include size(0);
    content: '';
    position: absolute;
    top: 3rem;
    left: 0;
    border-top: 10px solid color('primary-6');
    border-right: 10px solid transparent;
  }
  .username-2gp_Xw {
    color: color('primary-10') !important;
  }
  .description-2Ifi6N {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: color('tint-10') !important;
  }
  .popoutSocialInfo-1qhqSY {
    border-bottom: 1px solid color('primary-3') !important;
  }
  .circle-1nK_79 {
    color: #fff !important;
    border-radius: 0;
  }
  .iconCircle-1dlYo0 {
    background-color: color('primary-5') !important;
    border-radius: 0;
  }
  .description-2jnn3p {
    display: flex;
    flex-direction: column;
  }
  .smallHeader-2h-9-U {
    order: 2;
    margin: 2px 0 0 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: color('tint-7') !important;
  }
  .text-1Z3P6i {
    order: 1;
    font-size: 1.5rem;
    font-weight: 400;
    color: color('contrasted') !important;
  }
}
