// main: _module.scss

//** Game search popout

.container-3ayLPN {
  margin: -9px 0 0 16px;
  background-color: color('primary-3') !important;
  border: 1px solid color('primary-4');
  border-radius: 0;
  box-shadow: 0 2px 4px -1px color('black', .34), 0 2px 2px -2px color('black', .26), 0 1px 4px 0 color('black', .28) !important;
  &:empty {
    display: none;
  }
  .queryContainer-RKFJW- {
    align-items: center;
    height: 34px;
    padding: 0 10px;
    font-weight: 400;
    color: color('primary-10') !important;
    background: color('primary-2');
    border: none !important;
  }
  .queryText-3xoOY7 {
      font-size: 11px;
  }
  .queryShortcut-hJIQMF {
    display: none;
  }
  .result-2S5Awv {
    &::after {
      background: color('primary-2') !important;
    }
    .resultAsset-2ULFWc {
      background: color('primary-2') !important;
      border-radius: 0;
    }
    .price-_ZRMIA {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      color: color('tint-7') !important;
    }
    .resultContent-1b6_y4 {
      overflow: hidden;
    }
    .nitroWheel-3Zi8Ke {
      @include mask(icon('nitro'), color('tint-7'));
      position: relative;
      top: -.1rem;
      path {
        display: none;
      }
    }
    .resultName-raPnaf {
      @include ellipsis;
      font-size: 14px;
      line-height: 1.5;
      color: color('contrasted') !important;
    }
    &.focused-1Yu0L3 {
      background: color('primary-6') !important;
      .resultName-raPnaf,
      .price-_ZRMIA {
        color: #fff !important;
      }
      .nitroWheel-3Zi8Ke {
        background-color: #fff;
      }
    }
  }
}
