// main: _module.scss

//** Pinned messages popout


.messagesPopoutWrap-1MQ1bW {
  z-index: 9999999900;
  width: 37rem;
  min-height: 40rem;
  max-height: 70vh !important;
  overflow: hidden;
  background-color: color('primary-1') !important;
  border: 1px solid color('white', .05) !important;
  border-radius: .4rem !important;
  box-shadow: var('elevation-3') !important;
  .container-1YxwTf .message-1PNnaP .mention {
    padding: 3px 6px;
    font-size: 12px;
    color: #fff !important;
    background-color: color('primary-7') !important;
  }
  #{$scrollerwrap} {
    padding: 1px 1px 0 0;
  }
  .header-ykumBX {
    padding: 0;
    background-color: color('tint-2') !important;
    border-bottom: 1px solid color('white', .05);
    border-radius: 0 !important;
    box-shadow: none !important;
    &::after {
      display: none;
    }
    .mentionFilter-1PQ6ey {
      padding-right: 15px;
      font-size: 12px;
      line-height: 16px;
      .label-12YslM {
        display: none;
      }
      .value-2k8Drt {
        color: #fff;
        text-transform: capitalize;
      }
    }
    .title-3pkaKd {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      font-size: 14px !important;
      line-height: 40px;
      color: color('tint-10') !important;
      text-align: center;
      background: color('tint-2');
    }
    .tab-bar-item {
      padding: 0 !important;
      font-size: 12px !important;
      font-weight: 400;
      color: color('primary-10') !important;
      text-transform: capitalize !important;
      border: none !important;
      &:hover,
      &.selected,
      &.selected:hover {
          color: color('contrasted') !important;
          border: none !important;
      }
    }
  }
  .messagesPopout-24nkyi {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: color('primary-1');
    border-radius: 0;
    .channelSeparator-1MxuvT {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 0px 12px;
      line-height: 34px;
      background: color('primary-1');
      border: none;
      .channelName-3kBz6H {
        font-size: 12px;
        font-weight: 700;
        color: color('tint-9') !important;
      }
      .guildName-1Bc3Ta {
        margin-left: 5px;
        font-size: 12px;
        color: color('tint-7') !important;
      }
    }
    // Has more and loading more divs
    #{$messagespopouthasmore},
    #{$messagespopoutloadingmore} {
      position: relative;
      // Loading more spinner
      #{$spinnerold} {
        #{$spinnerinnerold} {
          &#{$spinnerwanderingcubesold} {
            &:first-of-type {
              @include size(16px);
              margin-top: -16px;
            }
          }
        }
      }
    }
    #{$messagegroupwrapperoffsetcorrection} {
      margin: 0;
    }
    #{$messagegroupwrapper} {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      + #{$messagegroupwrapper} {
        border-top: 1px solid color('white', .05);
      }
    }
    #{$messagegroup} {
      width: 100%;
      margin: 0;
      padding: 2rem;
      background-color: color('primary-1') !important;
      border: none !important;
      border-radius: 0;
      #{$message} {
        margin: 0 20px 0 0;
      }
      &:hover {
        background-color: color('black', .05) !important;
        .actionButtons-1sUUug {
          opacity: 1;
        }
      }
      &:active {
        background-color: color('primary-2', .1) !important;
      }
      + #{$messagegroup} {
        margin-top: 0;
      }
      // HTML5 Video
      .wrapper-2TxpI8 {
        max-width: 100%;
        background: none;
      }
      // Server invites
      .wrapper-35wsBm {
        margin-left: -25% !important;
        transform: scale(0.7);
      }
      #{$message} {
        #{$avatarwrapper} {
          width: 40px;
          height: 40px;
          margin: 0 12px 0 0;
          background-size: 40px;
          #{$avatarimage} {
            width: 40px;
            height: 40px;
            background-size: 40px !important;
            border: none !important;
          }
        }
        h2 {
          time {
            @include ellipsis(100%, inline-block);
            margin-bottom: 0;
            font-size: 11px;
            line-height: 16px;
            &::before {
              content: none !important;
            }
          }
        }
        #{$messageusername} {
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            color: color('contrasted');
        }
        #{$messagecontent} {
          margin: -1px 6px 0 55px;
          padding: 0;
          #{$messagemarkup} {
            margin-right: 10px;
            font-size: 12px;
            color: color('tint-11') !important;
            pre {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
      .actionButtons-1sUUug {
        right: .5rem;
        background: none !important;
        box-shadow: none !important;
        opacity: 0;
        .jumpButton-3DTcS_ {
          display: none;
        }
        #{$button}#{$buttonlookblank} {
          width: 3rem;
          min-width: 0;
          height: auto;
          min-height: 0;
          padding: 0;
          background: none !important;
          border: none !important;
          box-shadow: none !important;
          &:hover {
            background: color('contrasted', .05) !important;
            border: none !important;
            .closeButton-17RIVZ {
              background-color: color('contrasted') !important;
              opacity: 1;
            }
          }
          .closeButton-17RIVZ {
            @include mask(icon('close'), color('tint-7'), 1.6rem, $important: true);
            margin-left: -3px;
            background-image: none !important;
            opacity: 1;
          }
        }
      }
    }
  }
  .hasMore-sul95G {
    width: 100%;
    height: 30px;
    margin: 10px;
    button {
      @include component('button', 'primary', 'base');
      width: calc(100% - 20px);
    }
  }
  .scrollingFooterWrap-3FDlMn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 170px;
    margin: 0;
  }
  .footer-1kmXd4 {
    display: none !important;
  }
  .imageWrapper-2p5ogY {
    @include size(90%!important, 100%!important);
    margin: 0;
    img {
      @include size(100%!important);
      position: relative;
    }
  }
  .emptyPlaceholder-1zh-Eu.bottom-TGnsta {
    margin: 0;
    .body-bvcIjN {
      margin: 0;
      font-size: 1px !important;
      line-height: 30px !important;
      color: transparent !important;
      visibility: hidden;
      &::before {
        content: 'I guess that\'s the end of the line.';
        width: 100%;
        font-size: 14px;
        color: color('tint-11');
        white-space: pre-wrap;
        visibility: visible;
      }
    }
    .image-2JDb81 {
      margin: 0;
      padding: 0;
      background: url('https://i.imgur.com/Y97PFFn.png') no-repeat bottom / contain !important;
    }
  }
  // Fix for embeds to make them look more coherent
  // https://i.imgur.com/648gLDb.png
  .embed-IeVjo6 {
    max-width: 100% !important;
    .embedAuthorName-3mnTWj {
      font-size: 12px;
    }
    .embedInner-1-fpTo {
      max-width: 100%;
      .embedContent-3fnYWm {
        display: block;
      }
    }
    .embedImage-2W1cML,
    .embedVideo-3nf0O9 {
      width: auto !important;
      height: auto !important;
      margin: 10px 0;
      img {
        position: relative;
      }
    }
  }
}

  .messagesPopoutWrap-1MQ1bW.undefined::before {
    top: 0;
    right: 14px;
    border-color: transparent transparent color('primary-4');
  }

  /* xxxxxxxxxxxxxxxxxxxxxxx */
  .messagesPopout-24nkyi .emptyPlaceholder-1zh-Eu.loading-placeholder {
      display: flex;
      justify-content: center;
      margin: 120px auto;
  }

  .messagesPopoutWrap-1MQ1bW.undefined .emptyPlaceholder-1zh-Eu .image-2JDb81 {
      position:relative;
      width: 240px;
      height: 300px;
      margin-top: -100px;
      margin-right:auto;
      margin-left:auto;
      background:image('link-frames.png') 0 0 !important;
      transform: scale(0.6);
      animation: linkAnimation 1.3s linear;
      animation-timing-function:step-start;
      animation-fill-mode: forwards
  }

  .messagesPopoutWrap-1MQ1bW.undefined .emptyPlaceholder-1zh-Eu .body-bvcIjN {
      margin-top: -80px;
      line-height: 26px !important;
      color: color('contrasted') !important;
  }

  .messagesPopoutWrap-1MQ1bW.undefined .emptyPlaceholder-1zh-Eu {
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
  }


  .messagesPopoutWrap-1MQ1bW.undefined .header-ykumBX .title-3pkaKd {
    display: flex;
    justify-content: center;
    background: color('primary-4');
    border-bottom: none;
  }

  .messagesPopoutWrap-1MQ1bW.undefined {
      width: 418px;
      margin-top: 15px;
      background-color: color('primary-1') !important;
      border-radius: 0 !important;
  }

  // NOT DONE -- comments, .undefined elements need added to nest
