// main: _module.scss

//** Quickswitcher "popout"

//Quickswitcher tutorial mode (shown when Quickswitcher is opened on newly installed Discord)
.tutorial-3igfYb {
  display: none;
}

#{$quickswitcher} {
  @include size(auto, 100%);
  max-height: 50rem;
  padding: 0 0 .5rem 0;
  background: none !important;
  box-shadow: none !important;
  div[style='width: 100%; height: 10px;'] {
    display: none;
  }
  // Quickswitcher container
  @at-root #{$quickswitchercontainer} {
    @include size(400px, auto);
    position: fixed;
    top: calc(var(--titlebar-main-nav-height) - .5rem);
    left: 43.5rem;
    background: color('tint-1');
    border: 1px solid var(--border-color);
    border-radius: var('popout-border-radius');
    box-shadow: var('popout-box-shadow') !important;
  }
  #{$scrollerwrap} {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    &::before {
      @include size(100%, 40px);
      content: 'Top Results';
      position: relative;
      box-sizing: border-box;
      display: block;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 4rem;
      color: color('tint-10');
      text-indent: 10px;
      background: color('tint-2');
      border-bottom: 1px solid var(--border-color);
    }
  }
  #{$scroller} {
    max-width: 100%;
    max-height: 100%;
    margin-top: -5px;
    padding: 0;
    overflow-y: auto;
    background: none;
    div[style='width: 100%; height: 15px;'] {
      display: none;
      // Add space back in when there is no header at the start of the search results
      + div[role='button'] {
        margin-top: 1.5rem;
      }
    }
  }
  // Quickswitcher empty state
  #{$quickswitcheremptystate} {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: none !important;
    // When tips without results is visible and you first start typing,
    // it shows the empty state for a split second, so we hide the tips
    // without results when it does this so both aren't visible at the same
    // time.
    + #{$quickswitchertipswithoutresults} {
      display: none !important;
    }
    &::after {
      @include mask(icon('search-thick'), color('tint-10'), $important: true);
      @include size(5rem);
      content: '';
      position: relative;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    &::before {
      @include size(100%, 40px);
      content: 'Top Results';
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: block;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 4rem;
      color: color('tint-10');
      text-align: left;
      text-indent: 10px;
      background: color('tint-2');
      border-bottom: 1px solid var(--border-color);
    }
    // "Can't find results" text
    #{$quickswitcheremptystatenote} {
      order: 2;
      margin: 4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2;
      color: color('tint-10');
      &::after {
        content: 'They\'re probably in another castle.';
        display: block;
        font-size: 1.2rem;
        color: color('tint-7');
      }
    }
    // "Learn more about Quick Switcher" link
    #{$quickswitcheremptystatecta} {
      display: none;
    }
  }
  //## Quickswitcher input
  @at-root #{$quickswitcherinput} {
    @include size(calc(100% - 2px), 28px);
    position: absolute;
    top: .1rem;
    left: .1rem;
    padding: 5px 30px;
    font-size: 1.2rem;
    font-weight: 400;
    color: color('contrasted');
    text-transform: none;
    background: color('primary-1') !important;
    border: none;
    border-radius: var(--button-border-radius);
    box-shadow: none !important;
    opacity: 1;
    &::placeholder {
      color: color('tint-11') !important;
    }
    &:focus {
      &::placeholder {
        color: color('tint-7') !important;
      }
    }
  }
  // Just in case it doesn't get move to the top nav for whatever reason,
  // this is a backup bandaid
  #{$quickswitcherinput} {
    @include size(348px, 28px);
    position: fixed;
    top: 4.1rem;
    left: 41rem;
  }
  // Quickswitcher tips
  #{$quickswitchertipswithresults} {
    display: none;
  }
  // Fix for when nothing is shown on the quickswitcher (i.e. nothing typed)
  // https://i.imgur.com/k31i9yE.png
  #{$quickswitchertipswithoutresults} {
    @include size(100%, auto);
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: none;
    #{$quickswitchertipsmisccontrols} {
      display: none;
    }
    #{$quickswitchertipslistnav} {
      @include size(100%, 40px);
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      &::before {
        @include size(100%, 40px);
        content: 'Top Results';
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 4rem;
        color: color('tint-10');
        text-indent: 10px;
        visibility: visible;
        background: color('primary-1');
        border: 1px solid color('primary-3');
      }
    }
    &::before {
      @include mask(icon('search'), color('contrasted'), $important: true);
      @include size(50px);
      content: '';
      position: relative;
      display: block;
      margin: 0 auto;
      text-align: center;
      opacity: 0.6;
    }
    &::after {
      // TODO: Add to $localize
      content: 'Type something to search for results.';
      order: 2;
      width: 100%;
      margin: 20px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: color('contrasted');
      text-align: center;
      opacity: 0.6;
    }
  }
  // Quickswitcher guild icons
  #{$quickswitcherguildicon} {
    // Making the guild icons the same border-radius as the user avatars so they match
    border-radius: var('avatar-border-radius');
    &.noIcon-1a_FrS {
      color: #fff !important;
      background-color: color('tint-3') !important;
    }
  }
  // Quickswitcher results
  #{$quickswitcherresult} {
    height: auto;
    padding: 5px 0;
    border-radius: 0;
  }
  // Channel # svg icon
  #{$quickswitcherchannelicon} {
    opacity: 1 !important;
    path {
      opacity: 1;
      fill: color('tint-7');
    }
  }
  // Quickswitcher header
  #{$quickswitcherheader} {
    display: block;
    width: 110%;
    margin: 0px -10px;
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 3.4rem;
    color: color('primary-10') !important;
    letter-spacing: normal;
    cursor: default;
    background: color('primary-1');
  }
  // Quickswitcher name container
  #{$quickswitchername} {
    padding-left: 5px;
    line-height: 25px;
  }
  // Quickswitcher match
  #{$quickswitchermatch} {
    margin-right: 8px;
    color: color('contrasted');
  }
  // Quickswitcher user nickname
  #{$quickswitcherusername} {
    font-size: 1.2rem;
    color: color('tint-7') !important;
    opacity: 1;
  }
  // Quickswitcher server name
  #{$quickswitchermisccontainer} {
    color: color('primary-10');
    opacity: 1;
  }
  // Quickswitcher category name
  #{$quickswitchernote} {
    margin-top: 2px;
    font-size: 1.2rem;
    font-weight: 400;
    color: color('tint-7') !important;
    text-transform: lowercase;
  }
  // Quickswitcher results focused
  #{$quickswitcherresultfocused} {
    background-color: color('primary-6') !important;
    #{$quickswitcherchannelicon} {
      opacity: 1 !important;
      path {
        fill: #fff;
      }
    }
    #{$quickswitchermatch},
    #{$quickswitchernote},
    #{$quickswitchermisccontainer},
    #{$quickswitcherusername} {
      color: #fff !important;
      opacity: 1;
    }
  }
}
