// main: _module.scss

//** Recent mentions popout

.messagesPopoutWrap-1MQ1bW.recentMentionsPopout-2fmau1 {
  margin-top: -10px;
  .header-ykumBX .headerTabBarWrapper-27xBDe {
    margin: 0;
    padding: 10px 12px;
  }
  &::before {
    top: -35px;
    right: -1px;
  }
  &::after {
    top: -25px;
    right: 7px;
  }
  @at-root #{classes('twitchcord.clearAllMentions')} {
    height: 24px;
    padding: 0 10px;
    color: color('tint-11');
    background: none;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;
    &:hover {
      color: color('contrasted');
      background-color: color('primary-7', .2);
    }
  }
}
