// main: _module.scss

//** RTC Connection popout

#rtc-connection-popout {
    position: fixed;
    bottom: 55px;
    left: 71px;
    z-index: 100000000;
    width: 238px;
    height: 0;
    background: color('primary-3');
    border: 1px solid color('primary-4');
    border-left: 0;
    border-radius: 0;
    animation: .2s getBigger forwards;
}

#rtc-connection-popout {
    bottom: 92px;
    height: auto;
    animation: 0.2s fadeIn forwards;
}

#rtc-connection-popout .sparkline g polyline:first-of-type {
    fill: color('primary-1') !important;
}

#rtc-connection-popout .sparkline g polyline:nth-of-type(2) {
    stroke: color('primary-8') !important;
}

#rtc-connection-popout .sparkline line {
    display: none;
}

#rtc-connection-popout header {
    font-size: 12px;
    font-weight: 700;
    background: color('primary-7');
}

#rtc-connection-popout section {
    padding: 0;
    background: color('primary-3');
}

#rtc-connection-popout section div:first-of-type {
    padding: 14px 20px;
}

#rtc-connection-popout section p {
    line-height: 22px;
    color: color('tint-8');
}

#rtc-connection-popout .debug-button {
    color: color('primary-10');
}

#rtc-connection-popout .popout-bottom {
    padding: 20px;
    background: color('primary-2');
}

#rtc-connection-popout hr {
    margin: 0;
    border-color: color('primary-4');
}

.graph-2xSPwT svg line {
    display: none;
}

.graph-2xSPwT svg path:first-of-type {
    fill: color('primary-1') !important;
}

.graph-2xSPwT svg path:nth-of-type(2) {
    stroke: color('primary-8') !important;
}
