// main: _module.scss

//** Server search popout

.searchPopout-1vUlP3 .searchQuery-1B7rtx {
  display: none !important;
}


.searchPopout-1vUlP3 .option-96V44q span {
    flex-shrink: initial;
}

.searchPopout-1vUlP3 .option-96V44q:after {
    content: none;
}

.searchPopout-1vUlP3 .option-96V44q.user-O3Czj0 .displayAvatar-1wWlVM {
    width: 26px;
    height: 26px;
    background-color: color('primary-2');
    border: 2px solid color('primary-2');
    border-radius: 0;
}

.searchPopout-1vUlP3 .resultsGroup-r_nuzN:before,
.searchPopout-1vUlP3 .option-96V44q.selected-rZcOL-:before {
    content: none;
}

.searchPopout-1vUlP3 {
    top: 44px;
    left: -131px;
    box-sizing: border-box;
    width: 380px;
    max-height: 70vh;
    color: color('tint-11');
    pointer-events: all;
    background: color('primary-3') !important;
    border: 1px solid color('primary-4') !important;
    border-radius: 0;
    box-shadow: none !important;
}

.searchPopout-1vUlP3:empty {
    border: none;
}

.searchPopout-1vUlP3 .resultsGroup-r_nuzN .searchLearnMore-3SQUAj {
    margin-top: -4px;
}

.searchPopout-1vUlP3 .resultsGroup-r_nuzN .searchClearHistory-2cSSMO {
    top: 8px;
}

.searchPopout-1vUlP3 .option-96V44q {
    border-radius: 0 !important;
}

.searchPopout-1vUlP3 .option-96V44q.selected-rZcOL-,
.searchPopout-1vUlP3 .option-96V44q {
    height: 40px;
    vertical-align: middle;
    background: color('primary-4');
    border-bottom-color: color('primary-4');
}

.searchPopout-1vUlP3 .searchQuery-1B7rtx.selected-rZcOL-+.resultsGroup-r_nuzN .header-2N-gMV,
.searchPopout-1vUlP3 .searchQuery-1B7rtx+.resultsGroup-r_nuzN .header-2N-gMV {
    margin: 0;
}

.searchPopout-1vUlP3 .searchQuery-1B7rtx .searchFor-3W5Vad {
    font-size: 14px;
    line-height: 20px;
    color: color('primary-10');
    text-transform: capitalize;
    vertical-align: middle;
}

.searchPopout-1vUlP3 .searchQuery-1B7rtx .searchFor-3W5Vad {
    line-height: 40px;
}

.searchPopout-1vUlP3 .searchQuery-1B7rtx .keybindShortcut-1BD6Z1 {
    padding-top: 7px;
    padding-right: 5px;
}

.searchPopout-1vUlP3 .resultsGroup-r_nuzN .header-2N-gMV {
    margin: 5px 0;
    padding: 2px 10px;
    font-size: 11px;
    line-height: 24px;
    color: color('primary-10') !important;
    background: color('primary-2');
}

.searchPopout-1vUlP3 .resultsGroup-r_nuzN {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.searchPopout-1vUlP3 .option-96V44q {
    margin: 0;
    padding: 2px 10px;
    font-size: 14px;
    line-height: 28px;
    color: color('tint-10');
    background-color: transparent;
}

.searchPopout-1vUlP3 .option-96V44q.selected-rZcOL-:hover,
.searchPopout-1vUlP3 .option-96V44q:hover,
.searchPopout-1vUlP3 .option-96V44q.selected-rZcOL-:active,
.searchPopout-1vUlP3 .option-96V44q:active {
    background-color: color('primary-4');
}

.searchPopout-1vUlP3 .option-96V44q.user-O3Czj0 .filter-3Y_im- {
  display: none;
}

.searchPopout-1vUlP3 .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU,
.searchPopout-1vUlP3 .option-96V44q strong {
    overflow: visible;
    font-size: 14px;
    color: color('tint-10');
}

.searchPopout-1vUlP3 .option-96V44q:hover .displayedNick-3xxvzU,
.searchPopout-1vUlP3 .option-96V44q strong {
    color: color('tint-10');
}

.searchPopout-1vUlP3 .option-96V44q:active .displayedNick-3xxvzU,
.searchPopout-1vUlP3 .option-96V44q:hover .displayedNick-3xxvzU,
.searchPopout-1vUlP3 .option-96V44q strong {
    color: color('contrasted');
}

.searchPopout-1vUlP3 .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    box-sizing: content-box;
    display: block;
    overflow: hidden;
    font-size: 12px;
    color: color('tint-8');
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.5;
}

.searchPopout-1vUlP3 .option-96V44q:hover .displayUsername-Qekxml {
    color: color('tint-7');
}

.searchPopout-1vUlP3 .option-96V44q:active .displayUsername-Qekxml {
    color: color('tint-10');
}

.searchPopout-1vUlP3 .option-96V44q strong {
    color: color('tint-10');
}

.searchPopout-1vUlP3 .option-96V44q .filter-3Y_im- {
    margin-right: 10px;
    padding: 0px 10px;
    overflow: visible;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    background-color: color('primary-7');
    border: none;
    transition: background-color 0.2s;
}

.searchPopout-1vUlP3 .option-96V44q .filter-3Y_im-:hover {
    background-color: color('primary-8');
}

.searchPopout-1vUlP3 .option-96V44q .non-text {
    color: color('tint-10');
}

.searchPopout-1vUlP3 .searchQuery-1B7rtx .searchFor-3W5Vad strong {
    font-size: 14px;
    line-height: 20px;
    color: color('contrasted');
}
