// main: _module.scss

//** Tutorial popout

.tutorial-popout {
    border: 1px solid color('primary-4');
    border-radius: 0;
}

.tutorial-popout section {
background: color('primary-3');
}

.tutorial-popout header {
    padding: 15px 20px 0;
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    color: color('tint-10') !important;
    text-transform: none !important;
    background: color('primary-3');
}

.tutorial-popout p {
    color: color('tint-8');
}

.tutorial-popout .button-area .skip-tips a {
    color: color('primary-10');
}
