///  main: _module.scss
///  ==========================================================================
///  Attachments
///  ==========================================================================

:root {
  --attachment-width: 41rem;
  --attachment-background: var(--component-background);
  --attachment-border-color: var(--component-border-color);
  --attachment-border-style: var(--component-border-style);
  --attachment-border-width: var(--component-border-width);
  --attachment-border-radius: var(--component-border-radius);
  --attachment-box-shadow: var(--component-box-shadow);
  
  --attachment-icon-size: 5.6rem;
  --attachment-icon-border-radius: var(--attachment-border-radius);
  --attachment-icon-background-color: #{color('tint-3')};
  --attachment-icon-background-image: #{icon('file-attachment')};
  --attachment-icon-background-size: 50%;

  --attachment-progress-bar-width: 100%;
  // Must be less than or equal to attachment's bottom margin
  // or there are overflow issues
  --attachment-progress-bar-height: 0.5rem;
  --attachment-progress-bar-background: #{color('white')};
  --attachment-progress-bar-fill-background: var(--button-primary-hover-background-color);
  --attachment-progress-bar-border-radius: var(--attachment-border-radius);
}

// Attachment outer container
#{classes('components.attachments.attachment')} {
  position: relative;
  width: var(--attachment-width);
  max-width: none;
  margin: 0.8rem 0;
  padding: 1rem;
  background: var(--attachment-background) !important;
  border-color: var(--attachment-border-color);
  border-style: var(--attachment-border-style);
  border-width: var(--attachment-border-width);
  border-radius: var(--attachment-border-radius);
  box-shadow: var(--attachment-box-shadow);
  // Attachment inner container
  #{classes('components.attachments.attachmentInner')} {
    // Give space between long file names and the Download button
    margin: 0 2rem 0 0;
    // Attachment download button
    + #{classes('base.anchor')} {
      @include component('button', 'primary', 'base');
      margin: 2.3rem 0 0 0 !important;
      text-decoration: none;
      &::before {
        @include localize('Download');
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  // Download button svg
  #{classes('components.attachments.downloadButton')} {
    display: none;
  }
  // Attachment file name
  #{classes('components.attachments.fileNameLink')} {
    @include ellipsis($display: block);
    @include size(100%, auto);
    margin: 0 2rem 0 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: color('tint-10') !important;
    text-decoration: none;
    // 'Shared a file' text
    &::before {
      @include localize('Shared a file');
      display: block;
      font-size: 1.4rem;
      font-weight: 400;
      color: color('tint-7');
    }
  }
  // Attachment name while attachment is uploading
  #{classes('components.attachments.fileName')} {
    @include ellipsis(100%, block);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: color('tint-10') !important;
    text-decoration: none;
    // Attachment size while attachment is uploading
    + #{classes('components.attachments.progressFileSize')} {
      font-size: 1.2rem;
      color: color('tint-7') !important;
    }
    &::before {
      display: none;
    }
  }
  // Attachment icon
  #{classes('components.attachments.icon')} {
    @include remove-img;
    @include size(var(--attachment-icon-size));
    margin: 0 0.8rem 0 0;
    background: var(--attachment-icon-background-color) var(--attachment-icon-background-image) no-repeat center / var(--attachment-icon-background-size) !important;
    border-radius: var(--attachment-icon-border-radius);
  }
  // Attachment meta data (file size)
  #{classes('components.attachments.metaData')}  {
    color: color('tint-7');
  }
  // Attachment progress bar outer container
  #{classes('components.attachments.progressContainer')} {
    @include size(var(--attachment-progress-bar-width), var(--attachment-progress-bar-height));
    position: absolute;
    bottom: 0;
    left: 0;
    margin: var(--attachment-progress-bar-height) 0 0;
    overflow: hidden;
    color: transparent;
    background: var(--attachment-background) !important;
    border-radius: var(--attachment-progress-bar-border-radius);
  }
  #{classes('components.attachments.progress')}  {
    height: var(--attachment-progress-bar-height);
    background: var(--attachment-progress-bar-background) !important;
    border-radius: var(--attachment-progress-bar-border-radius);
  }
  #{classes('components.attachments.progressBar')}  {
    height: var(--attachment-progress-bar-height);
    background: var(--attachment-progress-bar-fill-background) !important;
    border-radius: var(--attachment-progress-bar-border-radius) !important;
  }
  // Cancel upload button
  #{classes('components.attachments.cancelButton')}  {
    @include mask(icon('close'), color('tint-9'));
    background: none;
    &:hover {
      background-color: color('contrasted');
    }
    g {
      display: none;
    }
  }
}
