///  main: _module.scss
///  ==========================================================================
///  Calendars
///  ==========================================================================
///  Observed on local server search date searching




.calendarPicker-2yf6Ci {
  display: flex;
  align-items: center;
  justify-content: center;
}