// main: _module.scss

//** Embeds

:root {
  --embed-background: var(--component-background);
  --embed-border-color: var(--component-border-color);
  --embed-border-style: var(--component-border-style);
  --embed-border-width: var(--component-border-width);
  --embed-border-radius: var(--component-border-radius);
  --embed-box-shadow: var(--elevation-1);
  --embed-pill-background: #{color('primary-7')};
  --embed-pill-width: .4rem;
  --embed-pill-style: solid;
}

#{$imagewrapperbackground} {
	background: var(--placeholder-background);
}

// Embed outer container
#{$embed} {
  margin: 0 !important;
  background: var('embed-background');
  border-color: var('embed-border-color');
  border-style: var('embed-border-style');
  border-width: var('embed-border-width');
  border-left-color: var('embed-pill-background');
  border-left-style: var('embed-pill-style');
  border-left-width: var('embed-pill-width');
  border-radius: var('embed-border-radius');
  box-shadow: var('embed-box-shadow');
  .grid-1nZz7S {
    padding: 5px 15px 15px;
  }
  // Remove pill from image embeds
  &:not(#{$messagemarkup}) {
    border: none !important;
  }
	// Not sure why this is needed
	@at-root #{$messagegroup} #{$message} & {
		#{$messagemarkup} {
			margin: 0 !important;
			pre {
				max-width: 100%;
			}
		}
  }
  // General grey pill color (Epic Games)
  &[style*='border-color: rgb(42, 42, 42);'],
  
  &[style*='border-color: rgb(51, 51, 51);'],
  &[style*='border-color: rgb(38, 38, 38);'],
  &[style*='border-color: rgb(52, 54, 60);'],
  
  &[style*='border-color: rgb(0, 0, 0);'],
  &[style*='border-color: rgb(0, 0, 1);'],
  &[style*='border-color: rgb(0, 0, 2);'],
  &[style*='border-color: rgb(0, 0, 3);'],
  &[style*='border-color: rgb(1, 1, 1);'],
  &[style*='border-color: rgb(2, 2, 2);'],
  &[style*='border-color: rgb(3, 3, 3);'],
  
  &[style*='border-color: rgb(255, 0, 0);'],
  
  &[style*='border-color: rgb(30, 35, 39);'],
  
  &[style*='border-color: rgb(23, 26, 33);'],
  // Github
  &[style*='border-color: rgb(114, 137, 218);'] {
    border-left-color: var('embed-pill-background') !important;
  }
	#{$imagewrapper} {
    overflow: visible;
		#{$imagewrapperinner} {
	    background-color: var(--placeholder-background);
		}
		img {
			@include size(100%!important, auto!important);
      position: relative;
      border-radius: var(--component-border-radius);
		}
	}
	// Gif file attachment 'GIF' container
	// https://i.imgur.com/2YhxtMz.png
	@at-root #{$imagewrapper} {
    border-radius: var(--component-border-radius) !important;
    // Targetting all non-embed images... particularly
    // trying to target only html 5 video imageWrapper embeds
    &:not(#{$embedimage}):not(#{$embedthumbnail}):not(#{$imagezoom}):not(.embedVideoImageComponent-34z3di) {
      min-width: var(--html5-video-min-width) !important;
      min-height: var(--html5-video-min-height) !important;
    }
		#{$imageaccessory} {
      position: absolute;
      top: .4rem;
      right: .4rem;
	    z-index: 2;
			// Actual 'GIF'
			// https://i.imgur.com/BKDCMrD.png
			@at-root #{$giftag} {
				@include mask(icon('gif'), color('contrasted'));
        @include size(2.6rem, 2.1rem);
        background-image: none;
				opacity: 0.8;
			}
		}
	}
	#{$embedinner} {
    padding: 1rem 1.5rem 1.5rem !important;
		overflow: visible;
    background-color: var(--embed-color) !important;
    border: none;
		border-radius: 0 var(--component-border-radius) var(--component-border-radius) 0 !important;
		box-shadow: var(--elevation-1);
		&:empty {
			margin: 0;
		}
	}
	// Embed pills
	#{$embedpill} {
    // In order to put it above embedInner so it stays above the drop shadow
    z-index: 1;
		background-color: color('primary-7');
    border-radius: var(--component-border-radius) 0 0 var(--component-border-radius) !important;
		+ #{$embedinner} {
	    border-left: none;
		}
  }
  .embedThumbnail-2Y84-K {
    overflow: hidden;
    border-radius: var(--component-border-radius) !important;
  }
  #{$embedtitle} {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: color('white') !important;
  }
	#{$embedtitlelink} {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: color('primary-10') !important;
	}
	#{$embedimage} {
	  max-width: 100%;
	  border-radius: var(--component-border-radius);
	}
	#{$embeddescription},
	#{$embedfieldvalue} {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: color('tint-10') !important;
	}
	#{$embeddescription} {
    font-size: 1.4rem;
		line-height: 1.5 !important;
		code.inline {
      margin-right: 5px;
      background: color('primary-1') !important;
		}
	}
	#{$embedprovider} {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: color('contrasted') !important;
    &:hover {
      color: color('contrasted') !important;
    }
	}
	#{$embedauthoricon} {
    @include size(26px);
		margin-bottom: 5px;
    background: url('https://client.forgecdn.net/Avatars/UserAvatar.png') no-repeat center / 100%;
	  border-radius: var('avatar-border-radius');
		+ #{$embedauthorname} {
      margin-top: -5px;
      font-size: 1.2rem;
      font-weight: 700;
		}
	}
	#{$embedauthorname} {
    font-size: 1.4rem;
	  font-weight: 400;
		color: color('contrasted') !important;
		&:hover {
			color: color('contrasted') !important;
		}
	}
	#{$embedfields} {
		#{$embedfieldname} {
	    font-size: 12px;
	    font-weight: 700;
		}
	}
	#{$embedfootertext},
	.embedFooterSeparator-3klTIQ {
    font-size: 1.2rem;
    color: color('tint-7');
  }
  .embedFooterIcon-239O1f {
    border-radius: var(--image-roundness);
  }
	// Video embeds
	@at-root #{$embedvideo} {
    background: var(--placeholder-background);
		border-radius: var(--component-border-radius);
		// Image thumbnail
		#{$imagewrapper} {
      height: auto !important;
    }
		@at-root #{$embedvideoactions} {
			#{$embedvideoactionsinner} {
				padding: 0;
				background: transparent;
				border-radius: 0;
				// Play button outer container
				@at-root #{$iconwrapper},
				& #{$iconwrapper} {
          @include size(100%);
          position: absolute;
          top: 0;
          left: 0;
          padding: 0;
          background: color('black', .4) !important;
          border-radius: var(--component-border-radius);
					// Play button inner container
					#{$iconwrapperwrapper} {
            @include size(100%);
            display: flex;
            align-self: center;
            margin: 0 auto;
            opacity: 1;
            transition: none;
						// Open in new window button link
						+ #{$iconwrapperwrapper} {
							display: none !important;
						}
						&:hover {
							opacity: 1;
						}
						&:hover:active,
						&:active {
							transform: none;
						}
					}
					// Play button
					#{$iconplay} {
            @include mask(icon('play'), color('white'), 50% 50%);
						@include size(100%);
            margin: 0;
						transition: none;
						polygon,
						+ a {
							display: none;
            }
            &:hover {
              background-color: color('primary-10') !important;
            }
						&:hover:active,
						&:active {
							box-shadow: none;
						}
          }
				}
			}
		}
	}
	// Make Steam embed logo white instead of black
	// https://i.imgur.com/nQqmt52.png
	img[src*='share_steam_logo.png'],
	
	
	img[src*='vimeocdn.com'] {
    filter: grayscale(1) brightness(10);
  }
  .embedSuppressButton-1FonMn {
    @include component('button', 'blank', 'base');
    @include size(var(--embed-button-suppress-size)!important);
    position: absolute;
    top: 0;
    right: calc(var(--embed-button-suppress-size) * -1 - .7rem);
    padding: 0 !important;
    line-height: var(--embed-button-suppress-size) !important;
    background: var(--button-blank-background) icon('close-thick') no-repeat center / 80% !important;
    @at-root #{$embed}:hover .embedSuppressButton-1FonMn {
      opacity: 0.5;
    }
    &:hover {
      background: var(--button-blank-hover-background) icon('close-thick') no-repeat center / 80% !important;
    }
    &:active {
      background: var(--button-blank-active-background) icon('close-thick') no-repeat center / 80% !important;
    }
    svg {
      display: none;
    }
  }
}

:root {
  --embed-button-suppress-size: 2.2rem;

  --embed-spotify-border-color: transparent;
  --embed-spotify-border-style: none;
  --embed-spotify-border-width: 0rem;
  --embed-spotify-border-radius: var(--component-border-radius);
  --embed-spotify-box-shadow: var(--component-box-shadow);
}

.embedSpotify-tvxDCr {
  overflow: hidden;
  background: color('tint-1');
  border-radius: var(--component-border-radius);
  iframe {
    filter: saturate(1) contrast(1.2) brightness(1);
    mix-blend-mode: lighten;
  }
}