// main: _module.scss

//** Roles

// Role outer container
#{$userpopoutrole} {
  position: relative;
  box-sizing: content-box;
  display: block;
  height: 16px;
  margin: 3px;
  padding: 2px;
  font-size: 1.1rem;
  line-height: 1.6rem;
  // Default Discord border color for roles
  color: rgba(185, 187, 190, 0.6);
  cursor: default;
  background: none;
  border-width: 2px;
  border-radius: var(--role-roundness);
  &:hover {
    // Remove role button
    #{$userpopoutroleremovebutton} {
      opacity: 1;
    }
  }
  // Add role button
  &#{$userpopoutroleaddbutton} {
    @include size(24px!important);
    box-sizing: border-box;
    align-content: center;
    min-width: 24px;
    margin: 3px;
    padding: 2px;
    line-height: 1.8rem;
    color: color('tint-7');
    cursor: pointer;
    background: none !important;
    border: 2px solid !important;
    border-color: inherit !important;
    opacity: 0.7;
    // Add role button svg
    @at-root #{$userpopoutroleaddbuttonsvg} {
      @include size(10px);
      background: none !important;
    }
    &:hover {
      color: color('contrasted') !important;
    }
  }
  // Remove role button
  @at-root #{$userpopoutroleremovebutton} {
    @include size(100%, 20px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex !important;
    min-width: 0;
    margin: 0;
    padding: 0;
    background: color('primary-3', .8) !important;
    border-radius: 0;
    opacity: 0;
    // Remove role button svg
    @at-root #{$userpopoutroleremovebuttonsvg} {
      @include mask(icon('close'), #fff);
      @include size(16px);
      display: block;
      path {
        display: none;
      }
    }
  }
  // Discord's role circle
  @at-root #{$userpopoutrolecircle} {
    display: none;
  }
  // Role name text
  @at-root #{$userpopoutrolename} {
    position: relative;
    z-index: 1;
    margin: 0 4px;
    font-size: 1.1rem;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
}
