// main: _module.scss

//** Loading spinners
:root {
  --spinner-animation: rotate360 750ms linear infinite;
  --spinner-border-radius: 50%;
  --spinner-color: #{color('white', .05)};
  --spinner-fill-color: #{color('tint-11')};
  --spinner-size: 2.8rem;
  --spinner-width: .2rem;
  --spinner-z-index: 99;
}

/* reactions spinner centering fix */
.spinner-j8Y2Rh .inner-1gJC7_ {
    width: 8px;
    height: 180px;
}

.spinner-2enMB9 .inner-1gJC7_ .wanderingCubesItem-WPXqao:first-of-type,
.spinner-j8Y2Rh .inner-1gJC7_ .wanderingCubesItem-WPXqao,
.spinner .spinner-inner.spinner-wandering-cubes:first-of-type {
  @extend %spinner;
}

// Autocomplete spinners (particularly for giphy)
#{$autocomplete} {
  .spinner-2enMB9 {
    height: 50px;
    .inner-1gJC7_ {
      @extend %spinner;
      margin-top: -25px;
      .circular-2NaZOq {
        display: none;
      }
    }
  }
}

.spinner-2enMB9 .inner-1gJC7_ .wanderingCubesItem-WPXqao,
.spinner .spinner-inner.spinner-wandering-cubes .spinner-item,
.spinner-wandering-cubes .spinner-item,
.spinner-chasing-dots .spinner-item {
  display: none;
}
