// main: _module.scss

//** Loading spinners

/* reactions spinner centering fix */
.spinner-j8Y2Rh .inner-1gJC7_ {
    height: 180px;
    width: 8px;
}

.message-group .comment .spinner {
    margin-top: 0;
    height: 100%;
    width: 100%;
    display: flex;
}


.spinner-2enMB9 .inner-1gJC7_ .wanderingCubesItem-WPXqao:first-of-type,
.spinner-j8Y2Rh .inner-1gJC7_ .wanderingCubesItem-WPXqao,
.spinner .spinner-inner.spinner-wandering-cubes:first-of-type {
  @extend %spinner;
}

// Autocomplete spinners (particularly for giphy)
#{$autocomplete} {
  .spinner-2enMB9 {
    height: 50px;
    .inner-1gJC7_ {
      @extend %spinner;
      margin-top: -25px;
      .circular-2NaZOq {
        display: none;
      }
    }
  }
}

.spinner-2enMB9 .inner-1gJC7_ .wanderingCubesItem-WPXqao,
.spinner .spinner-inner.spinner-wandering-cubes .spinner-item,
.spinner-wandering-cubes .spinner-item,
.spinner-chasing-dots .spinner-item {
  display: none;
}
