// main: _module.scss

//** Tooltips

:root {
  --tooltip-color: #{color('primary-1')};
  --tooltip-border: none;
  --tooltip-shadow: none;
  --tooltip-font-size: 1.2rem;
  --tooltip-font-weight: 400;
  --tooltip-animation: none; //fadeIn 0.3s forwards;
  --tooltip-background: #{color('white')};
  --tooltip-arrow-size: 0.5rem;
  --tooltip-roundness: var(--button-border-radius);
  --tooltip-padding: 0.4rem 1rem;
  // --tooltip-z-index: 9999999999999999999;
}

// Tooltips
#{$tooltip} {
  z-index: var(--tooltip-z-index);
  padding: var(--tooltip-padding);
  font-size: var(--tooltip-font-size);
  font-weight: var(--tooltip-font-weight);
  line-height: 1.5;
  color: var(--tooltip-color) !important;
  text-align: center;
  background: var(--tooltip-background) !important;
  border: var(--tooltip-border) !important;
  border-radius: var(--tooltip-roundness) !important;
  box-shadow: var(--tooltip-shadow) !important;
  opacity: 1;
  transform: none !important;
  animation: var(--disable-animations, var(--disable-tooltip-animation, var(--tooltip-animation)));
  #{$tooltipPointer} {
    border-width: var(--tooltip-arrow-size) !important;
    border-top-color: var(--tooltip-background) !important;
  }
  // Right and left tooltips
  &#{$tooltipright},
  &#{$tooltipleft} {
    #{$tooltipPointer} {
      margin-top: calc(var(--tooltip-arrow-size) * -1);
    }
  }
  // Top and bottom tooltips
  &#{$tooltiptop},
  &#{$tooltipbottom} {
    #{$tooltipPointer} {
      margin-left: calc(var(--tooltip-arrow-size) * -1);
    }
  }
  // Red, danger tooltips
  &#{$tooltipred} {
    background-color: color('danger') !important;
    #{$tooltipPointer} {
      border-top-color: color('danger') !important;
    }
  }
}

// Settings grabber tooltips
#{$bubble} {
  @include size(80px, auto);
  top: -36px;
  left: -35px;
  padding: 6px 20px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--tooltip-color) !important;
  text-align: center;
  white-space: nowrap;
  background: var(--tooltip-background) !important;
  border-radius: var(--tooltip-roundness) !important;
  &::before {
    border-top-color: var(--tooltip-background) !important;
  }
}
