// main: _module.scss

//** Unknown selectors

//## from popouts
.userPopout-3XzG_A .bodyAlignCenter-1KzvJk {
  padding: 10px 15px;
}

.activityProfile-2bJRaP .name-29ETJS,  .activityUserPopout-2yItg2 .name-29ETJS {
  color: color('contrasted') !important;
}
