// main: _module.scss

//** User badges

#{classes('twitchcord.userBadge')} {
  // Badge container
  &-container {
    position: relative;
    display: flex;
  }
  // Badge base
  &-badge {
    @include size(var(--user-badge-size));
    display: inline-block;
    margin: 0 3px 2px 0;
    padding: 0;
    cursor: default;
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: var(--user-badge-size) var(--user-badge-size) !important;
    border-radius: var(--user-badge-roundness);
    &.staff {
      background: badge('staff') no-repeat center;
    }
    &.moderator {
      background: badge('moderator') no-repeat center;
    }
    &.admin {
      background: badge('admin') no-repeat center;
    }
    &.developer {
      background: badge('developer') no-repeat center;
    }
    &.verified {
      background: badge('verified') no-repeat center;
    }
    &.contributor {
      background: badge('contributor') no-repeat center;
    }
    &.server-owner {
      background: badge('server-owner') no-repeat center;
    }
    &.turbo {
      background: badge('turbo') no-repeat center;
    }
    &.supporter {
      background: badge('supporter') no-repeat center;
    }
    &.beta {
      background: badge('beta') no-repeat center;
    }
    &.nitro {
      background: badge('nitro') no-repeat center;
    }
  }
  // Bot badge base
  @at-root #{$bottag},
  #{$bottagregular},
  #{$bottaginvert},
  #{$bottagold},
  // Server booster
  .premiumIcon-1rDbWQ {
    @include size(var(--user-badge-size));
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    order: 1;
    margin: 0 4px 2px 0;
    padding: 0;
    font-size: 0;
    cursor: default;
    background: badge('bot') no-repeat center;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: var(--user-badge-size) var(--user-badge-size) !important;
    border-radius: var(--user-badge-roundness);
    // Bot badges on members lists
    @at-root #{$memberswrap} & {
      @include size(1.4rem);
      margin: 0 4px 0 0;
      cursor: pointer;
      background-size: 100% 100% !important;
    }
  }
}

#{$memberswrap} {
  // Server booster
  .premiumIcon-1rDbWQ {
    background: badge('server-booster') no-repeat center;
    path {
      display: none;
    }
  }
}