// main: _module.scss

// Friends view
// <html>.friendsBackgroundTile
// https://i.imgur.com/S1G2YVj.png

#{classes('html.styles.friends.backgroundTile')} {
  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud#{classes('twitchcord.friendPlaceholder')} {
    border: none!important;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud#{classes('twitchcord.friendPlaceholder')} {
    width: 20%!important;
    max-width: 50%;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumn-eVHFqJ+.friendsColumn-eVHFqJ {
    margin-left: 0;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsTableHeader-32yE7d {
      display: none;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud {
      background-color: RGB(var(--tc-color-1))!important;
      display: flex;
      flex-direction: column;
      height: auto !important;
      margin: 10px;
      border-radius: 0;
      position: relative;
      flex: 1 1 20%;
      min-width: 350px;
      border: 1px solid RGB(var(--tc-color-3))!important;
      opacity: 1!important;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover {
      background-color: RGB(var(--tc-color-1))!important;
      padding: 0!important;
      box-shadow: none!important;
      border: 1px solid RGB(var(--tc-color-3))!important;
      margin: 10px!important;
      border-radius: 0!important;
  }

   .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud + .friendsRow-2yicud {
      border: 1px solid RGB(var(--tc-color-3))!important;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm {
      @include size(100%, 100px);
      padding: 12px;
      box-sizing: border-box;
      position: relative;
      background-color: RGB(var(--tc-color-2));
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &:not([style*="background-image"]) {
        background-color: RGB(var(--tc-color-7));
        background-image: url(https://i.imgur.com/GKqK6Cy.png);
        background-blend-mode: multiply;
      }
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm .wrapper-2F3Zv8 {
    @include size(90px);
    background-color: RGB(var(--tc-color-1));
    background-size: cover;
    margin: 100px 15px 0 0;
    position: unset;
    z-index: 2;
    border: 3px solid RGB(var(--tc-color-1));
    .inner-1W0Bkn {
      @include size(84px);
      background-color: RGB(var(--tc-color-1));
      background-size: cover;
      margin: 0;
      background-repeat: no-repeat;
    }
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .discord-tag {
      margin-top: 135px;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm .username {
      color: RGB(var(--contrasted-color));
      font-size: 18px;
      font-weight: 700;
      line-height: 23px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      z-index: 2;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm .discriminator {
      color: RGB(var(--tc-tint-8));
      font-size: 12px;
      font-weight: 400;
      margin-left: 4px;
      z-index: 2;
      line-height: 20px;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 {
      margin: 0;
      position: absolute;
      top: 51px;
      left: 89px;
      z-index: 2;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-oxiHuE {
      @include size(12px);
      border: 0;
      border-radius: 0;
      border: 2px solid RGB(var(--tc-color-1));
      position: absolute;
      bottom: 0;
      left: 3px;
      margin: 0;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF {
      color: RGB(var(--tc-tint-8));
      opacity: 0.7;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 76px;
      margin-left: 28px;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 56px;
      background: RGB(var(--tc-color-3));
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb:empty::after {
      color: RGB(var(--tc-tint-6));
      line-height: 30px;
      margin-left: 3px;
      font-size: 14px;
      content: "No mutual servers found.";
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb a+a {
      margin-left: 10px;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M{
      display: flex;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO {
    margin-left: 10px;
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
      transform: translateX(200px);
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnActions-1LT3_M .friendsAction-__WNE9:nth-of-type(1) {
      transform: translate(-30px, 10px);
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnActions-1LT3_M .friendsAction-__WNE9:nth-of-type(2) {
      transform: translate(-20px, 10px);
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnActions-1LT3_M .friendsAction-__WNE9:nth-of-type(3) {
      transform: translate(-10px, 10px);
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnActions-1LT3_M .friendsAction-__WNE9:nth-of-type(1) {
    transform: translate(-30px, 10px);
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnActions-1LT3_M .friendsAction-__WNE9:nth-of-type(2) {
    transform: translate(-20px, 10px);
  }

  .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnActions-1LT3_M{
      transform: translateX(0);
  }
}
