// main: _module.scss

// Guilds vertical right
// <html>.guildsVerticalRight
//

.guildsVerticalRight {
  #{$guildswrapper} {
    order: 2;
    border-right: none;
    border-left: 1px solid color('primary-4');
  }
  #{$guilds} {
    // Guild outer container
    #{$guild} {
      // Selected guild indicator
      &, &#{$guildunread}, &#{$guildselected}, &#{$guildunread}#{$guildselected} {
        &::before {
          position: absolute;
          left: 5rem !important;
        }
      }
    }
  }
}
