// main: _module.scss

// Guilds horizontal top
// <html>.guildsHorizontalTop
//

.guildsHorizontalTop,
.guildsHorizontalBottom {
  &:root {
    --guilds-height: calc(var(--guild-size) + var(--guild-size) / 2 + var(--guild-size) / 6);
    --guilds-width: 100%;
    --guilds-flex-direction: row;

    --guild-separator-width: 0.1rem;
    --guild-separator-height: var(--guild-size);

    --guild-selected-indicator-height-backup: var(--guild-separator-height);
    --guild-selected-indicator-width-backup: var(--guild-separator-width);
    --guild-selected-indicator-height: var(--guild-separator-width-backup);
    --guild-selected-indicator-width: var(--guild-separator-height-backup);

    --guilds-scroller-flex-direction: row;
    --guilds-scroller-overflow: scroll hidden;

    --guilds-border-width: 0 0 0.1rem 0;
  }
  .container-2lgZY8 {
    flex-direction: column;
  }
  .wrapper-1Rf91z {
    #{classes('layout.guilds.scroller')} {
      margin: 0 calc(var(--guild-size) + var(--guilds-scroller-margin) * 2 + var(--guild-margin) * 2) 0 var(--guilds-scroller-margin);
    }
    // Guild outer container
    #{classes('layout.guilds.guild')} {
      margin: auto var(--guild-margin);
    }
    // Placeholder shown when dragging a guild
    #{classes('layout.guilds.dragPlaceholder')} {
      margin: auto var(--guild-margin);
    }
    // separator
    #{classes('layout.guilds.guildSeparator')} {
      margin: 0 var(--guild-margin);
    }
    // Join / Create Server button
    // #{classes('layout.guilds.createJoinContainer')} {
    //   @include absolute(top 0 right 0 bottom unset left unset, !important);
    //   @include size(calc(var(--guild-size) + var(--guilds-scroller-margin) * 2 + var(--guild-margin) * 2)!important, var(--guilds-width)!important);
    // }
  }
}
