// main: _module.scss

// Guilds horizontal bottom
// <html>.guildsHorizontalBottom
//

.guildsHorizontalBottom {
  .guilds-1SWlCJ {
    order: 2;
    border: none;
    border-top: 1px solid var(--border-color);
    // DM container
    .container-1aNBdK {
      animation: var(--disable-animations, translateTopToBottom 0.6s);
    }
    // Guild outer container
    .container-2td-dC {
      // Selected guild indicator
      &, &.unread-2OHH1w, &.selected-nT-gM3, &.unread-2OHH1w.selected-nT-gM3 {
        &::before {
          position: absolute;
          top: unset !important;
          bottom: 0;
          left: 0 !important;
        }
      }
      &.selected-nT-gM3, &.unread-2OHH1w.selected-nT-gM3 {
        &::before {
          bottom: calc(var(--guilds-height) - 1px) !important;
        }
      }
    }
  }
}
