// main: _module.scss

// Library view
// <html>.libraryTile
//

.libraryTile {
  .container-3Mxszk {
    #{$scroller} {
      padding: 15px 10px 2px;
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track {
        margin-top: 0;
      }
    }
    .table-1tDS6w {
      display: flex !important;
      flex: 1 1 auto !important;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
    }
    .header-39GIC8 {
      display: none;
    }
    .row-ZLfFhY {
      height: auto;
      margin: 0;
    }
    .nitroIcon-2_2ZKS {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 4px;
      background: color('black', .5);
    }
    #{$gameicon} {
      @include size(auto);
      position: relative;
      margin: 0 !important;
      padding-bottom: calc(var(--aspect-ratio-game-boxart) * 100%);
      border: none;
      &::before,
      &::after {
        @include size(100%);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.15s ease-in;
      }
      &::before {
        background: color('black', .6);
      }
      &::after {
        background: color('primary-2', 0.77);
      }
    }
    .settingIcons-3QYa5E {
      position: absolute;
      top: 20px;
      margin: 0;
      pointer-events: all;
    }
    .rowWrapper-2fB6P0 {
      position: relative;
      flex: 1 1 auto !important;
      width: 163px;
      height: auto;
      margin: 0 10px 20px;
      border-radius: 0;
    }
    .nameBodyCell-3JOlnK {
      position: relative;
      width: 100%;
      > #{$flex} {
        display: block;
        width: 100%;
      }
    }
    .nameCellInfo-11WjkQ {
      margin-top: 10px;
    }
    .platformCell-XyBBs6,
    .lastPlayedCell-2arbtc {
      display: none;
    }
    .actionsCell-1awtNi {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.15s ease-in, transform 0.15s ease-in;
      transform: translate3d(0, 15px, 0);
      > #{$button}#{$buttonlookfilled} {
        margin-top: -30px !important;
      }
    }
    .rowWrapperActive-2L7i9f {
      margin: 0 10px 20px;
      background: none !important;
      .row-ZLfFhY {
        color: color('primary-10');
      }
      #{$gameicon} {
        &::before,
        &::after {
          opacity: 1;
        }
      }
      .actionsCell-1awtNi {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        > #{$button}#{$buttonlookfilled} {
          pointer-events: all;
        }
      }
    }
  }
}
