// main: _module.scss

// Store view, bigger game video previews
// <html>.storeMediaView
//

.storeMediaView {
  .applicationStore-1pNvnv {
    .tile-2H4MQG {
      box-shadow: none;
      box-sizing: border-box;
      transition: transform 0.15s ease-in, z-index 0s 0.5s ease-in, opacity 0.15s ease-in;
      margin: 0;
      width: 50%;
      z-index: 1;
      overflow: visible;
      &:hover {
        box-shadow: none!important;
        z-index: 99;
        transition: transform 0.15s ease-in, z-index 0s 0s ease-in;
      }
    }
    .distributionApplications-t8X4kq,
    .premiumApplications-1-Q4_K {
      &:hover {
        .tile-2H4MQG:not(:hover) {
          opacity: 0.1;
        }
      }
    }
    .gameTitle-3aKSZn {
      font-size: 48px;
    }
    .tagline-LsAYEH {
      @include text(#fff, 20px, 400, 1.4);
    }
    .priceOSSection-1uhTom {
      @include text(#fff, 20px, 700);
    }
    .applicationStore-1pNvnv .purchaseUnitOperatingSystem-cnbJPz {
      @include size(50px);
    }
    .description-1eVELi {
      position: absolute;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to right, RGB(var(--tc-color-1)), RGB(var(--tc-color-3)))!important;
      box-sizing: border-box;
      overflow: hidden;
      padding: 30px;
      z-index: 1;
      &::before,
      &::after {
        content: '';
        display: block;
        z-index: -1;
      }
      &::before {
        @include absolute(right 0 bottom -80px left -20px);
        background-color: RGBA(var(--tc-color-7), 0.1);
        height: 50%;
        transform: rotate(4deg);
      }
      &::after {
        @include absolute(right -100px bottom -150px left 0);
        background-color: RGBA(var(--tc-color-4), 0.3);
        height: 70%;
        transform: rotate(-4deg);
      }
    }
    .distributionApplications-t8X4kq,
    .premiumApplications-1-Q4_K {
      margin: 0;
      .tile-2H4MQG {
        &:nth-child(even) {
          &:hover {
            transform: translate3d(-100%, 0, 0);
            .description-1eVELi {
              left: 100%;
              opacity: 1;
            }
          }
        }
        &:nth-child(odd) {
          &:hover {
            transform: translate3d(100%, 0, 0);
            .description-1eVELi {
              left: -100%;
              opacity: 1;
            }
          }
        }
        // Fix for the game tile sections that are links, not divs
        &.anchor-3Z-8Bb {
          overflow: hidden;
          transform: none!important;
          z-index: 0;
        }
      }
    }
    .premium-39U29H {
      margin-top: 20px;
    }
    .distributionApplications-t8X4kq {
      &::before {
        margin: 0 0 30px 0;
      }
    }
  }
}
