// main: _module.scss

//## zenMode - Hides the text/voice channels list and titlebar and makes the channel members list smaller
// <html>.zenMode
// DEFAULT: false
// https://i.imgur.com/S1G2YVj.png

//## zenMode - Hides the text/voice channels list and titlebar and makes the channel members list smaller
// DEFAULT: false
.zenMode:root {
  --channels-width: 0px;
  .channels-Ie2l6A {
    border-right: none;
    .scrollerWrap-2lJEkd {
      padding: 0;
    }
  }
}

.tc-zenmode {
  @include size(100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background: color('black', .8);
  opacity: 0;
  transition: opacity 0.25s ease-in;
  &.activated,
  &.activated-in {
    opacity: 1;
  }
  &.activated {
    &-txt-container {
      animation: fly-in2 0.5s ease-out 1 forwards;
    }
    &-buddha {
     animation: fly-in 0.5s ease-out 1 forwards;
   }
  }
  &.activated-in {
    &-buddha,
    &-txt-container {
      opacity: 1 !important;
      transition: transform 0.5s, opacity 0.5s;
      transform: translateX(0) !important;
    }
  }
  &-txt-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    transform: translateX(200px);
    &-zen-txt {
      display: inline-block;
      font-size: 44px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
    }
    &-mode-txt {
      display: inline-block;
      margin-left: -3px;
      font-size: 44px;
      font-weight: 400;
      color: #ff5d0c;
      text-transform: uppercase;
    }
    &-has-been-txt {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      color: #bababa;
      vertical-align: top;
    }
    &-activated-txt {
      display: inline-block;
      margin-left: -5px;
      font-size: 31px;
      font-weight: 700;
      color: #fcf88b;
      text-transform: uppercase;
      letter-spacing: -1px;
    }
    &-three-four {
      margin-top: -7px;
      margin-left: 5px;
    }
  }
  &-buddha {
    width: 250px;
    height: 302px;
    background: url('https://i.imgur.com/2n8X4E7.png') no-repeat center;
    background-size: 100%;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    transform: translateX(-200px);
  }
}
