///  main: _module.scss
///  ==========================================================================
///  Titlebar
///  ==========================================================================

#{classes('base.layers')},
#{classes('base.layer')} {
  background: none!important;
}

.loading-Ags1CY,
.appMount-3lHmkl,
.app-19_DXt>div[style*="background-color: rgb(47, 49, 54)"] {
  background: var(--app-background)!important;
  background-attachment: fixed!important;
  background-position: var(--app-background-position, 0 0)!important;
  background-repeat: var(--app-background-repeat, no-repeat)!important;
  background-size: var(--app-background-size, cover)!important;
  opacity: var(--app-opacity, 1)!important;
  z-index: 1;
  &::before {
    @include fixed(top 0 left 0);
    @include size(100vw, 100vh);
    content: var(--transparency-app-content);
    background: var(--transparency-app-background)!important;
    background-attachment: fixed!important;
    background-position: var(--transparency-app-background-position, 0 0)!important;
    background-repeat: var(--transparency-app-background-repeat, no-repeat)!important;
    background-size: var(--transparency-app-background-size, cover)!important;
    filter: blur(var(--transparency-app-background-blur, 0))
            brightness(var(--transparency-app-background-brightness, 1))
            contrast(var(--transparency-app-background-contrast, 1))
            GRAYSCALE(var(--transparency-app-background-grayscale, 0))
            INVERT(var(--transparency-app-background-invert, 0))
            saturate(var(--transparency-app-background-saturate, 1));
    mix-blend-mode: var(--transparency-app-background-blending, normal);
    opacity: var(--transparency-app-opacity, 1);
    pointer-events: none;
    z-index: -1;
  }
  &::after {
    @include fixed(top 0 left 0);
    @include size(100vw, 100vh);
    content: '';
    background: var(--transparency-app-background-overlay, #000);
    display: block;
    opacity: var(--transparency-app-background-overlay-opacity, 0);
    pointer-events: none;
    z-index: -1;
  }
}

// main nav
.tc-titleWrapper,
// chat area
.messagesWrapper-3lZDfY,
// guilds list
.wrapper-1Rf91z,
// channels list
.channels-Ie2l6A,
// members list
.membersWrap-2h-GB4,
// channel header
.titleWrapper-1l0xT9,
// chat message input
.chat-3bRxxu form .inner-zqa7da {
  backdrop-filter: blur(var(--transparency-layout-background-blur, 0))
                   brightness(var(--transparency-layout-background-brightness, 1))
                   contrast(var(--transparency-layout-background-contrast, 1))
                   GRAYSCALE(var(--transparency-layout-background-grayscale, 0))
                   saturate(var(--transparency-layout-background-saturate, 1))
                   OPACITY(var(--transparency-layout-background-opacity, 1));
}





.titleBar-AC4pGV {
  z-index: 99999999;
  background: none;
  height: calc(var(--titlebar-height) - 4px);
  margin-top: 4px;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  width: 100%;
  position: relative;
  .wordmark-2iDDfm {
    opacity: 1;
    width: 100%;
    background: var(--titlebar-color);
    margin-top: -4px;
    padding: 0;
    &::before {
      content: '';
      @include mask(var(--hamburger-menu-icon), #fff, 10px 11px);
      @include size(45px, var(--titlebar-height));
      align-items: center;
      display: inline-flex;
      position: relative;
      z-index: 999999999999999999999;
    }
    // Old 'TWITCHCORD' app header
    // &::before,
    // &::after {
    //   z-index: 999999999999999999999;
    //   pointer-events: none!important;
    //   position: relative;
    //   width: auto;
    //   font-size: 12px;
    //   text-transform: uppercase;
    //   display: inline-flex;
    //   align-items: center;
    //   height: var(--titlebar-height);
    // }
    // &::before {
    //   content: 'Twitch';
    //   font-weight: 900;
    //   color: #fff;
    //   margin-left: 16px;
    // }
    // &::after {
    //   content: 'cord';
    //   font-weight: 400;
    //   color: RGB(var(--tc-color-10));
    //   background-color: transparent;
    //   margin-left: 1px;
    // }
    svg {
        display: none;
    }
  }
  .winButton-iRh8-Z {
      width: 45px;
      height: var(--titlebar-height);
      margin-top: -4px;
      top: 0;
      opacity: 1;
      background-color: transparent;
      background-repeat: no-repeat !important;
      background-position: center !important;
      cursor: default;
      background-size: 10px !important;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &.winButtonClose-1HsbF- {
        &:hover {
          background-color: var(--fail-color);
        }
      }
  }
  svg[name="TitleBarClose"] {
      @include mask(var(--app-close-icon), #fff, 12px);
      @include size(10px);
  }

  svg[name="TitleBarMaximize"] {
      @include mask(var(--app-maximize-icon), #fff, 10px);
      @include size(11px, 12px);
  }

  svg[name="TitleBarMinimize"] {
      @include mask(var(--app-minimize-icon), #fff, 12px);
      @include size(10px, 11px);
  }

  svg[name="TitleBarClose"] polygon, svg[name="TitleBarMaximize"] rect, svg[name="TitleBarMinimize"] rect {
      display: none;
  }
}

//## ixMaximized - change the maximize icon if the app is maximized or not
.isMaximized:root {
  svg[name="TitleBarMaximize"] {
      @include mask(var(--app-restore-icon), #fff, 10px 11px);
    }
}
