///  main: _module.scss
///  ==========================================================================
///  Guilds list section
///  ==========================================================================

.hideGuildsUntilHover {
  --guilds-width: 0;
  #{$guildswrapper} {
    @include size(var(--guilds-width), var(--guilds-height));
  }
}

// Guilds outer container
#{classes('layout.guilds.guildsWrapper')} {
  @include size(var(--guilds-width), var(--guilds-height));
  background: var(--guilds-background)!important;
  border-radius: var(--layout-roundness, 0);
  border-right: 1px solid var(--border-color);
  margin: var(--layout-gutter-size, 0);
  z-index: 0;
  #{classes('layout.guilds.scrollerWrap')} {
    @include size(calc(var(--guilds-width) + 10px), var(--guilds-height));
  }
  #{classes('layout.guilds.guildSeparator')} {
    @include size(100%, auto);
    margin: 10px 0;
    display: none;
    &,
    &::before,
    &::after {
      pointer-events: none;
    }
    &::after {
      background-color: var(--border-color);
      height: 1px;
    }
  }
    // Show the separator when there is at least one DM
  #{classes('layout.guilds.dm')} {
    + #{classes('layout.guilds.guildSeparator')} {
      display: block;
    }
  }
  // Mentions indicators
  #{classes('layout.guilds.mentionsIndicatorTop')},
  #{classes('layout.guilds.mentionsIndicatorBottom')} {
    left: 3px;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    transform: none!important;
    transition: none;
    width: calc(var(--guild-icon-size) + 6px);
    z-index: 2;
  }
  // Top mentions indicator
  #{classes('layout.guilds.mentionsIndicatorTop')} {
    top: -3px;
  }
  // Bottom mentions indicator
  #{classes('layout.guilds.mentionsIndicatorBottom')} {
    bottom: -3px;
    // Mentions indicator is active
    #{classes('base.unreadBar.mention')} {
      transform: translate3d(0, calc((var(--guilds-width) * -1) + 3px), 0)!important
    }
  }
  #{classes('layout.guilds.scroller')} {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 calc(var(--guild-icon-size) + 25px) 0;
    padding: 9px 0 0 0;
    flex-direction: column;
    // Needed in order to center guilds horizontally when there are very few
    overflow-y: scroll;
    // Join / Create Server button
    #{classes('layout.guilds.createJoinContainer')} {
        @include absolute(bottom 0 left 0, !important);
        @include flex-center;
        @include size(calc(var(--guilds-width) - 1px)!important, calc(var(--guild-icon-size) + 25px)!important);
        border: none;
        background: var(--guilds-background);
        border-radius: 0;
        margin: 0!important;
        pointer-events: none;
        z-index: 3;
        &:hover,
        &:hover:active,
        &:active {
          border: none!important;
          box-shadow: none!important;
          color: #fff!important;
        }
        #{classes('layout.guilds.circleIconButton')} {
          @include size(var(--guild-icon-size));
          background: none;
          border: none;
          border-radius: 0;
          margin: 0;
        }
        #{classes('layout.guilds.plus')} {
          @extend %button-primary;
          @include flex-center;
          @include size(var(--guild-icon-size));
          @include text(#fff, calc(var(--guild-icon-size) - calc(var(--guild-icon-size) / 10)), 400, var(--guild-icon-size));
          background: RGB(var(--tc-color-6))!important;
          border-color: RGB(var(--tc-color-6))!important;
          border-radius: var(--guild-roundness);
          margin: 0 auto;
          padding: 0;
          pointer-events: all;
          top: 0;
      }
    }
  }
  // Friends online count
  #{classes('layout.guilds.friendsOnline')} {
    @include text(RGB(var(--tc-tint-9)), 10px, 400, 36px, uppercase);
    @include sticky(top -10px);
    @include reset;
    width: calc(100% - 2px);
    background: var(--guilds-background);
    z-index: 2;
    display: none;
  }
  // Guild outer container
  #{classes('layout.guilds.guild')},
  #{classes('layout.guilds.dm')},
  #{classes('layout.guilds.guildsErrorContainer')} {
    @include size(var(--guild-icon-size)!important);
    margin: 9px auto;
    // Selected guild indicator
    &,
    &#{classes('layout.guilds.unread')},
    &#{classes('layout.guilds.selected')},
    &#{classes('layout.guilds.unread')}#{classes('layout.guilds.selected')} {
      &::before {
        @include absolute(top 20px!important left -14px!important);
        @include size(5px!important, var(--guild-icon-size)!important);
        border-radius: 0 var(--button-roundness) var(--button-roundness) 0!important;
        border: none!important;
        background: RGB(var(--tc-color-7));
        transition: none!important;
        transform: translateX(100px);
      }
    }
    // Guild badge
    #{classes('layout.guilds.badge')} {
      @include absolute(top unset right -4px bottom -4px);
      @include flex-center;
      box-shadow: 0 0 0 2px var(--guilds-background);
      height: calc(var(--guild-icon-size) / 3);
      min-height: 14px;
      min-width: 14px;
    }
    &#{$guildaudio},
    &#{$guildvideo} {
      #{$guildinner} {
        &::after {
          content: '';
          @include absolute(top -6px right -6px);
          @include size(18px);
          background: RGB(var(--tc-color-7)) var(--video-volume-icon) no-repeat center / 18px;
          border: 2px solid var(--guilds-background);
          border-radius: var(--guild-roundness);
          overflow: hidden;
          pointer-events: none;
        }
      }
    }
    // Fix the border-radius so it doesn't change when user
    // clicks on a guild
    #{classes('layout.guilds.dragFix')} {
      &:active {
        border-radius: inherit;
        overflow: visible;
      }
    }
    // Guild icon
    #{classes('layout.guilds.guildIcon')},
    // DM user avatar
    #{classes('layout.guilds.dmIconInner')} {
      @include flex-center;
      @include size(var(--guild-icon-size));
      background: none;
      background-repeat: no-repeat;
      background-color: transparent;
      background-clip: initial;
      border-radius: var(--guild-roundness);
      background-size: var(--guild-icon-size) var(--guild-icon-size);
      margin: 0;
      // DM user avatar wrapper div
      #{$avatarwrapper} & {
        // Fix for inner DM avatar border messing up
        border: none;
      }
    }
    // DM user avatar wrapper div
    #{classes('layout.guilds.dmIcon')} {
      @include flex-center;
      @include size(var(--guild-icon-size));
      background-image: url(https://client.forgecdn.net/Avatars/UserAvatar.png);
      // DM user avatar
      #{classes('layout.guilds.dmIconInner')} {
        @include size(var(--guild-icon-size));
        border: none;
      }
    }
    // When there is no icon present
    #{classes('layout.guilds.noIcon')} {
      background: RGB(var(--tc-tint-3));
    }
    #{classes('layout.guilds.guildWrapper')},
    #{classes('layout.guilds.guildsError')} {
      @include flex-center;
      @include size(var(--guild-icon-size));
      border-radius: var(--guild-roundness)!important;
      background: none!important;
      overflow: visible;
      a {
        @include flex-center;
        @include size(calc(var(--guild-icon-size) + 4px));
        border: 2px solid transparent;
        border-radius: var(--guild-roundness);
      }
    }
    // Guild error / guild unavailable
    #{classes('layout.guilds.guildsError')} {
      background: var(--fail-inner-color)!important;
      border: 2px solid var(--fail-color);
      color: #fff!important;
    }
    // Guild unread
    &#{classes('layout.guilds.unread')} {
      #{classes('layout.guilds.guildWrapper')} {
        a {
          border-color: #fff;
        }
      }
      // Fix for when Discord adds .stop-animation class to layers when settings is closed
      @at-root #{classes('base.stopAnimation')} &, // targetting '.stop-animation guild'
      & { // targetting 'guild'
        @include hardware;
        animation: guildUnreadShake 0.82s cubic-bezier(.36, .07, .19, .97) both 1!important;
        transform: translate3d(0, 0, 0);
      }
      &::after {
        content: '';
        @include size(100%);
        @include absolute(top 0 left 0);
        border-radius: var(--guild-roundness);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.15)!important;
        display: block;
        pointer-events: none;
        transform: scale(1.2);
        transition: transform 0.2s;
      }
      // This is to make sure it's only targeting unread guilds, not unread and selected guilds
      &:not(#{classes('layout.guilds.selected')}) {
        #{classes('layout.guilds.guildWrapper')} {
          #{classes('layout.guilds.guildIcon')} {
            border: 2px solid RGB(var(--tc-tint-1));
            background-size: calc(var(--guild-icon-size) - 4px) calc(var(--guild-icon-size) - 4px);
            // Fix for the border being off at 110% zoom
            @at-root .zoomLevel1 & {
              border-width: 3px;
            }
          }
        }
      }
      // Guild selected and unread
      &#{classes('layout.guilds.selected')} {
        #{classes('layout.guilds.guildWrapper')} {
          a {
            border-color: transparent;
          }
        }
        &::after {
          transform: scale(0);
          transition: transform 0.2s;
        }
      }
    }
    // Guild selected (not unread)
    &#{classes('layout.guilds.selected')} {
      // Selected guild indicator
      &::before {
        animation: bounceIn 0.3s forwards;
      }
    }
  }
  // Discord 'Home' button
  #{classes('layout.guilds.homeButtonContainer')},
  // Discord 'Server Discovery' button
  #{classes('layout.guilds.serverDiscoveryContainer')} {
    display: none;
  }
  // Placeholder when dragging guild
  #{classes('layout.guilds.dragPlaceholder')} {
    @include size(var(--guild-icon-size));
    border: 2px dashed var(--border-color);
    border-radius: var(--guild-roundness);
    background: RGB(var(--tc-tint-1));
    display: table;
    margin: 9px auto;
  }
}
