// main: _module.scss

/*==={ ACCOUNT SETTINGS }===*/


// 'My Account' section
.userInfoViewing-16kqK3,
.userInfoEditing-1CEzdT {
  background: color('tint-1') !important;
  border: 1px solid color('white', .05) !important;
  border-radius: var(--button-border-radius);
  // User avatar
  #{classes('components.avatars.wrapper')},
  #{classes('components.avatars.inner')} {
    @include size(140px);
  }
  // Container div
  #{classes('base.flex.flex')} {
    > #{classes('base.flex.flexChild')}:nth-of-type(2) {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      > div {
        display: block;
        width: 100%;
      }
    }
  }
}

.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .marginBottom20-32qID7+div .viewBody-2Qz-jg {
    display: inline-block;
    filter: blur(3px);
    transition: filter 0.2s;
}

.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .marginBottom20-32qID7+div .viewBody-2Qz-jg:hover {
    filter: blur(0);
    transition: filter 0.2s;
}
