// main: _module.scss

//** Appearance settings

// Chat preview background
.container-1RjyoP .preview-2nSL_2 {
  background-color: color('primary-1') !important;
}

// The Aa's seen here
// https://i.imgur.com/fOhy58S.png
.fontScaleSmall-368quy {
  margin-right: 15px;
}
.fontScaleLarge-3xtq7i {
    margin-left: 15px;
}

/* chat font scaling / zoom level bars */
.markDash-3hAolZ {
    display: none;
}

.font-scale-sample-large, .font-scale-sample-small {
    display: none;
}

/* ----------------------- */
