// main: _module.scss

//** Authorized apps

.user-settings-authorized-apps .permission-checkmark {
    margin-right: 5px;
    background: image('permissions.png') no-repeat 50% !important;
}

.user-settings-authorized-apps .authed-app {
    background: color('primary-2');
}

.user-settings-authorized-apps .labelBold-1PKEeD {
    font-size: 16px !important;
    color: color('primary-10') !important;
}

.user-settings-authorized-apps .cardPrimary-1Hv-to {
    background-color: color('primary-4') !important;
    border: 2px solid color('primary-8') !important;
}

.user-settings-authorized-apps .app-avatar {
    width: 64px;
    height: 64px;
    border-radius: 0;
}
