// main: _module.scss

//** Connections settings


// **********Need some main container class here {

.connectionIcon-2ElzVe {
  @include size(70px);
  border-radius: var(--image-roundness);
}

.connection-1fbD7X {
    margin-bottom: 15px;
    background: color('tint-1') !important;
    border: 1px solid var(--border-color) !important;
    border-radius: var(--panel-roundness);
}

.connectionHeader-2MDqhu {
    margin-bottom: 0;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
}

.connectionHeader-2MDqhu .connectionAccountValue-3VdBGs {
    font-size: 16px !important;
    color: #fff !important;
}

.connectionOptionsWrapper-3KIj1Z .connectionOptions-YE9FAM {
    padding-top: 20px;
}

.connectionOptionSwitch-3KNn-E + .connectionOptionSwitch-3KNn-E {
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
}

.divider-3573oO {
  display: none;
}

.cardPrimary-1Hv-to {
  + div {
    margin: 0 0 50px;
    padding: 20px;
    background: color('tint-1');
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }
}

.connectedAccounts-2-XP1G {
  margin-top: 20px;
}

.accountBtnInner-sj5jLs {
  border: none;
  border-radius: var(--button-border-radius);
  transition: none;
  @each $type, $url in map-get($discordImages, settingsConnections) {
    &[style*='#{$url}'] {
      background: color(#{$type}) logo(#{$type}) no-repeat center / 3rem !important;
    }
  }
  // We are including these below because they need size adjustments to be consistant with the others
  &[style*="#{discordImages('settingsConnections.facebook')}"] {
    background-size: 25px !important;
  }
  &[style*="#{discordImages('settingsConnections.spotify')}"] {
    background-size: 25px !important;
  }
  &[style*="#{discordImages('settingsConnections.twitter')}"] {
    background-size: 25px !important;
  }
  &[style*="#{discordImages('settingsConnections.xbox')}"] {
    background-size: 25px !important;
  }
  &[style*="#{discordImages('settingsConnections.youtube')}"] {
    background-size: 35px !important;
  }
  &:hover {
    filter: brightness(1.2);
  }
}