// main: _module.scss

//** User Settings

// User settings outer contain div
.layer-3QrUeG[aria-label='USER_SETTINGS'],
.layer-3QrUeG[aria-label='GUILD_SETTINGS'],
.layer-3QrUeG[aria-label='CHANNEL_SETTINGS'] {
  z-index: 999;
  background: var(--settings-color) !important;
  // When you open / close the settings modal
  &.animating-rRxada {
    top: 0 !important;
    // We want it to "close" as soon as the close button is clicked
    display: none;
    padding-top: 0 !important;
    will-change: auto !important;
  }
  // Get rid of the settings background
  .standardSidebarView-3F1I7i {
    top: 0;
    background: none !important;
  }
  // Sidebar
  .sidebarRegion-VFTUkN {
    flex: 0 0 var(--settings-sidebar-width);
    padding: 1px 1px 0 0;
    background: none;
    border-right: 1px solid color('white', .05);
    // Sidebar category header
    .header-2RyJ0Y {
      @include component('header', 'h9');
      margin: 20px 10px 10px;
      padding: 0;  
    }
    // Direct child of sidebar scroller
    .sidebar-CFHs9e {
      width: 100%;
      margin: 10px 0 10px 10px;
      padding: 0;
    }
    // Sidebar separators
    .separator-gCa7yv {
      display: none;
    }
    // Sidebar scroller
    .scroller-2FKFPG {

    }
    // Sidebar items
    .side-8zPYf6 {
      .item-PXvHYJ {
        margin: 0;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 400;
        color: color('tint-11') !important;
        background: none;
        border-radius: var(--button-border-radius);
        &:hover {
          color: #fff !important;
          background: color('primary-6') !important;
        }
        // Selected settings item
        &.selected-3s45Ha {
          color: color('tint-11') !important;
          pointer-events: none;
          background: color('primary-5') !important;
        }
        &.settings-user-settings-my-account {
          &::before {

          }
        }
      }
    }
  }
  // Content
  .contentRegion-3nDuYy {
    background: none;
    .scrollerWrap-2lJEkd {
      padding: 2px 2px 0 0;
    }
    // Content scroller
    .scroller-2FKFPG {
      flex-direction: column;
      padding: 0 var(--settings-gutter-size) var(--settings-gutter-size) var(--settings-gutter-size);
    }
    // Direct child of content scroller
    .contentColumnDefault-1VQkGM {
      order: 2;
      width: 100%;
      min-width: 0;
      max-width: 100%;
      min-height: 0;
      padding: 0;
    }
  }
  // Close button outer container
  .toolsContainer-1edPuj {
    @include size(100%, 70px);
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    order: 1;
    max-height: 70px;
    margin: 0 0 2rem;
    padding: 0;
    background: var(--settings-color);
    &::before {
      @include component('header', 'h3');
      content: 'Settings';
      width: 100%;
    }
  }
  .tools-3-3s-N {
    position: relative;
  }
  .tools-3-3s-N,
  .container-1sFeqf {
    @include size(35px);
    flex: 1;
  }
  .closeButton-1tv5uR {
    @include component('button', 'blank', 'base');
    @include size(35px);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none !important;
    svg {
      @include mask(icon('close'), color('tint-11'), 25px);
      g {
        display: none;
      }
    }
  }
  // ESC text on close button
  .keybind-KpFkfr {
    display: none;
  }
  // Discord social media links
  .socialLinks-3jqNFy {
    display: none;
  }
}

.layer-3QrUeG {
  opacity: 1 !important;
  transform: none !important;
  + .layer-3QrUeG {
    margin: var(--main-nav-height) 0 0 0;
  }
}

// Remove button used in various user/server settings sections
.button-mM-y8i {
    background-color: color('danger') !important;
    background-image: image('close2.png');
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: background-color 0.2s;
    &:hover {
      background-color: color('danger') !important;
      box-shadow: none !important;
    }
}

.cardPrimary-1Hv-to {
  background: color('tint-1') !important;
  border: 1px solid var(--border-color) !important;
  border-radius: var(--panel-roundness);
}