// main: _module.scss

//** User Settings

// User settings outer contain div
.layer-3QrUeG[aria-label="USER_SETTINGS"],
.layer-3QrUeG[aria-label="GUILD_SETTINGS"],
.layer-3QrUeG[aria-label="CHANNEL_SETTINGS"] {
  background: var(--settings-color)!important;
  z-index: 999;
  // When you open / close the settings modal
  &.animating-rRxada {
    will-change: auto!important;
    padding-top: 0!important;
    top: 0!important;
    // We want it to "close" as soon as the close button is clicked
    display: none;
  }
  // Get rid of the settings background
  .standardSidebarView-3F1I7i {
    background: none!important;
    top: 0;
  }
  // Sidebar
  .sidebarRegion-VFTUkN {
    background: none;
    border-right: 1px solid var(--empty-hover-color);
    flex: 0 0 var(--settings-sidebar-width);
    padding: 1px 1px 0 0;
    // Sidebar category header
    .header-2RyJ0Y {
      @include header('h7');
      margin: 20px 10px 10px;
      padding: 0;  
    }
    // Direct child of sidebar scroller
    .sidebar-CFHs9e {
      margin: 10px 0 10px 10px;
      padding: 0;
      width: 100%;
    }
    // Sidebar separators
    .separator-gCa7yv {
      display: none;
    }
    // Sidebar scroller
    .scroller-2FKFPG {
      @include fakeScrollbarFade('settings');
    }
    // Sidebar items
    .side-8zPYf6 {
      .item-PXvHYJ {
        background: none;
        border-radius: var(--button-roundness);
        color: RGB(var(--tc-tint-11))!important;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        padding: 5px 10px;
        &:hover {
          background: RGB(var(--tc-color-6))!important;
          color: #fff!important;
        }
        // Selected settings item
        &.selected-3s45Ha {
          background: RGB(var(--tc-color-5))!important;
          color: RGB(var(--tc-tint-11))!important;
          pointer-events: none;
        }
        &.settings-user-settings-my-account {
          &::before {

          }
        }
      }
    }
  }
  // Content
  .contentRegion-3nDuYy {
    background: none;
    padding: 1px 1px 0 0;
    // Content scroller
    .scroller-2FKFPG {
      // @include fakeScrollbarFade('settings');
      padding: 30px 30px 30px 40px;
      &::-webkit-scrollbar-track {
        margin-top: 30px;
      }
    }
    // Direct child of content scroller
    .contentColumnDefault-1VQkGM {
      max-width: 100%;
      padding: 0;
    }
  }
  // Close button outer container
  .toolsContainer-1edPuj {
    @include absolute(top 0 right 0);
    @include reset;
    @include size(100%, 30px);
    background: var(--settings-color);
    flex: 0;
    z-index: 1;
  }
  .tools-3-3s-N {
    @include absolute(top 5px right 6px);
  }
  .tools-3-3s-N,
  .container-1sFeqf {
    @include size(20px);
    flex: 1;
  }
  .closeButton-1tv5uR {
    @include button-base;
    @include button('blank');
    @include flex-center;
    @include size(20px);
    transform: none!important;
    svg {
      @include mask(var(--close-icon), RGB(var(--tc-tint-11)), 16px);
      g {
        display: none;
      }
    }
  }
  // ESC text on close button
  .keybind-KpFkfr {
    display: none;
  }
  // Discord social media links
  .socialLinks-3jqNFy {
    display: none;
  }
}

.layer-3QrUeG {
  transform: none!important;
  opacity: 1!important;
  + .layer-3QrUeG {
    margin: var(--main-nav-height) 0 0 0;
  }
}

// Remove button used in various user/server settings sections
.button-mM-y8i {
    background-color: var(--fail-color)!important;
    border-radius: 0!important;
    box-shadow: none!important;
    background-image: image('close2.png');
    transition: background-color 0.2s;
    &:hover {
      background-color: var(--fail-color)!important;
      box-shadow: none!important;
    }
}
