// main: _module.scss

//** Games settings

.user-settings-games .game-name {
    height: 32px;
}

.user-settings-games .game .remove-game {
    top: 34px;
    right: 199px;
    z-index: 1;
}

.user-settings-games .now-playing-add {
    margin-top: 20px;
}

.user-settings-games .button-38aScr {
    display: block;
    margin-top: 10px;
}

.add-game-popout {
    background-color: color('primary-3') !important;
    border: 1px solid color('primary-4') !important;
    border-radius: 0;
    box-shadow: 0 0 45px color('black', .6) !important;
}

.add-game-popout .cancel-button {
    margin-right: 10px;
}

.add-game-popout .divider-3573oO {
    background: transparent !important;
}

.user-settings-games .game-name-input {
    border-radius: 2px;
}

.user-settings-games .game-name-input:hover {
    background-color: color('primary-2') !important;
    border-color: none !important;
    box-shadow: inset 0 0 0 1px color('primary-5'), 0 0 0 transparent;
}

.user-settings-games .game-name-input:focus {
    background-color: color('primary-2') !important;
    border-color: none !important;
    box-shadow: inset 0 0 0 1px color('primary-8'), 0 0 6px -2px color('primary-8');
}


.theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
    background-color: #326125;
    border: 2px solid #31d31c;
}

.theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected {
    background-color: #612526;
    border: 2px solid #d32b1c;
}

.theme-dark .user-settings-games .not-detected .last-played, .theme-light .user-settings-games .not-detected .last-played {
    color: color('tint-11') !important;
}

.theme-dark .user-settings-games .now-playing .game-name-input:focus, .theme-dark .user-settings-games .now-playing .game-name-input:hover,
.theme-light .user-settings-games .now-playing .game-name-input:focus, .theme-light .user-settings-games .now-playing .game-name-input:hover {
    background: color('primary-1');
}

.user-settings-games .game-name-input {
    margin-bottom: 5px;
    padding: 15px 4px;
}

.user-settings-games .last-played {
    line-height: 16px;
    color: color('tint-8') !important;
}

.user-settings-games .now-playing .last-played {
    color: #b4e1cd !important;
}

.user-settings-games .game {
    margin: 10px 0;
    padding: 20px;
    background: color('primary-2') !important;
    box-shadow: none !important;
}

.user-settings-games .overlay-status-text {
    width: auto;
    margin-right: 24px;
    font-size: 12px;
}

.game.ui-hover-card::before {
    display: none;
}
/* Settings page - Game Activity */

.user-settings-games .game-verified-icon {
    width: 18px;
    height: 18px;
    background: image('verified5.png') no-repeat;
}

.user-settings-games .not-detected, .user-settings-games .now-playing {
    border-radius: 2px;
}
