// main: _module.scss

//** Stream Mode settings

.streamer-mode-enabled .streamer-mode-enabled-btn {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 0;
}

.streamer-mode-enabled {
    overflow: hidden;
    background: color('primary-3') image('twitchcord-bg2.png');
    -webkit-animation: 100s scroll infinite linear;
    animation: 100s scroll infinite linear;
}

.user-settings-streamer-mode .cardPrimary-1Hv-to {
    background-color: color('primary-4') !important;
    border: 2px solid color('primary-8') !important;
}
