// main: _module.scss

//** Voice & Video settings

.userSettingsVoice-iwdUCU {
  > #{classes('base.flex.flex')} {
    > div {
      background: RGB(var(--tc-tint-1));
      border: 1px solid var(--border-color);
      padding: 20px;
      + div {
        border-top: none;
      }
      &.marginBottom20-32qID7,
      &.marginBottom40-2vIwTv {
        margin: 0;
      }
      &:last-of-type {
        display: flex;
        justify-content: flex-end;
        background: none;
        border: none;
        padding: 0;
        margin: 30px 0;
      }
    }
  }
}

.micTest-R7grQZ {
  flex-wrap: wrap;
}

// To overwrite Discord's inline injecting the width
// that causes the settings content to stretch out of
// its normal bounds
.container-3PXSwK {
  width: 100%!important;
}