/// main: _module.scss
/// ==========================================================================
///  Chat area
/// ==========================================================================

:root {
  --chat-component-background: #{color('tint-1')};
  --chat-component-border-color: transparent;
  --chat-component-border-style: none;
  --chat-component-border-width: 0rem;
  --chat-component-border-radius: 0;
  --chat-component-box-shadow: var(--elevation-1);
}

  // Links
  @at-root #{$messagemarkup} a,
  // Channel tagging
  #{$messagechanneltag} {
    color: color('primary-10') !important;
    background: none !important;
    &:hover {
      color: color('primary-10') !important;
      background: none !important;
    }
  }
  .message-2qnXI6 {
    &.selected-2P5D_Z,
    &:hover {
      background: none !important;
    }
  }
  #{$messages} {
    .timestampVisibleOnHover-2bQeI4 {
      display: none;
    }
    // Dividers
    #{$chatdivider} {
      position: relative;
      z-index: 4;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      margin: 15px calc(var(--chat-avatar-size) + var(--chat-gutter-size) + var(--chat-avatar-margin)) 5px;
      border: none;
      &::before,
      &::after {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 1px;
        background-color: color('tint-4') !important;
      }
      #{$chatdividerspan} {
        padding: 0 30px;
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--chat-text-color) !important;
        text-align: center;
        background: none !important;
      }
      &#{$chatdividernew} {
        border: none !important;
        // Date
        .content-1o0f9g {
          display: none;
        }
        .unreadPill-2HyYtt {
          position: relative;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 0 30px;
          font-size: 1.2rem !important;
          font-weight: 700;
          color: color('primary-8') !important;
          text-transform: uppercase;
          background: none;
          border-radius: 0;
          &::after {
            content: ' Messages';
            white-space: pre;
          }
        }
        .unreadPillCap-3_K2q2 {
          display: none;
        }
        &::before,
        &::after {
          content: '';
          width: 100%;
          height: 1px;
          background-color: color('primary-8') !important;
        }
      }
    }
    // Message border lines
    #{$messagedivider} {
      display: none;
    }
    .groupStart-23k01U {
      min-height: 0;
      margin-top: 18px;
      padding: 0;
    }
    .contents-2mQqc9 {
      margin: 0;
      padding: 0;
    }
    // Message group container
    @at-root #{$messagegroup} {
      margin: 0 calc(var(--chat-gutter-size) - var(--scrollbar-width)) 0 var(--chat-gutter-size);
      padding: 0 !important;
      overflow: visible;
      // Local bot message
      &#{$messageislocalbot} {
        margin: 20px 0 !important;
        padding: 15px var(--chat-gutter-size) !important;
        background: color('white', .05);
        border-left: 4px solid color('primary-7');
        box-shadow: none;
        #{$messagelocalbot} {
          margin: 8px 0 0 calc(var(--chat-avatar-size) + var(--chat-avatar-margin));
          font-size: 1.2rem;
          font-weight: 400;
          color: color('tint-7');
        }
      }
      // Message edit textarea
      #{$textareawrapall} {
        margin: 0 -1px 0 0;
        #{$textareainner} {
          box-sizing: border-box;
          min-height: 33px;
          line-height: 33px;
          background-color: color('tint-1') !important;
          border: 1px solid var(--border-color);
          #{$textarea} {
            height: auto;
            min-height: 0;
            max-height: 400px !important;
            margin: 0;
            padding: 6px 105px 6px 12px;
            overflow: hidden;
            font-size: 14px;
            color: var(--chat-text-color) !important;
            letter-spacing: 0;
            background-color: transparent;
            border: none;
          }
        }
      }
      // Container for 'escape to cancel - enter to save'
      #{$messageeditoperations} {
        padding-right: 10px;
        color: color('tint-7') !important;
        a {
          color: color('primary-10') !important;
        }
      }
      // Message failed to send
      #{$messagesendfailed} {
        #{$messagemarkup} {
          color: color('danger') !important;
          a {
            color: color('danger') !important;
          }
        }
      }
      #{$messagemarkup},
      .container-1ov-mD {
        margin: 0 0 0 calc(var(--chat-avatar-size) + var(--chat-avatar-margin));
        padding: 0;
        overflow: visible;
        clear: both;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        color: var(--chat-text-color);
        user-select: initial;
      }
      // Username + timestamp outer container
      .header-23xsNx {
        display: flex;
        align-items: center;
        float: left;
        min-height: 0;
        // -1px here because it looked a little misaligned with the markup text, due to anti-aliasing
        margin: 0 0 0 calc(var(--chat-avatar-size) + var(--chat-avatar-margin) - 1px);
        padding: 0;
        line-height: 16px;
        word-wrap: break-word;
        white-space: pre-wrap;
        .timestamp-3ZCmNB {
          @include ellipsis(100%);
          display: flex;
          align-items: center;
          order: 3;
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: color('tint-7');
          letter-spacing: 0;
        }
        // Username
        #{$messageusername} {
          @include ellipsis(100%);
          display: flex;
          align-items: center;
          order: 2;
          margin: 0 6px 2px 0;
          font-size: 14px;
          font-weight: 700 !important;
          line-height: 18px;
          color: color('contrasted');
        }
      }
      .avatar-1BDn8e {
        @include size(var(--chat-avatar-size));
        position: absolute;
        top: 4px;
        right: 0;
        bottom: 0;
        left: 0;
        float: left;
        margin: 0 var(--chat-avatar-margin) 0 0;
        overflow: visible;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: var(--chat-avatar-size) !important;
        &:hover {
          box-shadow: inset 0 0 0 2px color('primary-10');
          opacity: 1;
        }
      }
      // Avatar container
      #{$avatarwrapper} {
        @include size(var(--chat-avatar-size)!important);
        margin: 4px var(--chat-avatar-margin) 0 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: var(--chat-avatar-size) !important;
        border: none;
        border-radius: var('avatar-border-radius');
        &:hover {
          opacity: 1;
        }
        // Avatar image
        #{$avatarimage} {
          @include size(var(--chat-avatar-size));
          margin: 0;
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: var(--chat-avatar-size) !important;
          &:hover {
            box-shadow: inset 0 0 0 2px color('primary-10');
            opacity: 1;
          }
        }
        &.popout-open {
          #{$avatarimage} {
            box-shadow: inset 0 0 0 2px color('primary-10');
            opacity: 1;
          }
        }
      }
      .mention {
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        color: color('primary-10');
        cursor: pointer;
        background-color: transparent !important;
        &:hover {
          color: color('primary-10');
          text-decoration: none !important;
          background-color: transparent !important;
        }
      }
      // User is specifically mentioned
      &.mentioned-xhSam7 {
        background: none;
        // Remove mentioned pill
        &::before,
        &::after {
          display: none;
        }
        .mention {
          padding: 2px 4px;
          color: color('primary-1') !important;
          background-color: color('contrasted') !important;
          border-radius: 0;
          &:hover {
            color: color('primary-1') !important;
            background-color: color('contrasted') !important;
          }
        }
      }
      // (edited) indicator after edited messages
      #{$messageedited} {
        font-size: 12px;
        color: color('tint-7') !important;
        cursor: help !important;
      }
      // Search highlighting message fix
      > div[style*='background-color: rgba(114, 137, 218'] {
        background: none !important;
        border-radius: 0 !important;
      }
      > div[style*='background-color: rgba(114, 137, 218, 0.2)'] {
        > .message-1PNnaP {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: -.5rem;
            left: 0;
            z-index: -1;
            display: block;
            width: calc(100% + var(--chat-gutter-size) * 2);
            height: calc(100% + 1rem);
            margin-left: calc(var(--chat-gutter-size) * -1);
            animation: searchHighlightFix 1s forwards;
          }
        }
      }
      // Accessory (embeds and stuff)
      #{$messageaccessory} {
        > * {
          margin: 8px 0 !important;
        }
      }
    }
    // Blocked messages
    @at-root #{$messagegroupblocked} {
      display: none;
      margin: 15px 18px 15px 20px;
      background: color('primary-1') !important;
      border: none !important;
      border-radius: 0;
      &#{$messagegroupblockedrevealed}{
        background: color('tint-1') !important;
        border: 1px solid color('white', .05) !important;
        box-shadow: none !important;
        #{$messagegroupblockedbtn} { 
          background:color('tint-2') !important;
        }
        #{$messagegroup} {
          margin-left: 12px;
          padding: 15px 0 10px;
        }
      }
      #{$messagegroupblockedbtn} {
        font-size: 11px;
        font-weight: 700;
        color: color('tint-9') !important;
        background: color('tint-1') !important;
        border: none !important;
        border-radius: 0;
      }
    }
  }

// Jumbo emojis... i.e. when a message contains only a single emoji
.emoji.jumboable {
  @include size(30px);
  min-height: 30px;
  margin-top: 8px;
}

.messages-3amgkR.scroller-2FKFPG {
  padding: 0 0 40px; // typing indicator height + 10px
  background: none;
  // Not entirely sure why Discord added this
  &::after {
    display: none;
  }
  &::-webkit-scrollbar {
    &,
    &-thumb,
    &-track {
      visibility: hidden;
    }
  }
  &:hover {
    &::-webkit-scrollbar {
      &,
      &-thumb,
      &-track {
        visibility: visible;
      }
    }
  }
}

// Chat area container
#{$chat} {
  background: none !important;
  // Chat area outer container
  #{$chatcontent} {
    background: var(--chat-background) !important;
    > #{$flex} {
      background: var(--chat-background);
    }
    // Discord adds a fake shadow here
    &::before {
      display: none;
    }
  }
  // Chat area inner container
  #{$messageswrapper} {
    z-index: auto;
    flex-direction: column;
    margin: var(--chat-inner-margin, var(--layout-gutter-size, 0));
    background: var(--chat-inner-color, var(--layout-background, none));
    border: var(--chat-inner-border, var(--layout-border, 0));
    border-radius: var(--chat-inner-roundness, var(--layout-roundness, 0));
    > #{$scrollerwrap} {
      padding: 0 0.1rem 0 0;
    }
  }
  // Chat area scroller container
  #{$messages} {
    // "Welcome to your server"
    .welcomeMessage-3_Mcht {
      @include component('alert', 'success', 'base');
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 20px calc(var(--chat-gutter-size) - 10px) 20px var(--chat-gutter-size);
      .base-34jWEe {
        @include mask(icon('castle'), #fff, 40px);
        @include size(50px);
        margin: 0 10px 0;
        padding: 0;
        background-image: none;
        border: none;
      }
      .h1-1IDj26 {
        order: 2;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-transform: none;
      }
      .itemContainer-WiE19S {
        display: none;
      }
    }
  }
}

// Changes to the upload textarea
.channelTextArea-2VhZ6z.channelTextAreaUpload-3t7EIx {
  margin-top: 10px;
  margin-bottom: 0 !important;
  .inner-zqa7da {
    background: none !important;
    .textArea-2Spzkt {
      @include component('input', 'text', 'base');
      min-height: 34px;
      padding: 7px 38px 7px 14px;
      line-height: 20px;
      letter-spacing: 0;
    }
    .emojiButton-2wRZts {
      top: 9px;
    }
  }
}

// Wrapper for blocked users in DMs
// Verification countdown message
// Phone verification message
// Follow channel message
// Join server message (via Server Discovery)
#{$chat} {
  #{$chatbottomwrapper} {
    margin: 0;
    padding: 12px 15px;
    font-size: 14px;
    color: color('tint-8');
    letter-spacing: 0;
    background: color('tint-1');
    background: none;
    // Trying to target countdown numbers for verification
    > span {
      padding: 0.5rem 1rem;
      color: var(--chat-text-color);
      background: color('tint-2');
      border: 1px solid var(--border-color);
      border-radius: var(--component-border-radius);
    }
  }
}

//## Message textarea
#{$chat} {
  #{$chatform} {
    flex: 0 1 auto;
    flex-wrap: wrap;
    margin: var(--layout-gutter-size, 0 var(--chat-gutter-size, 0) 10px);
    padding: 0;
    background: none !important;
    border-top: none !important;
    box-shadow: none !important;
    &::before,
    &::after {
      display: none;
    }
    > #{$flex} {
      order: 2;
    }
    #{$textareawrapall} {
      margin: 0;
      padding: 0;
      border: none;
    }
    .scrollableContainer-2NUZem {
      padding: var(--chat-message-input-padding);
      background: var(--chat-message-input-background) !important;
      border: 1px solid color('white', .05);
      border-radius: var('input-border-radius') !important;
    }
    #{$textarea},
    .slateTextArea-1Mkdgw {
      right: 0;
      left: 0;
      height: auto;
      min-height: 0;
      max-height: 400px !important;
      margin: 0;
      padding: 0 1rem 0 0;
      font-size: 14px;
      line-height: 20px;
      color: color('tint-11') !important;
      letter-spacing: 0;
      background-color: transparent;
      border: none;
    }
    .placeholder-37qJjk {
      right: 0;
      left: 0;
      padding: 0;
      color: color('tint-7') !important;
    }
    #{$textareainner} {
      // Attach button container
      .attachWrapper-2TRKBi {
        align-items: flex-start;
        order: 2;
        margin-right: 8px;
        border: none;
      }
    }
  }
  .attachButton-2WznTc {
    @include mask(icon('paperclip'), color('primary-10')!important, 20px!important);
    @include size(20px!important);
    min-width: 20px !important;
    min-height: 20px !important;
    padding: 0 !important;
    overflow: visible;
    filter: none !important;
    border: none !important;
    box-shadow: none !important;
    opacity: 1;
    transition: none !important;
    svg[name='PlusCirclePlay'] {
      display: none;
    }
    .attachButtonInner-PQjIyk {
      height: 20px;
      padding: 0;
      svg {
        display: none;
      }
    }
    &:hover {
      background-color: color('contrasted') !important;
      opacity: 1;
      transform: none;
    }
  }
}

.textAreaEnabled-3vQ5WZ.textArea-2Spzkt.textAreaEdit-bNLDk3 {
  min-height: 40px;
  padding: 6px 45px 0 15px;
}

//## Channel loading new messages line
#{$chat} {
  #{$chatloadingmessage} {
    position: relative;
    height: 30px;
    background: none;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, color('primary-10', 0) 0%, color('primary-10') 40%, color('primary-10') 60%, color('primary-10', 0) 100%);
      transform: translateX(-50%);
      animation: chatLoadingMessages 1s infinite;
    }
    .spinner-2enMB9 {
      display: none;
    }
  }
}


#{$chatdivider} {
  + #{$messagegroup} {
    margin-top: 18px;
  }
}