/// main: _module.scss
/// ==========================================================================
///  Chat area
/// ==========================================================================

#{$messageswrapper} {
  // Links
  @at-root #{$messagemarkup} a,
  // Channel tagging
  #{$messagechanneltag} {
    background: none!important;
    color: RGB(var(--tc-color-10))!important;
    &:hover {
      background: none!important;
      color: RGB(var(--tc-color-10))!important;
    }
  }
  #{$messages} {
    // Dividers
    #{$chatdivider} {
      @include flex-center;
      height: 20px;
      padding: 0 calc(var(--chat-avatar-size) + var(--chat-avatar-margin) + var(--chat-gutter-size));
      margin: 20px 0;
      z-index: 4;
      overflow: hidden;
      position: relative;
      #{$chatdividerspan} {
        @include text(var(--chat-text-color)!important, 16px);
        background: none!important;
        padding: 0;
        width: 100%;
        &::before,
        &::after {
          border-color: RGB(var(--tc-tint-4))!important;
        }
        &::before {
          margin-right: 30px;
        }
        &::after {
          margin-left: 30px;
        }
      }
      &#{$chatdividernew} {
        #{$chatdividerspan} {
          @include text(RGB(var(--tc-color-8))!important, 12px!important, 700, $transform: uppercase);
          &::before,
          &::after {
            border-color: RGB(var(--tc-color-8))!important;
          }
        }
      }
    }
    // Message border lines
    #{$messagedivider} {
      display: none;
    }
    // Message group container
    @at-root #{$messagegroup} {
      min-height: calc(var(--chat-avatar-size) + 20px);
      overflow: visible;
      padding: 8px var(--chat-gutter-size);
      // Local bot message
      &#{$messageislocalbot} {
        background: var(--empty-hover-color);
        box-shadow: none;
        margin: 20px 0!important;
        padding: 15px var(--chat-gutter-size)!important;
        border-left: 4px solid RGB(var(--tc-color-7));
        #{$messagelocalbot} {
          @include text(RGB(var(--tc-tint-7)), 12px, 400);
          margin: 8px 0 0 calc(var(--chat-avatar-size) + var(--chat-avatar-margin));
          #{$message} {
            h2 {
              // Clyde username
              #{$messageusername} {
                color: transparent;
                margin-right: -35px;
                visibility: hidden;
                // Change it to 'Twitchcord Bot'
                &::before {
                  content: 'Twitchcord Bot';
                  color: #fff;
                  visibility: visible;
                }
                &:hover {
                  &::before {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      // Message edit textarea
      #{$textareawrapall} {
        margin: 0 -1px 0 0;
        #{$textareainner} {
          background-color: RGB(var(--tc-tint-1))!important;
          border: 1px solid var(--border-color);
          border-radius: var(--button-roundness);
          min-height: 33px;
          line-height: 33px;
          box-sizing: border-box;
          #{$textarea} {
            color: var(--chat-text-color)!important;
            background-color: transparent;
            border: none;
            font-size: 14px;
            max-height: 400px!important;
            overflow: hidden;
            margin: 0;
            letter-spacing: 0;
            padding: 6px 105px 6px 12px
          }
        }
      }
      // Action messages, like "x pinned a message to this channel"
      // This is backup styling in case Twitchcord JS isn't loaded yet
      // for whatever reason
      // REMOVE LATER
      #{$messagesystem} {
        @include text(var(--chat-text-color), 12px, 400, 16px);
        align-items: center;
        background: var(--empty-hover-color);
        border-bottom: 1px solid RGBA(var(--tc-color-4), 0.4);
        border-top: 1px solid RGBA(var(--tc-color-4), 0.4);
        border-right: 1px solid RGBA(var(--tc-color-4), 0.4);
        border-left: 4px solid RGB(var(--tc-color-7));
        padding: 9px 15px;
        margin: 0;
        #{$messagesystemicon} {
          @include reset;
          line-height: 16px;
          height: 16px;
          position: relative;
        }
        #{$messagesystemcontent} {
          font-weight: 400;
          line-height: 16px;
          margin-left: 5px;
          overflow: hidden;
        }
        // User's name link
        a {
          color: RGB(var(--tc-color-10))!important;
          font-weight: 700;
          // Any other links
          &:nth-of-type(2) {
            color: RGB(var(--tc-color-10))!important;
            font-weight: 400;
          }
        }
        #{$messagesystemtimestamp} {
          color: RGB(var(--tc-tint-7))!important;
        }
      }
      // Container for 'escape to cancel - enter to save'
      #{$messageeditoperations} {
        color: RGB(var(--tc-tint-7))!important;
        padding-right: 10px;
        a {
          color: RGB(var(--tc-color-10))!important;
        }
      }
      &#{classes('twitchcord.systemMessage')} {
        margin: 0;
        padding: 10px 0;
        + #{classes('twitchcord.systemMessage')} {
          padding: 0 0 10px 0;
        }
        #{$messagecontent} {
          padding: 0;
        }
        #{$messagebuttoncontainerouter} {
          display: none;
        }
        #{$messagesystem} {
          @include text(var(--chat-text-color), 12px, 700, 16px);
          border: none;
          border-left: 4px solid RGB(var(--tc-color-7));
          padding: 10px 15px;
          margin: 0;
        }
      }
      // Message container
      #{$message} {
        margin-bottom: 6px;
        // Message failed to send
        #{$messagesendfailed} {
          #{$messagemarkup} {
            color: var(--fail-color)!important;
            a {
              color: var(--fail-color)!important;
            }
          }
        }
        #{$messagecontent} {
          margin: 0 0 0 calc(var(--chat-avatar-size) + var(--chat-avatar-margin));
          #{$messagemarkup} {
            color: var(--chat-text-color);
            line-height: 1.5;
            font-size: 14px;
            font-weight: 400;
            overflow: hidden;
            margin: 0 45px 0 0;
            user-select: initial;
          }
        }
        // Username + timestamp outer container
        h2 {
          padding-top: 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          > span,
          #{$messageusernamewrapper},
          time {
            @include ellipsis(100%);
            line-height: 18px;
            display: flex;
            align-items: center;
            color: RGB(var(--tc-tint-7));
          }
          time {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0;
            margin-left: 6px;
            margin-bottom: -2px;
          }
          // Username
          @at-root #{$messageusername} {
            @include ellipsis(100%);
            color: RGB(var(--contrasted-color));
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            order: 2;
            filter: var(--soften-role-colors);
          }
        }
        // Avatar container
        #{$avatarwrapper} {
          @include size(var(--chat-avatar-size));
          border: none;
          margin: 4px var(--chat-avatar-margin) 0 0;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: var(--chat-avatar-size)!important;
          border-radius: var(--user-roundness);
          &:hover {
            opacity: 1;
          }
          // Avatar image
          #{$avatarimage} {
            @include size(var(--chat-avatar-size));
            background-color: transparent;
            margin: 0;
            background-size: var(--chat-avatar-size)!important;
            background-repeat: no-repeat;
            &:hover {
              opacity: 1;
              box-shadow: inset 0 0 0 2px RGB(var(--tc-color-10));
            }
          }
        }
        // Someone is mentioned
        .mention {
          color: RGB(var(--tc-color-10));
          font-weight: 400;
          font-size: 14px;
          background-color: transparent!important;
          padding: 0;
          cursor: pointer;
          &:hover {
            background-color: transparent!important;
            text-decoration: none;
            color: RGB(var(--tc-color-10));
          }
        }
        // User is specifically mentioned
        .isMentioned-N-h9aa {
          @include reset;
          background: none!important;
          border-radius: 0;
          .mention {
            color: RGB(var(--tc-color-1))!important;
            background-color: RGB(var(--contrasted-color))!important;
            padding: 2px 4px;
            &:hover {
              color: RGB(var(--tc-color-1))!important;
              background-color: RGB(var(--contrasted-color))!important;
            }
          }
          // Remove mentioned pill
          &::after {
            display: none;
          }
        }
        // (edited) indicator after edited messages
        #{$messageedited} {
          color: RGB(var(--tc-tint-7))!important;
          cursor: help!important;
          font-size: 12px;
        }
      }
      // Search highlighting message fix
      > div[style*="background-color: rgba(114, 137, 218"] {
        border-radius: 0!important;
        background-color: transparent;
        color: inherit;
        animation: searchHighlightFix 2s forwards;
      }
      // Accessory (embeds and stuff)
      #{$messageaccessory} {
        > * {
          margin: 8px 0;
        }
      }
    }
    // Blocked messages
    @at-root #{$messagegroupblocked} {
      border-radius: 0;
      background: RGB(var(--tc-color-1))!important;
      border: none!important;
      box-shadow: var(--elevation-1)!important;
      margin: 15px 18px 15px 20px;
      display: none;
      &#{$messagegroupblockedrevealed}{
        border: 1px solid var(--empty-hover-color)!important;
        background: RGB(var(--tc-color-1))!important;
        box-shadow: none!important;
        #{$messagegroupblockedbtn} { 
          background: RGB(var(--tc-tint-2))!important;
        }
        #{$messagegroup} {
          margin-left: 12px;
          padding: 15px 0 10px;
        }
      }
      #{$messagegroupblockedbtn} {
        background: RGB(var(--tc-tint-1))!important;
        color: RGB(var(--tc-tint-9))!important;
        font-size: 11px;
        font-weight: 700;
        border-radius: 0;
        border: none!important;
      }
    }
  }
}

// Chat area container
#{$chat} {
  background: none!important;
  // Scroller
  .scroller-2FKFPG {
    padding-bottom: 40px;
  }
  // Chat area outer container
  #{$chatcontent} {
    background: none!important;
    > #{$flex} {
      background: var(--chat-color);
      margin: var(--layout-gutter-size, 0);
    }
  }
  // Chat area inner container
  #{$messageswrapper} {
    background: var(--chat-inner-color);
    border-radius: var(--layout-roundness, 0);
  }
  #{$chatscrollerwrap} {
    padding: 1px 1px 0 0;
  }
  // Chat area scroller container
  #{$messages} {
    // @include fakeScrollbarFade('chat');
    // &::after {
    //   @include absolute(top 1px right 1px);
    // }
    // "Welcome to your server"
    .welcomeMessage-3_Mcht {
      @include alert('notice');
      background: RGB(var(--tc-tint-2));
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 20px calc(var(--chat-gutter-size) - 10px) 20px var(--chat-gutter-size);
      .base-34jWEe {
        @include mask(var(--castle-image), #fff, 40px);
        @include size(50px);
        background-image: none;
        border: none;
        margin: 0 10px 0;
        padding: 0;
      }
      .h1-1IDj26 {
        color: RGB(var(--tc-tint-12));
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        order: 2;
        text-transform: none;
      }
      .itemContainer-WiE19S {
        display: none;
      }
    }
  }
}

.headerCozy-2N9HOL {
  height: 20px;
}

// Changes to the upload textarea
.channelTextArea-1LDbYG.channelTextAreaUpload-3t7EIx {
  margin-bottom: 0!important;
  margin-top: 10px;
  .inner-zqa7da {
    background: none!important;
    .textArea-2Spzkt {
      @extend %input-text;
      min-height: 34px;
      line-height: 20px;
      letter-spacing: 0;
      padding: 7px 38px 7px 14px;
    }
    .emojiButton-2wRZts {
      top: 9px;
    }
  }
}

//## Wrapper for blocked users in DMs and verification countdown message and phone verification in guilds
#{$chat} {
  #{$chatbottomwrapper} {
    color: RGB(var(--tc-tint-8));
    background: none;
    letter-spacing: 0;
    font-size: 14px;
    // Unblock button
    button {
      margin-top: 20px!important;
    }
  }
}

//## Message textarea
#{$chat} {
  form {
    padding: 0;
    margin: 0 var(--chat-gutter-size) 10px;
    border-top: none!important;
    background: none!important;
    box-shadow: none!important;
    flex: 0 1 auto;
    flex-wrap: wrap;
    > #{$flex} {
      order: 2;
    }
    #{$textareawrapall} {
      @include reset;
      border: none;
    }
    #{$textarea} {
      @include reset;
      color: var(--message-input-text-color)!important;
      background-color: transparent;
      border: none;
      letter-spacing: 0;
      line-height: 20px;
      font-size: 14px;
      max-height: 400px!important;
      &::-webkit-input-placeholder {
        color: RGB(var(--tc-tint-7))!important;
      }
    }
    #{$textareainner} {
      @include input('alternate');
      background: var(--chat-message-input-background)!important;
      border-radius: var(--layout-roundness, 0)!important;
      height: auto!important;
      margin: 0;
      overflow: hidden;
      padding: var(--chat-message-input-padding);
      z-index: 0;
      // Attach button container
      > #{$flex} {
        align-items: flex-start;
        order: 2;
        margin-right: 4px;
      }
    }
  }
  .attachButton-1UjEWA,
  .attachButton-1UjEWA.button-38aScr.lookBlank-3eh9lL {
    @include mask(var(--paperclip-icon), RGB(var(--tc-color-10))!important, 20px!important);
    @include size(20px!important);
    border: none!important;
    box-shadow: none!important;
    min-width: 20px!important;
    min-height: 20px!important;
    opacity: 1;
    overflow: visible;
    transition: none!important;
    filter: none!important;
    .attachButtonInner-1iyZ9F {
      height: 20px;
      padding: 0;
      svg {
        display: none;
      }
    }
    &:hover {
      transform: none;
      background-color: RGB(var(--tc-color-12))!important;
      opacity: 1;
    }
  }
  .attachButton-1UjEWA svg[name="PlusCirclePlay"] {
    display: none;
  }
  // Attach button divider
  .attachButtonDivider-3Glu60 {
    display: none!important;
  }
}

.textAreaEnabled-3vQ5WZ.textArea-2Spzkt.textAreaEdit-bNLDk3 {
  padding: 6px 45px 0 15px;
  min-height: 40px;
}

//## Channel loading new messages line
#{$chat} {
  #{$chatloadingmessage} {
    position: relative;
    height: 30px;
    background: none;
    &::after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(to right, RGBA(var(--tc-color-10), 0) 0%, RGB(var(--tc-color-10)) 40%, RGB(var(--tc-color-10)) 60%, RGBA(var(--tc-color-10), 0) 100%);
      animation: chatLoadingMessages 1s infinite;
    }
    .spinner-2enMB9 {
      display: none;
    }
  }
}
