// System messages
#{$messagegroup} {
  &.systemMessage-1I9LCe {
    margin-right: 0;
    margin-left: 0;
    background: color('white', .05) !important;
    border-left: 4px solid color('primary-7');
    + .systemMessage-1I9LCe {
     margin-top: 10px; 
    }
    #{$messagemarkup} {
      margin: 0;
    }
    #{$messagesystem} {
      padding: 1rem 1.5rem;
      #{$messagesystemicon} {
        @include size(1.6rem);
        position: relative;
        margin: 0;
        padding: 0;
        line-height: 1.6rem;
        background-color: color('tint-7');
        background-image: none !important;
        // Arrow for leaving a group
        &[style*='background-image: url("/assets/aff52bc375fe2da876174301a5c6d09d.svg");'] {
          @include mask(icon('arrow-right'), color('danger'));
          transform: rotate(180deg);
        }
        // Arrow for joining a group
        &[style*='background-image: url("/assets/b8029fe196b8f1382e90bbe81dab50dc.svg");'] {
          @include mask(icon('arrow-right'), color('success'));
        }
        // Pinned a message
        &[style*='background-image: url("/assets/5da4cdab01d4d89c593c48c62ae0d937.svg");'] {
          @include mask(icon('thumbtack'));
        }
        // Started a voice call
        &[style*='background-image: url("/assets/c30220457097b064286a8759a9b6c4af.svg");'] {
          @include mask(icon('phone'),  color('success'));
        }
        // Changed group icon
        &[style*='background-image: url("/assets/0c9615349350c4185381d58c69b88cbc.svg");'] {
          @include size(18px);
          @include mask(icon('edit'));
        }
      }
      #{$messagesystemiconcontainer} {
        position: relative;
        right: 0;
        width: auto;
        margin: 0;
        padding: 0;
      }
      #{$messagesystemcontent} {
        margin-left: 8px;    
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--chat-text-color);
      }
      // User's name link
      #{$anchor} {
        font-weight: 700;
        color: var('link-color') !important;
        // Any other links
        &:nth-of-type(2) {
          font-weight: 400;
          color: var('link-color') !important;
        }
      }
      #{$messagesystemtimestamp} {
        font-size: 1.1rem;
        color: color('tint-7') !important;
      }
    }
  }
}

//## Dividers

//## Has more button
#{$chat} {
  #{$chathasmore} {
    display: none;
    button {
      height: 30px;
      margin: 6px 13px 6px 15px;
      font-size: 10px;
      font-weight: 700;
      color: #fff !important;
      background: color('primary-2') !important;
      border: 1px solid color('primary-4', .5) !important;
      border-radius: 0 !important;
      &:hover {
        box-shadow: none !important;
      }
    }
  }
  // When new messages bar is follow by "new" messages divider
  + #{$chatdivider}#{$chatdividernew} {
    padding-top: 20px;
  }
}


#{$chat} {
  #{$chatnewmessagesbar} {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // Needs this z-index to be higher than reaction and option message buttons
    z-index: 901;
    box-sizing: content-box;
    height: var(--chat-new-messages-bar-height);
    margin: 0;
    padding: 1rem var(--chat-gutter-size);
    background: none;
    border-radius: 0;
    opacity: 1;
    transition: none;
    .barButtonMain-1giYuj {
      @include component('button', 'primary', 'base');
      display: flex !important;
      justify-content: center;
      width: 100%;
      box-shadow: var(--elevation-1) !important;
      &::before {
        @include mask(icon('warning'), color('white'), 1.6rem);
        @include size(2.8rem);
        content: '';
        margin: 0 0.3rem 0 0;
      }
    }
    .barButtonAlt-3gIkIj {
      position: absolute;
      right: 0;
      height: 1.4rem;
      margin: 0 30px;
      padding: 7px 10px;
      font-size: 9px;
      font-weight: 700;
      line-height: 0;
      color: color('primary-8');
      text-transform: uppercase;
      background-color: color('white');
      border-radius: var(--button-border-radius);
      transition: none;
      .barButtonIcon-3FGqPD {
        display: none;
      }
    }
  }
}

//## Rich presence invites (Games, Spotify)
#{$chat} {
  #{$messagerichpresenceinvite} {
    @include size(40rem, 14.5rem);
    padding: 1.5rem;
    background: color('tint-1');
    border: none;
    border-radius: var(--component-border-radius);
    box-shadow: var(--elevation-1);
    // Music ended image
    .artworkSpotifySessionEnded-11d_If {
      @include mask(icon('headphones-off'), color('tint-7'), $important: true);
      background-image: none !important;
      border-radius: 0;
    }
    // Album artwork
    .artwork-1vrmJ_ {
      // Component height - (component padding * 2)
      @include size(calc(14.5rem - (1.5rem * 2)));
      border-radius: var(--component-border-radius);
    }
    // Song name and artist
    .details-3NqflA,
    .state-2dqgON {
      font-size: 14px;
    }
    // 'by' text, artist name container
    .state-2dqgON {
      color: color('tint-10');
    }
    // Header text
    .partyStatus-6AjDud {
      color: color('tint-10');
    }
    // Empty party member slots
    .partyMemberEmpty-2iyh5g {
      margin-left: 8px;
      background: color('primary-1');
      border: 1px solid color('primary-3');
      border-radius: var('avatar-border-radius');
    }
    // Filler text... 'Invite to Join Group', 'Invite to Listen Along on Spotify'
    .header-Hg_qNF {
      @include component('header', 'h7');
      font-weight: 400;
      text-transform: none;
    }
    // Game cover art image container
    .coverImageWrapper-22d5LB {
      border-radius: 0;
      opacity: 1;
    }
    // Game/music cover art image
    .coverImage-3cjWkd {
      opacity: 0.6;
    }
    // Game covert art image
    .coverImageNotActionable-1MP2Mx {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 90px;
      height: 80%;
      filter: none;
      background-size: contain !important;
      opacity: 1;
      -webkit-mask: none;
      mask: none;
    }
    // Music album blurred
    .coverImageActionable-1TMryE.blurred-UUeCTs {
      mask: linear-gradient(90deg, transparent, color('white', .2) 100%);
    }
    // Help ? icon
    .helpIcon-2EyVTp {
      display: none !important;
    }
    // Game name
    .name-GG2Mcs {
      display: none;
    }
  }
}

//** Jump to present "bar"
#{$chatjumptopresentbar} {
  @include component('button', 'secondary', 'base');
  @include size(auto, 3.5rem);
  position: absolute;
  top: 2rem;
  right: var(--chat-gutter-size);
  left: unset;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: translateTopToBottom 1s forwards;
  button {
    padding: 0;
    font-size: 1.2rem !important;
    color: var(--button-secondary-color) !important;
    transition: var(--button-transition);
    &:hover {
      color: var(--button-secondary-hover-color) !important;
    }
    &:first-child {
      &::after {
        content: '.';
        margin-right: .4rem;
      }
    }
    &:last-child {
      text-transform: lowercase;
      &::first-letter {
        text-transform: uppercase;
      }
      &::after {
        @include mask(icon('reply'), var(--button-hollow-color), $extras: no-repeat center left 1rem);
        @include size(2.4rem, 1.4rem);
        content: '';
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
}


// Countdown timer that appears when you join a server that requires you to
// be a member for so long before sending messages.
.countdown-1t3uBk .number-3ceIrJ {
  margin: 10px 0;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: color('contrasted') !important;
  background: none !important;
  border: none !important;
  border-radius: 0;
}
// The colons in the countdown timer
.countdown-1t3uBk {
  font-size: 2.4rem;
  font-weight: 700;
  color: color('contrasted') !important;
}