// main: _module.scss

//** NSFW channel view

#{$chat} {
  > #{$chatcontent} {
    .scrollerSettings-3ADeE- {
      background: color('primary-1');
    }
    #{$nsfwimage} {
      width: 391px;
      height: 306px;
      margin: 0 0 0 110px;
      background: url('https://i.imgur.com/FHboNgU.png') no-repeat center !important;
    }
    #{$nsfwtitle} {
      margin: 30px 0 10px;
      font-size: 22px;
      color: color('contrasted') !important;
    }
    #{$nsfwdescription} {
      font-size: 12px !important;
      line-height: 20px !important;
      color: color('tint-8') !important;
    }
    // Continue button
    // #{$button}#{$buttonlookfilled} {
    //   margin-left: 10px!important;
    // }
    #{$nsfwseparator} {
      position: relative;
      width: 50%;
      height: 1px;
      background: none;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, color('primary-10', 0) 0%, color('primary-10') 40%, color('primary-10') 60%, color('primary-10', 0) 100%);
        transform: translateX(-50%);
        animation: chatLoadingMessages 1s infinite;
      }
    }
  }
}
