// Search results outer container
.searchResultsWrap-2DKFzt {
  background: var(--chat-background) !important;
  border-left: 1px solid color('white', .05) !important;
  // Search results header
  .searchHeader-1l-wpR {
    height: 5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: color('tint-9');
    background: color('tint-2') !important;
    border-bottom: 1px solid color('white', .05);
    box-shadow: none !important;
  }
  // Total search results count
  .totalResults-gxvzgw {
    color: color('tint-9');
    opacity: 1;
  }
  // Scrollerwrap
  .scrollerWrap-2lJEkd {
    padding: 0 .2rem 0 0;
  }
  // Scroller
  .scroller-2FKFPG {
    // Combined with moving the scroller down below,
    // this is a cheeky way to make it look like the first
    // header is stretched fully across the div when there
    // would normally be a blank space from the scrollbar
    // track
    &::before {
      content: '' !important;
      position: absolute;
      top: 0;
      left: 0;
      display: block !important;
      width: 100%;
      height: 4rem;
      background: color('tint-1');
      border-bottom: 1px solid color('white', .05);
    }
    &::-webkit-scrollbar {
      &,
      &-thumb,
      &-track {
        margin-top: .1rem;
      }
    }
    &::-webkit-scrollbar {
      &,
      &-thumb,
      &-track {
        margin-top: calc(.1rem + 4rem);
        visibility: hidden;
      }
    }
    &:hover {
      &::-webkit-scrollbar {
        &,
        &-thumb,
        &-track {
          visibility: visible;
        }
      }
    }
  }
  // Results outer container
  .resultsWrapper-hoiXCY {
    padding: 0;
  }
  // Channel header
  .channelSeparator-1X1FuH {
    position: sticky;
    top: 0;
    z-index: 102;
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
    background: color('tint-1') !important;
    border-bottom: .1rem solid color('white', .05);
    &::before {
      display: none;
    }
    // Channel header text
    .channelName-1QajIf {
      @include component('link');
      padding: 1rem 0;
      background: none;
    }
  }
  // Search result outer container
  .searchResult-3pzFAB {
    margin: 0;
    padding: 0;
    &::before,
    &::after {
      display: none;
    }
    + .searchResult-3pzFAB, 
    + .channelSeparator-1X1FuH { 
      border-top: .1rem solid color('white', .05) !important;
    }
    .searchResultMessage-2VxO12 {
      padding: 0 1rem;
      .container-1YxwTf {
        margin: 0 0 0 -1rem;
        padding: 2rem;
      }
      &:not(.hit-NLlWXA) {
        display: none;
        opacity: .1;
      }
      &.hit-NLlWXA {
        background: color('primary-1') !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        &:hover {
          background: color('black', .05) !important;
        }
        &:active {
          background: color('primary-2', .1) !important;
        }
        .message-1PNnaP {
          margin: 0;
        }
      }
      &:hover {
        .actionButtons-14P9IC {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    &.expanded-v2Szsz {
      border: none;
      border-radius: 0 !important;
      // box-shadow: var(--elevation-33), var(--elevation-3)!important;
      // z-index: 101;
      // + .expanded-v2Szsz {
      //   box-shadow: var(--elevation-3)!important;
      // }
      > div {
        // First search result in the expanded block
        &:first-of-type {
          padding-top: 1rem;
        }
        // Last search result in the expanded block
        &:last-of-type {
          padding-bottom: 1rem;
        }
      }
      .searchResultMessage-2VxO12 {
        display: block !important;
        opacity: 1 !important;
        &.hit-NLlWXA {
          margin: 1rem calc(2rem - #{var('scrollbar-width')}) 2rem 2rem;
          padding: 1rem;
          background: color('primary-3') !important;
          border: none !important;
          border-radius: var('component-border-radius') !important;
          box-shadow: var('elevation-1') !important;
        }
      }
    }
  }
  .searchHeader-1l-wpR {
    // Spinner when switching between tabs
    .spinnerWrapper-1JEMTl {
      --spinner-size: 1.4rem;
      flex: 0 auto;
      .spinner-3_ktSp {
        position: relative;
        .spinningCircleInner-mbM5zM {
          @extend %spinner;
          transform: none;
        }
        // Spinner svg
        .circular-2NaZOq {
          display: none;
        }
      }
    }
    .tab-2Ixsn0 {
      position: relative;
      margin: 0;
      padding: 1.5rem 1rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: color('tint-7');
      border: none !important;
      opacity: 1;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 100%;
        height: .2rem;
        background: color('primary-7');
        transition: .2s left ease, .2s right ease;
      }
      // &:hover {
      //   ~ .tab-2Ixsn0 {
      //     &::after {
      //       left: 0;
      //       right: 100%;
      //     }
      //   }
      //   &::after {
      //     left: 0;
      //     right: 0;
      //     opacity: 0;
      //   }
      // }
      &.selected-16te-P {
        color: color('primary-10');
        border: none !important;
        &::after {
          right: 0;
          left: 0;
        }
        ~ .tab-2Ixsn0 {
          &::after {
            right: 100%;
            left: 0;
          }
        }
      }
      &:hover:not(.selected-16te-P) {
        color: color('primary-10');
        border-color: transparent;
      }
    }
  }
  .markup-2BOw-j {
    margin: 0 !important;
  }
  .wrapper-2F3Zv8,
  .image-33JSyf {
    @include size(4rem);
  }
  // Jump button container
  .actionButtons-14P9IC {
    box-shadow: none;
    opacity: 1 !important;
    transition: transform 0.15s ease-in;
    transform: translateX(200%);
    .jumpButton-Ia2hRJ {
      @include component('button', 'primary', 'base');
      @include size(2.2rem!important);
      text-indent: -99999px;
      background: icon('arrow-right') var(--button-primary-background-color) no-repeat center / 60% !important;
      &:active {
        transform: none;
      }
    }
  }
  .embed-IeVjo6 {
    width: 100%;
    .embedInner-1-fpTo {
      width: 100%;
    }
    .embedSuppressButton-1FonMn  {
      display: none;
    }
    .embedVideo-3nf0O9 {
      width: auto !important;
    }
    .embedImage-2W1cML {
      height: auto !important;
    }
    .imageWrapper-2p5ogY {
      img {
        height: 100% !important;
      }
    }
  }
  .embedSpotify-tvxDCr {
    width: 100% !important;
    iframe {
      width: 100% !important;
    }
  }
  .wrapper-2TxpI8 {
    &.wrapperAudio-1jDe0Q {
      .metadataName-14STf- {
        @include ellipsis(100%, block);
        margin-right: 1rem;
      }
    }
  }
  .highlight {
    padding: .1rem .3rem;
    color: color('white');
    background: color('tint-4');
  }
}