// main: _module.scss

//** Spoilers

// Spoiler outer container
.spoilerContainer-331r0R {
  box-shadow: var('embed-box-shadow') !important;
  &:hover {
    .spoilerWarning-2aAZq1 {
      background-color: color('primary-10') !important;
    }
  }
  // Spoiler "button"
  .spoilerWarning-2aAZq1 {
    @include mask(icon('eye-closed'), color('white'));
    width: 25%;
    height: 25%;
    text-indent: -99999px;
    border-radius: 0;
    opacity: 1;
  }
  // Hidden imag
  .spoilerAttachment-1LrKiO {
    &.hiddenSpoiler-3i0zpa {
      opacity: .3;
    }
  }
}


// Spoiler text
.spoilerText-3p6IlD {
  background: none !important;
  border-radius: var('embed-border-radius');
  transition: none;
  &:hover {
    background: none;
  }
  &:active {
    outline: none;
  }
  &.hidden-HHr2R9 {
    background: color('tint-3') image('diagonal-lines-white') repeat center / 50px !important;
    opacity: 0.5;
    background-blend-mode: overlay;
    &:hover {
      background: color('tint-3') image('diagonal-lines-white') repeat center / 50px !important;
      opacity: 0.7;
    }
  }
}