// main: _module.scss

//** Spoilers

// Spoiler outer container
.spoilerContainer-331r0R {
  padding: 10px;
  background: var('embed-background') !important;
  box-shadow: var('embed-box-shadow') !important;
  &:hover {
    .spoilerWarning-2aAZq1 {
      background-color: color('primary-10') !important;
    }
  }
  // Spoiler "button"
  .spoilerWarning-2aAZq1 {
    @include mask(icon('eye-closed'), color('white'));
    width: 25%;
    height: 25%;
    text-indent: -99999px;
    border-radius: 0;
    opacity: 1;
  }
  // Hidden imag
  .spoilerAttachment-1LrKiO {
    &.hiddenSpoiler-3i0zpa {
      opacity: .3;
    }
  }
}


// Spoiler text
.spoilerText-3p6IlD {
  background: none !important;
  border-radius: var('embed-border-radius');
  transition: none;
  &:hover {
    background: none;
  }
  &:active {
    outline: none;
  }
  &.hidden-HHr2R9 {
    &:hover {
      filter: brightness(1.2);
    }
    .hiddenSpoilers-1ksnR6 {
      pointer-events: none;
    }
    .inlineContent-3ZjPuv {
      pointer-events: all;
      filter: blur(4px);
      opacity: 1;
    }
  }
  // inline image
  .hiddenSpoilers-1ksnR6 {
    visibility: visible;
    filter: blur(10px);
  }
}