// main: _module.scss

//** Server sub top nav

// Channel header outer container
.container-1r6BKw {
  position: relative;
  left: 0;
  z-index: 8;
  flex: 0 0 auto;
  height: var(--sub-nav-height);
  margin: var(--layout-gutter-size, 0);
  padding: 0 10px;
  overflow: hidden;
  background: var(--sub-nav-color) !important;
  border-bottom: 1px solid var(--border-color);
  border-radius: var(--layout-roundness, 0);
  box-shadow: none !important;
  .children-19S4PO {
    display: none;
  }
  // Discord update button with tc class added for easier selecting
  .tc-discordUpdateButton {
    position: fixed;
    top: var(--titlebar-height);
    right: calc(var(--account-status-panel-width) + 3.2rem);
    display: none;
    height: var(--main-nav-height);
  }
  .toolbar-1t6TWx {
    flex: 0 0 auto;
    justify-content: flex-end;
    // Help button
    a[href='https://support.discordapp.com'] {
      display: none;
    }
    .search-36MZv- {
      margin: 0 0 0 4px;
      .search-2oPWTC {
        .searchBar-3dMhjb {
          @include mask(icon('search-thick'), color('tint-7'), 1.8rem);
          @include size(3rem);
          cursor: pointer;
          &:hover {
            background-color: color('contrasted');
          }
          & * {
            cursor: pointer;
            opacity: 0;
          }
          .searchPopout-1vUlP3 {
            .DraftEditor-root {
              height: auto !important;
              padding: 0;
              font-size: var('input-text-font-size') !important;
              font-weight: var('input-text-font-weight') !important;
              line-height: var('input-text-line-height') !important;
              color: var('input-text-color') !important;
            }
          }
        }
        &.open-6_Y_aH,
        &.focused-31_ccS {
          margin: 0 0 0 1rem;
          .searchBar-3dMhjb {
            @include component('input', 'text', 'base');
            @include size(240px, 30px);
            transition: none !important;
            -webkit-mask: none;
            mask: none;
            & * {
              cursor: auto;
              opacity: 1;
            }
          }
        }
        &.focused-31_ccS {
          .searchBar-3dMhjb {
            border: var(--input-primary-border-focus) !important;
            box-shadow: var(--input-primary-shadow-focus) !important;
          }
        }
      }
      + .iconWrapper-2OrFZ1 {
        display: none;
      }
    }
    .iconWrapper-2OrFZ1 {
      @include size(3rem);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px;
      border-radius: var(--button-border-radius);
      // This is needed because the HTML structure
      // is altered for unread pinned messages...
      // stupid foreignObjects
      svg {
        foreignObject {
          -webkit-mask: none;
          mask: none;
        }
        svg {
          // Pinned messages
          &[name='Nova_Pin'] {
            margin: .2rem;
            background-color: color('white');
          }
        }
      }
      .icon-22AiRD {
        @include size(2rem);
        background-color: color('tint-7');
        // Get rid of Discord's svg innards
        g,
        path {
          display: none;
        }
        // Update/updating
        &[name='Update'],
        &[name='UpdateAvailable'] {
          @include mask(icon('update'), rgb(0, 183, 105), 18px);
          &:hover {
            background-color: rgb(0, 183, 105);
          }
        }
        &[name='UpdateAvailable'] {
          animation: rotate360 1s infinite reverse;
        }
      }
      // Video call
      &.tc-startVideoCall {
        .icon-22AiRD {
          @include mask(icon('video-camera'), null, 3rem);
          @include size(3rem, null);
        }
      }
      // Voice call
      &.tc-startVoiceCall {
        .icon-22AiRD {
          @include mask(icon('phone'), null, 2rem);
        }
      }
      // Pinned messages
      &.tc-pinnedMessages {
        .icon-22AiRD {
          @include mask(icon('thumbtack'));
        }
      }
      // Channel unmuted
      &.tc-channelUnmuted {
        .icon-22AiRD {
          @include mask(icon('notification'), null, 22px);
        }
      }
      // Channel muted
      &.tc-channelMuted {
        .icon-22AiRD {
          @include mask(icon('notification-off'), null, 22px);
        }
      }
      // Mentions
      &.tc-mentions {
        .icon-22AiRD {
          display: none;
        }
      }
      // Add friends to group DM
      &.tc-addFriendsToDM {
        .icon-22AiRD {
          @include mask(icon('users'));
          @include size(2.6rem);
        }
      }
      // Members list toggle
      &.tc-membersListToggle {
        .icon-22AiRD {
          @include mask(icon('channels'), null, 20px);
        }
      }
      &:hover {
        .icon-22AiRD {
          background-color: color('contrasted') !important;
          // Channel unmuted
          &[name='Nova_Bell'] {
            @include mask(icon('notification-off'), null, 22px);
          }
          // Channel muted
          &[name='Nova_BellOff'] {
            @include mask(icon('notification'), null, 22px);
          }
        }
      }
      &.selected-1GqIat {
        @include component('button', 'primary');
        &:hover {
          .icon-22AiRD {
            background-color: color('contrasted') !important;
          }
        }
        .icon-22AiRD {
          background-color: color('contrasted') !important;
        }
      }
    }
  }
  // Pinned messages indicator
  .iconBadge-qZ4Ksk {
    @include size(10px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: unset;
    pointer-events: none;
    background-color: color('danger');
    border-radius: var('notification-badge-border-radius');
    box-shadow: none;
    animation: var(--disable-animations, newPinnedMessagePulse 1s infinite);
  }
}

#{classes('twitchcord.channelInfo')} {
  @include ellipsis;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-right: 10%;
  &-ava-container {
    @include size(calc(var(--sub-nav-guild-icon-size) + 4px));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    pointer-events: none;
    background: none;
    border: 2px solid transparent;
  }
  // Server avatar spoofing at the top of servers
  // https://i.imgur.com/pa8mee6.png
  &-ava {
    @include size(var(--sub-nav-guild-icon-size));
    margin: 0;
    pointer-events: none;
    cursor: default;
    background-color: transparent;
    background-size: var(--sub-nav-guild-icon-size) var(--sub-nav-guild-icon-size);
    &:not([style*='background']) {
      background: color('tint-3') var(--guild-icon) no-repeat center / 60%;
    }
  }
  &-name-and-topic-container {
    @include ellipsis;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  &-topic-contain {
    @include ellipsis;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: color('tint-10');
  }
  // Hide these when not on DMs
  &-topic-type,
  &-listening-song,
  &-listening-by,
  &-listening-artist,
  &-listening-on {
    display: none;
  }
  &-topic {
    @include ellipsis(100%, block);
    margin: 0;
    color: color('primary-10');
    vertical-align: middle;
    &:empty {
      display: none;
    }
  }
  &-header {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    height: 22px;
    line-height: 28px;
    color: color('contrasted');
  }
  &-name {
    font-size: 14px;
    font-weight: 700;
  }
  &-name-sub {
    margin-left: 7px;
    font-size: 14px;
    color: color('tint-11');
    &:empty {
      display: none;
    }
    &::before {
      content: '#';
    }
  }
}


  // Hide the default Discord channel name and topic
  .topic-2QX7LI, .noTopic-2b04lB,
  .titleText-3X-zRE .channelName-3stJzi {
    display: none;
  }