// main: _module.scss

//** Server ban settings

/* No Bans image */
.ui-standard-sidebar-view .image-1GzsFd[style*='background-image: url("/assets/789de85a973b1d974a21aa03c1e14323.svg")'] {
    width: 220px !important;
    height: 202px !important;
    background: image('bowser-pixelart.png') no-repeat center !important;
    background-size: 100% !important;
}
