// main: _module.scss

//** Server integrations settings

/* No Integrations image */
.ui-standard-sidebar-view .guild-settings-integrations .image-1GzsFd {
    background: image('kirby-pixelart.gif') no-repeat center!important;
    width: 128px!important;
    height: 128px!important;
    background-size: 100%!important;
}
