// main: _module.scss

//** Server invite settings

/* No Invites image */
.ui-standard-sidebar-view .image-1GzsFd[style*='background-image: url("/assets/712a0fd4d14a1caadd31cb0745e91238.svg")'] {
    background: image('charmander-pixelart.png') no-repeat center!important;
    width: 175px!important;
    height: 175px!important;
    background-size: 100%!important;
    margin-top: 40px;
}
