// main: _module.scss

//** Server roles settings

.guild-settings-roles .side-8zPYf6 .item-PXvHYJ {
    color: color('tint-8');
}

.guild-settings-roles .sidebarScrollable-1qPI87+.content-1orzGj>div::before {
    content: 'Server Roles';
    position: relative;
    top: -20px;
    padding-bottom: 5px;
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    color: #fff;
    color: color('tint-11') !important;
    text-transform: none !important;
}
