/*/ ==========================================================================
///  Game playing
///  ==========================================================================
///  Appears at the bottom of channels when you're currently playing a game
///  with the option to start streaming the game
/*/


.panel-24C3ux {
  position: relative;
  order: 2;
  padding: 1rem 1.5rem;
  background: color('primary-5');
  border: none;
  border-top: 1px solid var('border-color');
  .gameWrapper-1jIQAX {
    cursor: default;
  }
  .subtext-3CDbHg {
    line-height: 1.6rem;
    color: color('tint-9');
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 150%;
    height: 1px;
    background: linear-gradient(to right, color('primary-13', .4) 10%, color('white', .8) 80%, color('primary-13'));
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    filter: blur(15px);
    box-shadow: 0 0 10px 6px color('primary-7', .4), -20px 0 15px 4px color('primary-7', .3), -40px 0 15px 2px color('primary-7', .2), -60px 0 10px 1px color('primary-7', .1), -80px 0 10px 1px color('primary-7', .05);
  }
  &:hover {
    &::after {
      // box-shadow: 0 0 10px 6px color('primary-7', .4), 0 0 30px 5px color('primary-7', .4), -20px 0 15px 4px color('primary-7', .3), -40px 0 15px 2px color('primary-7', .2), -60px 0 10px 1px color('primary-7', .1), -80px 0 10px 1px color('primary-7', .05);
    }
  }
}