///  ==========================================================================
///  Spotify listening along section
///  ==========================================================================
///  Appears at the bottom of the channels list when someone is listening along
///  to you on Spotify.


// Main container
#{classes('layout.channels.listeningAlong.listeningAlong')} {
  background: color('primary-3');
  border-top: 1px solid color('primary-4');
  #{classes('layout.channels.listeningAlong.subtitle')} {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: color('tint-7');
  }
  // Info icon container
  #{classes('layout.channels.listeningAlong.icons')} {
    margin: 0;
    #{classes('layout.channels.listeningAlong.actionIcon')} {
      padding: 0;
      border-radius: 0;
    }
  }
}