///  main: _module.scss
///  ==========================================================================
///  Spotify listening along section
///  ==========================================================================
///  Appears at the bottom of the channels list when someone is listening along
///  to you on Spotify.


// Main container
#{classes('layout.channels.listeningAlong.listeningAlong')} {
    background: RGB(var(--tc-color-3));
    border-top: 1px solid RGB(var(--tc-color-4));
    #{classes('layout.channels.listeningAlong.subtitle')} {
        @include text(RGB(var(--tc-tint-7)), 12px, 400, 20px);
    }
    // Info icon container
    #{classes('layout.channels.listeningAlong.icons')} {
        margin: 0;
        #{classes('layout.channels.listeningAlong.actionIcon')} {
            border-radius: 0;
            padding: 0;
        }
    }
}