///  main: _module.scss
///  ==========================================================================
///  Voice connected
///  ==========================================================================
///  Appears at the bottom of channels list when connected to voice


// Main container
#{classes('layout.channels.voiceConnected.container')} {
  position: relative;
  padding: 5px 15px;
  background: color('primary-3');
  border-top: 1px solid var('border-color');
  #{classes('layout.channels.voiceConnected.voiceConnectedButton')} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    > div {
      display: none;
    }
  }
  #{classes('layout.channels.voiceConnected.rtcConnectionStatus')} {
    overflow: visible;
    + a {
      z-index: 1;
      overflow: hidden;
    }
    // Ping bar
    #{classes('layout.channels.voiceConnected.ping')} {
      margin-right: 10px;
    }
    // Good connection quality
    &#{classes('layout.channels.voiceConnected.rtcConnectionQualityFine')} {
      #{classes('layout.channels.voiceConnected.ping')} {
        color: color('green');
      }
    }
    // Okay connection quality
    &#{classes('layout.channels.voiceConnected.rtcConnectionQualityAverage')} {
      #{classes('layout.channels.voiceConnected.ping')} {
        color: color('gold');
      }
    }
    // Bad connection quality
    &#{classes('layout.channels.voiceConnected.rtcConnectionQualityBad')} {
      #{classes('layout.channels.voiceConnected.ping')} {
        color: color('red');
      }
    }
  }
  // Connected channel name
  #{classes('layout.channels.voiceConnected.channel')} {

  }
  // Voice connected inner container
  #{classes('layout.channels.voiceConnected.inner')} {
    > div {
      display: flex;
      align-items: center;
    }
  }
}
