// main: _module.scss

//** Detected platform account modal
// https://i.imgur.com/mamzjHZ.png (not edited yet)

.detected-platform-accounts-modal {
  padding: 20px;
  background-color: color('primary-3');
  border: 1px solid color('primary-4');
  .btn-group {
    justify-content: center;
    .btn-default {
      @include component('button', 'hollow', 'base');
    }
    .btn-primary {
      @include component('button', 'primary', 'base');
      margin: 0 !important;
    }
  }
  .icons {
    background: none !important;
    .icon {
      margin: 0;
    }
  }
  .body {
    font-size: 14px;
    color: color('tint-8');
    strong {
      color: color('contrasted');
    }
  }
  .detected-accounts {
    .detected-account {
      .detected-account-details {
        h3 {
          color: color('contrasted');
        }
        h4 {
          font-size: 12px;
          color: color('tint-7');
        }
      }
    }
  }
  .divider {
    display: none;
  }
  .privacy {
    p {
      font-size: 14px;
      line-height: 20px;
      color: color('tint-8');
    }
    a {
      color: color('tint-10');
    }
  }
}
