///  main: _module.scss
///  ==========================================================================
///  Image modals--- covers images and GIFV video "images"
///  ==========================================================================

// NOTE:
// ****************************************************************************
// The following structure seen modal > inner > div > imageWrapper is necessary
// in order to specifically target image/video modals. Without such, one such
// conflict is the Changelog modal.
// ****************************************************************************

// Modal outer container
#{$modal} {
  // Modal inner container
  > #{$modalinner} {
    > div {
      // Image wrapper
      > #{$imagewrapper} {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100vw - 160px) !important;
        height: calc(100vh - 160px) !important;
        padding: 110px 40px 40px;
        overflow: hidden;
        background: var(--modal-background) !important;
        border-color: var(--modal-border-color) !important;
        border-style: var(--modal-border-style) !important;
        border-width: var(--modal-border-width) !important;
        border-radius: var(--modal-border-radius) !important;
        border-radius: 0;
        box-shadow: var(--modal-box-shadow) !important;
        // Hide the "Open original" link to insert one with JS
        ~ .downloadLink-1ywL9o {
          display: none;
        }
        // Direct img or video element
        > img,
        > video {
          @include size(auto!important);
          position: relative;
          max-width: 100% !important;
          max-height: 100% !important;
          border-radius: var(--image-border-radius);
        }
        // Placeholder image
        #{$imageplaceholder} {
          z-index: 9;
          max-width: 100% !important;
          height: auto !important;
          max-height: 100% !important;
          margin: auto;
          padding-top: 60px;
          border-radius: var(--image-border-radius);
          opacity: 0.2;
        }
      }
    }
  }
}


#{classes('twitchcord.imageTopbar')} {
  $grandparent: &;
  &-container {
    @include size(calc(100% - var(--modal-border-width) * 2), 7rem);
    position: absolute;
    top: var(--modal-border-width);
    left: var(--modal-border-width);
    display: flex;
    align-items: center;
    padding: var(--modal-padding);
    background: var(--modal-footer-background);
    border-bottom: 1px solid color('white', .05);
    border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
  }
  &-avatar {
    flex: 0 0 auto;
    #{$avatarwrapper} {
      @include size(48px);
      margin: 0;
      cursor: default;
      opacity: 1 !important;
      #{$avatarimage} {
        @include size(48px);
      }
    }
  }
  &-text {
    flex: 1 1 auto;
    margin-left: 14px;
    #{$grandparent}-imgname {
      @include ellipsis;
      float: left;
      max-width: 300px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: color('tint-10');
      user-select: initial;
    }
    #{$grandparent}-userdetails {
      display: flex;
      align-items: center;
      #{$messageusername} {
        order: 0;
        overflow: hidden;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        cursor: text;
        &:hover {
          text-decoration: none;
        }
      }
      time {
        margin-left: 7px;
        font-size: 12px;
        line-height: 20px;
        color: color('tint-8');
      }
    }
  }
  &-buttons {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    #copyImage, #copyImageAddress, #downloadA, #openOriginal, #{$grandparent}-close {
      display: flex;
      align-items: center;
      margin-left: 10px;
      text-decoration: none;
      background-color: color('tint-10') !important;
      opacity: 1;
      &:hover {
        background-color: #fff !important;
      }
    }
    #copyImage {
      @include size(24px);
      @include mask(icon('camera'));
    }
    #copyImageAddress {
      @include size(22px);
      @include mask(icon('link'));
    }
    #openOriginal {
      @include size(20px);
      @include mask(icon('open-new-window'));
      text-indent: -9999999px;
    }
    #downloadA {
      @include size(20px);
      @include mask(icon('download'));
    }
    #{$grandparent}-close {
      @include size(26px);
      @include mask(icon('close'));
      margin: 0;
    }
    #copyImage, #copyImageAddress, #openOriginal {
      margin-left: 20px;
    }
  }
  &-separator {
    @include size(1px, 40px);
    margin: 0 20px;
    background: color('white', .05);
  }
}