// main: _module.scss

//** Instant invite modal

.wrapper-O5i5-0 {
  width: 600px;
  height: 510px;
  .modal-3HD5ck {
    width: 600px;
    height: 500px;
    max-height: none;
    padding: 0 !important;
  }
  .header-2Pz98J {
    display: flex;
    padding: 20px;
  }
  .h2-2gWE-o {
    font-size: 16px !important;
  }
  .header-1R_AjF {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid color('primary-2');
  }
  .search-bar {
    order: 1;
    width: 100%;
    height: 34px;
    margin: 0 auto;
  }
  // Border
  .content-3CCvMx:before {
    display: none;
  }
  .footer-2yfCgX {
    margin: 0 !important;
  }
  #{$scroller} {
    box-sizing: border-box;
    min-height: 50%;
    max-height: 100%;
    padding: 0 20px;
    > .flexChild-faoVW3 {
      > .title-2BxgL2 {
        font-size: 14px;
        text-transform: none;
        &::after {
          @extend %spinner;
          content: '';
          margin-top: -10px;
        }
      }
    }
  }
  #{$button}.lookOutlined-3sRXeN {

  }
  .inviteRowName-1tVaxu {
    font-size: 14px;
    line-height: 20px;
  }
  .inviteRow-2L02ae {
    margin: 0;
    padding: 0;
    border-radius: 0;
    &:hover {
      background: none !important;
    }
  }
  #{$scrollerwrap} {
    display: flex;
    justify-content: center;
  }
  .input-cIJ7To {
    padding: 0;
    border: none !important;
  }
}
