$module: (
  'modal': (
    'keyboard-shortcuts': (
      background: var('modal-footer-background'),
      border-color: var('modal-border-color'),
      border-style: var('modal-border-style'),
      border-width: var('modal-border-width'),
      border-radius: var('modal-border-radius'),
      box-shadow: var('modal-box-shadow')
    )
  )
);

// Generating CSS variables from map . . .
:root { @include generate-css-vars($module); }


.keyboardShortcutsModal-3piNz7 {
  @include get-props($module, 'modal', 'keyboard-shortcuts');
  .scroller-2FKFPG {
    overflow: scroll;
    background: var('modal-background');
  }
  .modalSubtitle-1Pj5nv {
    @include component('header', 'h7');
    border: none !important;
    border-bottom: 1px solid var('modal-footer-border-color') !important;
  }
  .keybindShortcut-1BD6Z1 {
    color: color('primary-8');
    span {
      height: 23px;
      padding: 0 6px;
      font-size: 11px;
      line-height: 23px;
      color: color('contrasted');
      background-color: color('primary-8') !important;
      border: none;
      border-radius: var('component-border-radius');
      box-shadow: var('elevation-1') !important;
    }
  }
  .keyboardShortcutList-13cQ-8 {
    flex-direction: row;
    height: 590px;
    padding: 20px;
  }
  .keybindDescription-2RDbC2 {
    @include component('header', 'h6');
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize !important;
    white-space: nowrap;
  }
  .keybindGroup--6Qp-w {
    @include component('component', 'secondary');
    position: relative;
    width: calc(33.3333% - 20px);
    height: 120px;
    margin: 10px;
    padding: 15px;
    &.groupEnd-1cdweh {
      margin: 10px;
    }
  }
  .ddrArrows-lSnH7P {
    .arrow-2enltQ {
      @include mask(icon('arrow-right'), color('tint-5'));
      margin: 0 10px;
      background-image: none !important;
      &.active-2X6Ewx {
        background-color: color('contrasted') !important;
      }
      &.left-21PxOi {
        transform: rotate(180deg);
      }
      &.right-1AEPK3 {

      }
      &.up-fkTose {
        transform: rotate(-90deg);
      }
      &.down-2Ju7Q_ {
        transform: rotate(90deg);
      }
    }
  }
}
