// main: _module.scss

//** New Terms of Service modal

.ui-new-terms-modal {
    background: color('primary-3');
    border: 1px solid color('primary-4');
    border-radius: 0;
    box-shadow: none;
}

.ui-new-terms-modal .title {
    margin-bottom: 10px;
}

.ui-new-terms-modal .button-container {
    background-color: color('primary-2');
}

.ui-new-terms-modal .ack {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.ui-new-terms-modal .checkbox-1ix_J3 {
    margin-right: 10px;
    background: color('primary-2');
    border: 1px solid color('primary-4') !important;
    border-radius: 0;
    box-shadow: none !important;
}

.ui-new-terms-modal .checked-3_4uQ9 {
    background: color('primary-7') !important;
}

.ui-new-terms-modal div:nth-last-child(2),
.ui-new-terms-modal div:nth-last-child(4) {
    margin-top: 0;
    margin-bottom: 0;
}