///  ==========================================================================
///  Region Select modal
///  **************************************************************************


$module: (
  'modal': (
    'region-select': (
      width: 70rem,
      background: var('modal-background'),
      border-color: var('modal-border-color'),
      border-style: var('modal-border-style'),
      border-width: var('modal-border-width'),
      border-radius: var('modal-border-radius'),
      box-shadow: var('modal-box-shadow')
    )
  )
);

// Generating CSS variables from map . . .
:root { @include generate-css-vars($module); }



// Region Select modal container
.regionSelectModal-12e-57 {
  @include size(var(--modal-region-select-width), auto);
  padding: 0;
  background: var(--modal-region-select-background);
  border: var(--modal-region-select-border-width) var(--modal-region-select-border-style)  var(--modal-region-select-border-color);
  border-radius: var(--modal-region-select-border-radius);
  box-shadow: var(--modal-region-select-box-shadow);
  .regionSelectModalOptions-2TWQOB {
    padding: 0 2.5rem;
  }
  // 'Select A Server Region' header
  .regionSelectModalHeader-21khC1 {
    @include component('header', 'h3');
    margin: 0;
    padding: 2.5rem;
    text-transform: capitalize;
  }
  // Country option flag
  .regionSelectFlag-3uwFtG {
    @include size(4.4rem, 3rem);
    margin: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 4.4rem 3rem;
    border-radius: var('component-border-radius');
  }
  // Country option container
  .regionSelectModalOption-2DSIZ3 {
    // 25% - 2 times the margin
    flex: 0 1 calc(25% - 1.4rem);
    margin: 0.7rem;
    background: color('tint-2');
    border: none;
    border-radius: var('component-border-radius');
    box-shadow: none;
    &:hover {
      background: color('tint-3');
    }
  }
  // Country name
  .regionSelectName-2-2FWh {
    @include component('header', 'h7');
  }
  // Region select footer text
  .regionSelectModalFooter-20C5iA {
    @include component('header', 'h7');
    margin: 2.5rem 0 0 0;
    padding: 1rem;
    background: var(--modal-footer-background);
    border-color: var(--modal-footer-border-color);
    border-style: var(--modal-footer-border-style);
    border-width: var(--modal-footer-border-width);
    border-radius: var(--modal-footer-border-radius);
    box-shadow: none !important;
  }
}
