// main: _module.scss

//** Upload modal

//## Upload drag and drop
.uploadDropModal-2kTwbc {
  border-radius: 0;
  background: RGB(var(--tc-color-3));
  .bgScale-1otPtc {
    background: none!important;
    border: none!important;
    border-radius: 0;
  }
  .inner-3nWsbo {
    border: 3px dashed RGB(var(--tc-color-4))!important;
    background: none!important;
    border-radius: 0;
    .icons-1w691d {
      position: absolute!important;
      top: -40px;
    }
    .icon-kyxXVr {
      &.two-3BBQI9 {
        @include size(110px);
        background: none!important;
        @include mask(var(--paperclip-icon), RGB(var(--tc-tint-10))!important);
      }
      &.one-2crnLX,
      &.three-27ScFD {
        display: none;
      }
    }
    .instructions-2Du9gG {
      text-align: center;
      font-size: 12px;
      line-height: 16px;
      margin-top: 4px;
      color: RGB(var(--tc-tint-8))!important;
    }
    .title-2Vtl4y {
      color: RGB(var(--tc-tint-11))!important;
      font-weight: 400!important;
      text-transform: none!important;
      font-size: 24px!important;
      line-height: 30px!important;
      padding-bottom: 5px;
    }
  }
  //## Upload files too powerful
  &.error-kKl9o2 {
    border-radius: 0;
    background: RGB(var(--tc-color-3));
    border: 1px solid RGB(var(--tc-color-4));
    max-width: 600px;
    width: 600px;
    padding: 30px;
    a {
      @extend %button-primary;
      padding: 10px;
    }
    .inner-3nWsbo {
      border-radius: 0;
      .title-2Vtl4y {
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        margin: 20px 0;
        color: RGB(var(--tc-tint-11));
        text-transform: none;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}

//## Normal upload modal
.uploadModal-2ifh8j {
  background: RGB(var(--tc-color-3));
  border-radius: 2px;
  border: 1px solid RGB(var(--tc-color-4));
  min-height: 200px;
  .channelTextArea-1LDbYG .autocomplete-1vr {
    max-width: calc(100% - 4px);
    margin: 6px 0;
  }
  .inner-3nWsbo {
    border: none;
    margin: 0;
    border-radius: 0;
    display: flex;
    .file-34mY5K {
      height: auto;
      position: static;
      .icon-kyxXVr {
        position: relative;
        margin: 70px 0 0 20px!important;
        height: 110px!important;
        width: 110px!important;
        &.video-27RLEH,
        &.acrobat-3K1PC6,
        &.ae-1Y5Jq3,
        &.sketch-ZMuo7D,
        &.ai-11KAaB,
        &.archive-2hqXug,
        &.code-aoB-kL,
        &.document-2cvI0u,
        &.photoshop-1UWfyZ,
        &.ps-2T6Jrl,
        &.spreadsheet-1QuSej,
        &.webcode-22GGLX,
        &.audio-14DQXq,
        &.unknown-3TPTMr {
          background-image: image('file2.png')!important;
        }
        &.image-2yrs5j {
          border: 3px solid RGB(var(--tc-color-1));
          box-shadow: none;
          border-radius: 0;
          background-color: RGB(var(--tc-color-1));
        }
      }
      .description-2ug5H_ {
        line-height: 50px;
        height: 50px;
        padding: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        padding-left: 20px;
        .filename-ovv3c5 {
          height: auto;
          display: block;
          max-width: 100%;
          font-weight: 400;
          font-size: 16px;
        }
      }
      .filesize-s2nTZM {
        color: RGB(var(--tc-tint-7));
        font-size: 10px;
        margin: 0 0 0 8px;
        opacity: .6;
      }
    }
    .optional--ezibr {
      font-size: 11px;
      opacity: 1!important;
      color: RGB(var(--tc-tint-7));
      text-transform: lowercase;
    }
    // Textarea container
    .comment-4IWttf {
      margin: 70px 20px 40px;
      flex: 1 0 auto;
    }
  }
  // Footer buttons
  .footer-3mqk7D {
    margin: -20px 20px 20px;
    padding: 0;
    border-radius: 0;
    background: none;
    .button {
      @include button('blank');
      text-decoration: none;
      opacity: 1;
      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
    .button + .button {
      margin-left: 10px;
    }
    .button.button-primary {
      @extend %button-primary;
      &:hover {
        opacity: 1;
      }
      &:hover:active,
      &:active {
        opacity: 1;
      }
    }
  }
}
