// main: _module.scss

//** Channel message textarea input

.buttons-205you {
  height: var(--textarea-height);
}

.channelTextArea-1LDbYG .inner-zqa7da .emojiButton-2wRZts {
    @include size(20px);
    opacity: 1!important;
    top: 6px;
    background: none!important;
    border: none!important;
    display: flex;
    min-width: 0;
    min-height: 0;
    padding: 0;
    transition: none;
    &:hover:active,
    &:active {
      box-shadow: none!important;
      border: none!important;
    }
    .sprite-2iCowe {
        @include size(20px);
        background: none;
        background-color: RGB(var(--tc-color-10));
        -webkit-mask: var(--emoji-icon);
        mask: var(--emoji-icon);
        transform: none;
        filter: none;
        opacity: 1;
        transition: none;
        &:hover {
          background-color: RGB(var(--tc-color-11));
          transform: none;
          opacity: 1;
        }
    }
}

.channelTextArea-1LDbYG {
  .autocomplete-1vrmpx {
    border-radius: 0;
    max-width: 100%;
    z-index: 10;
    border: 1px solid RGB(var(--tc-tint-4));
    overflow-x: hidden;
    overflow-y: auto;
    background: RGB(var(--tc-color-2));
    display: flex;
    flex-direction: column;
    margin: 6px -1px;
    padding: 0px 0px 8px;
  }
  .autocompleteInner-zh20B_ {
    padding-bottom: 0;
    &>div:first-of-type {
      padding: 0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
      background: RGB(var(--tc-color-1));
      border-bottom: 1px solid RGB(var(--tc-tint-4));
      color: RGB(var(--tc-tint-7));
      margin-bottom: 8px;
    }
  }
  .horizontal-1ae9ci {
    &>.flex-1xMQg5:first-child {
      margin-left: 0;
      font-size: 12px;
      font-weight: 700;
    }
  }
  .contentTitle-2tG_sM {
    color: RGB(var(--tc-tint-7))!important;
  }
  .divider-23swzi {
    background-color: RGB(var(--tc-tint-4))!important;
    margin: 5px -10px;
    width: calc(100% + 20px);
  }
  .selector-2IcQBU {
    border-radius: 0;
    padding: 6px 10px 3px;
  }
  .description-11DmNu {
    font-size: 12px;
    color: RGB(var(--tc-tint-7))!important;
    display: inline-block;
  }
  .iconForeground-1w5n7R {
    fill: RGB(var(--tc-tint-7));
  }
  .descriptionUsername-J_75O8 {
    font-size: 12px;
    color: RGB(var(--tc-tint-7))!important;
    display: inline-block;
    &::before {
      @include size(15px);
      content: '';
      @include mask(var(--user-icon), RGB(var(--tc-tint-7)));
      display: block;
      float: left;
      position: relative;
      margin-right: 5px;
      opacity: 0.7;
    }
  }
  .autocompleteRowVertical-q1K4ky {
    padding: 0;
  }
  .xsmall-3afG_L {
    @include size(24px);
  }
  .status-oxiHuE {
    @include size(10px);
    border: 2px solid RGB(var(--tc-color-1))!important;
    box-sizing: border-box;
  }
  .content-Qb0rXO {
    color: RGB(var(--tc-tint-10))!important;
  }
  .descriptionDiscriminator-3vUOCc {
    display: inline-block;
    color: RGB(var(--tc-tint-8));
    opacity: 0.5;
    margin-left: 4px;
  }
  .selectorSelected-1_M1WV {
    background: RGB(var(--tc-color-3))!important;
    .marginLeft8-1YseBe,
    .description-11DmNu,
    .descriptionUsername-J_75O8 {
      color: RGB(var(--contrasted-color))!important;
    }
    .descriptionUsername-J_75O8 {
      &::before {
        background-color: RGB(var(--contrasted-color));
        opacity: 1;
      }
    }
  }
}
