// main: _module.scss

//** Channel message textarea input

.buttons-205you {
  @include absolute(right 11px);
  @include flex-center;
  height: var(--textarea-height);
  padding: 0;
}

.channelTextArea-1LDbYG .inner-zqa7da {
  // GIF button container
  .buttonContainer-21MN7J {
    @include relative(right 3px);
    @include size(auto, 26px);
    .button-38aScr {
      &.lookBlank-3eh9lL {
        @include size(auto, auto);
        border: none!important;
        padding: 0;
        .contents-18-Yxp {
          opacity: 1;
          padding: 0;
        }
        .gifPickerIcon-132le6 {
          @include mask(var(--tenor-gif-icon), RGB(var(--tc-color-10)), 26px 20px);
          @include size(auto, 26px);
          transition: none!important;
          transform: none!important;
          path {
            display: none;
          }
        }
        &:hover,
        &:active,
        &:active:hover {
          background: none!important;
          border: none!important;
          box-shadow: none!important;
          .gifPickerIcon-132le6 {
            background-color: RGB(var(--tc-color-12));
          }
        }
      }
    }
  }
  .emojiButton-3uL3Aw {
    @include size(20px);
    opacity: 1!important;
    background: none!important;
    border: none!important;
    display: flex;
    min-width: 0;
    min-height: 0;
    padding: 0;
    transition: none;
    #{classes('components.buttons.contents')} {
      padding: 0;
    }
    &:hover:active,
    &:active {
      box-shadow: none!important;
      border: none!important;
    }
    .sprite-2iCowe {
        @include size(20px);
        background: none;
        background-color: RGB(var(--tc-color-10));
        -webkit-mask: var(--emoji-icon);
        mask: var(--emoji-icon);
        transform: none;
        filter: none;
        opacity: 1;
        transition: none;
        &:hover {
          background-color: RGB(var(--tc-color-12));
          transform: none;
          opacity: 1;
        }
    }
  }
}