///  main: _module.scss
///  ==========================================================================
///  Base styles section
///  ==========================================================================

// Border-box everywhere!
* {
  box-sizing: border-box;
  font-size: 100%;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// Really trying to target everything here
*,
html,
body,
button,
input,
select,
textarea,
::-webkit-input-placeholder {
  font-family: var(--font)!important;
}

html,
body {
  background-color: RGB(var(--tc-color-4));
  height: 100%;
  text-rendering: optimizeLegibility;
}

// Links
a {
  color: RGB(var(--tc-color-10));
}

.disabled,
button:disabled,
button:disabled:hover,
input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
  cursor: not-allowed!important;
  pointer-events: all!important;
}

strong, .strong {
  font-weight: 700;
}

// Remove app shake effect from Ctrl+Alt+Shift up/down keybind
#{classes('base.app')} {
  transform: none!important;
}
