///  main: ../main.scss
///  ==========================================================================
///  Selector functions
///  ==========================================================================
///  Used in combination with 'utilities/_selectors.scss'
///  See 'utilities/_functions.scss' for example use-case


///  HTML
///  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function HTMLView($class) {
  $path: 'HTML.Views';
  @return Class('#{$path}.#{$class}');
}

@function Option($class) {
  $path: 'HTML.Options';
  @return Class('#{$path}.#{$class}');
}

//----// Filters
      @function FriendsFilter($class) {
        $path: 'HTML.Filters.FriendsFilter';
        @return Class('#{$path}.#{$class}');
      }
      @function LibraryFilter($class) {
        $path: 'HTML.Filters.LibraryFilter';
        @return Class('#{$path}.#{$class}');
      }
      @function StoreFilter($class) {
        $path: 'HTML.Filters.StoreFilter';
        @return Class('#{$path}.#{$class}');
      }


///  Twitchcord
///  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function Twitchcord($class) {
  $path: 'Twitchcord';
  @return Class('#{$path}.#{$class}');
}


///  General
///  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function Avatar($class) {
  $path: 'General.Avatar';
  @return Class('#{$path}.#{$class}');
}

@function Flex($class) {
  $path: 'General.Flex';
  @return Class('#{$path}.#{$class}');
}


///  Components
///  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function Attachment($class) {
  $path: 'Components.Attachments';
  @return Class('#{$path}.#{$class}');
}

@function Button($class) {
  $path: 'Components.Buttons';
  @return Class('#{$path}.#{$class}');
}

@function Calendar($class) {
  $path: 'Components.Calendars';
  @return Class('#{$path}.#{$class}');
}

@function Codeblock($class) {
  $path: 'Components.Codeblocks';
  @return Class('#{$path}.#{$class}');
}

@function ColorPicker($class) {
  $path: 'Components.ColorPickers';
  @return Class('#{$path}.#{$class}');
}

@function ContextMenu($class) {
  $path: 'Components.ContextMenus';
  @return Class('#{$path}.#{$class}');
}

@function Embed($class) {
  $path: 'Components.Embeds';
  @return Class('#{$path}.#{$class}');
}

@function Input($class) {
  $path: 'Components.Inputs';
  @return Class('#{$path}.#{$class}');
}

@function Notice($class) {
  $path: 'Components.Notices';
  @return Class('#{$path}.#{$class}');
}

@function NotificationBadge($class) {
  $path: 'Components.NotificationBadges';
  @return Class('#{$path}.#{$class}');
}

@function Role($class) {
  $path: 'Components.Roles';
  @return Class('#{$path}.#{$class}');
}

@function Spinner($class) {
  $path: 'Components.Spinners';
  @return Class('#{$path}.#{$class}');
}

@function Tooltip($class) {
  $path: 'Components.Tooltips';
  @return Class('#{$path}.#{$class}');
}

@function UserLabel($class) {
  $path: 'Components.UserLabels';
  @return Class('#{$path}.#{$class}');
}

//----// Popouts
@function Popout($class) {
  $path: 'Components.Popout';
  @return Class('#{$path}.#{$class}');
}


///  Layout
///  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function ChannelMembers($class) {
  $path: 'Layout.ChannelMembers';
  @return Class('#{$path}.#{$class}');
}

@function Channels($class) {
  $path: 'Layout.Channels';
  @return Class('#{$path}.#{$class}');
}
  //----// AccountPanel
        @function AccountPanel($class) {
          $path: 'Layout.Channels.AccountPanel';
          @return Class('#{$path}.#{$class}');
        }
  //----// ListeningAlong
        @function ListeningAlong($class) {
          $path: 'Layout.Channels.ListeningAlong';
          @return Class('#{$path}.#{$class}');
        }
  //----// Notices
        @function Notices($class) {
          $path: 'Layout.Channels.Notices';
          @return Class('#{$path}.#{$class}');
        }
  //----// VoiceConnected
        @function VoiceConnected($class) {
          $path: 'Layout.Channels.VoiceConnected';
          @return Class('#{$path}.#{$class}');
        }

@function Guilds($class) {
  $path: 'Layout.Guilds';
  @return Class('#{$path}.#{$class}');
}

@function Nav($class) {
  $path: 'Layout.Nav';
  @return Class('#{$path}.#{$class}');
}

@function Titlebar($class) {
  $path: 'Layout.Nav';
  @return Class('#{$path}.#{$class}');
}

///  Views
///  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function Activity($class) {
  $path: 'Routes.Activity';
  @return Class('#{$path}.#{$class}');
}
@function ChannelSettings($class) {
  $path: 'Routes.ChannelSettings';
  @return Class('#{$path}.#{$class}');
}
@function Chat($class) {
  $path: 'Routes.Chat';
  @return Class('#{$path}.#{$class}');
}
@function DirectMessages($class) {
  $path: 'Routes.DirectMessages';
  @return Class('#{$path}.#{$class}');
}
@function Friends($class) {
  $path: 'Routes.Friends';
  @return Class('#{$path}.#{$class}');
}
@function LFG($class) {
  $path: 'Routes.LFG';
  @return Class('#{$path}.#{$class}');
}
@function Library($class) {
  $path: 'Routes.Library';
  @return Class('#{$path}.#{$class}');
}
@function ServerSettings($class) {
  $path: 'Routes.ServerSettings';
  @return Class('#{$path}.#{$class}');
}
@function Store($class) {
  $path: 'Routes.Store';
  @return Class('#{$path}.#{$class}');
}
@function UserSettings($class) {
  $path: 'Routes.UserSettings';
  @return Class('#{$path}.#{$class}');
}
