/* server dropdown hamburger icon */

.channels-Ie2l6A .container-2Rl01u .button-2ZR58H {
    position: fixed;
    right: -19px;
    height: 35px;
    left: 366px;
    top: 83px;
    overflow: visible;
    width: 35px;
    transform: none;
    opacity: 1;
    transform: scale(0.75);
  }

.button-2ZR58H path {
  stroke: var(--dark-text-tint);
  stroke-linecap: butt;
  stroke-width: 3px;
  fill: none;
  stroke-dasharray: 20px 100px;
  transition: stroke-dashoffset 0.3s ease, stroke-dasharray 0.3s ease;
  -webkit-transition: stroke-dashoffset 0.3s ease, stroke-dasharray 0.3s ease;
}

.button-2ZR58H.open-3KjR1l {
    -webkit-transform: none;
    transform: none;
}

.button-2ZR58H.open-3KjR1l path {
  stroke: #fff;
}

  .button-2ZR58H path:nth-of-type(1) {
    stroke-dasharray: 20px 100px;
    d: path('M10,12 L30,12 C50,10 50,-10 28,12 L10,30');
  }

  .button-2ZR58H.open-3KjR1l path:nth-of-type(1),
  .button-2ZR58H.open-3KjR1l path:nth-of-type(3) {
    stroke-dashoffset: -59.6px;
    stroke-dasharray: 18px 100px;
  }

  .button-2ZR58H path:nth-of-type(2) {
    stroke-dasharray: 20px 100px;
    d: path('M10,18 L30,18');
  }

  .button-2ZR58H.open-3KjR1l path:nth-of-type(2) {
      stroke-dasharray: 0px 100px;
      stroke-dashoffset: -11px;
    }

  .button-2ZR58H path:nth-of-type(3) {
    stroke-dasharray: 20px 100px;
    d: path('M10,24 L30,24 C50,26 50,46 30,26 L10,10');
  }

  .button-2ZR58H.open-3KjR1l path:nth-of-type(3) {
    d: path('M 10 12 L 30 12 C 50 10 50 -10 28 12 L 10 30');
    transform: translate(42px,0) scale(-1, 1);
  }
/*====================*/
